/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#product_dashboard_links {
    float: right;
    padding-right: 25px;
    border: 1px solid rgb(116, 126, 147);
}

.product_name {
    font-size: 2em;
    margin: 10px 0 10px 0;
    color: rgb(109, 117, 129);
}

.product_description {
    font-size: 90%;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.percentage {
    position:relative;
    width: 200px;
    border: 1px solid rgb(203, 203, 203);
    position: relative;
    padding: 3px;
}

.bar{
    background-color: #00ff00;
    height: 20px;
}

.percent{
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}
