[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<table class="mozreview-requests" data-mozreview-url="[% Bugzilla.params.mozreview_base_url FILTER html %]">
  <thead>
    <tr>
      <th>Submitter</th>
      <th>Diff</th>
      <th>Changes</th>
      <th>Open Issues</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody class="mozreview-request">
    <tr class="mozreview-loading-row">
      <td colspan="4">Loading...</td>
    </tr>
    <tr class="mozreview-loading-error-row bz_default_hidden">
      <td colspan="4">Error loading review requests:
        <span class="mozreview-load-error-string"></span></td>
    </tr>
  </tbody>
</table>
