[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

// Note: only publicly-accessible bugs (those not in any group) will be
// listed when using this JavaScript format. This is to prevent malicious
// sites stealing information about secure bugs.
  
bugs = new Array; 

[% FOREACH bug = bugs %]
  bugs[[% bug.bug_id %]] = [ 
    [% FOREACH column = displaycolumns %]
      "[%- bug.$column FILTER js -%]"[% "," UNLESS loop.last %]
    [% END %]
  ];
[% END %]

if (window.buglistCallback) {
  buglistCallback(bugs);
}
