<dt>
  [% display_value("resolution", "INCOMPLETE") FILTER html %]
</dt>
<dd>
  The problem is vaguely described with no steps to reproduce,
  or is a support request. The reporter should be directed to the
  product's support page for help diagnosing the issue. If there
  are only a few comments in the [% terms.bug %], it may be reopened only if
  the original reporter provides more info, or confirms someone
  else's steps to reproduce. If the [% terms.bug %] is long, when enough info
  is provided a new [% terms.bug %] should be filed and the original [% terms.bug %]
  marked as a duplicate of it.
</dd>
