[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # keyword: A Bugzilla::Keyword object.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Delete Keyword"
%]

<p>
  [% IF keyword.bug_count == 1 %]
    There is one [% terms.bug %] with this keyword set.
  [% ELSIF keyword.bug_count > 1 %]
    There are [% keyword.bug_count FILTER html %] [%+ terms.bugs %] with
    this keyword set.
  [% END %]
  
  Are you <b>sure</b> you want to delete
  the <code>[% keyword.name FILTER html %]</code> keyword?
</p>

<form method="post" action="editkeywords.cgi">
  <input type="hidden" name="id" value="[% keyword.id FILTER html %]">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="delete"
         value="Yes, really delete the keyword">
</form>

<p><a href="editkeywords.cgi">Edit other keywords</a>.</p>

[% PROCESS global/footer.html.tmpl %] 
