[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License,  v. 2.0. If a copy of the MPL was not distributed with this
  # file,  You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses",  as
  # defined by the Mozilla Public License,  v. 2.0.
  #%]

[% 
  vars.help_html.autoland =
      "TryAutoLand is a BMO extension that allows integration with the $terms.Bugzilla
       AutoLanding system. Select patches on a $terms.bug will be picked up 
       automatically and landed on the try build server for specified branches.
       Results of the try build will be sent back to the bug report as comments."
%]
