[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the BMO Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   David Lawrence <dkl@mozilla.com>
  #%]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

Priority for your Team:
[%+ cgi.param('teampriority') %]

Timeframe for Completion:
[%+ cgi.param('timeframe') %]

Goal:
[%+ cgi.param('goal') %]

Business Objective:
[%+ cgi.param('busobj') %]

Other Party:
[%+ cgi.param('otherparty') %]

Description:
[%+ cgi.param("comment") %]
