[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

>> What team are you are a part of?
[%+ cgi.param("team_name") %]

>> Will your snippet need to appear in a language other than English?
[%+ cgi.param("language").join(', ') %]

>> Does your snippet need to be targeted to a particular country?
[%+ cgi.param("target_country") %]

>> Insert your tagged link here.
[%+ cgi.param("tagged_link") %]

[% IF cgi.param('start_run') %]
>> When would you like your snippet to start its run?
[%+ cgi.param("start_run") %]

[% END %]
[% IF cgi.param('complete_run') %]
>> When would you like your snippet to complete its run?
[%+ cgi.param("complete_run") %]

[% END %]
>> Will you be able to provide the following assets for your snippet?
[%+ cgi.param("snippet_assets").join(', ') %]

>> Your name?
[%+ cgi.param("name") %]

>> E-mail?
[%+ cgi.param("email") %]

>> Anything else you would like to add?
[%+ cgi.param("else") %]

>> Who do you think is coolest?
[%+ cgi.param("bonus") %]
