[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[% PROCESS global/variables.none.tmpl %]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]
> What are you asking us to do?
[%+ cgi.param('desc_1') %]

> What is the problem you are trying to solve?
[%+ cgi.param('desc_2') %]

> How would you solve this problem?  How has this problem been solved in the past?
[%+ cgi.param('desc_3') %]

> Who might be impacted by this change?
[%+ cgi.param('desc_4') %]

> What are the known dependencies for this request?
[%+ cgi.param('desc_5') %]
