[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]

[% IF cgi.param('request_type') == 'bug' %]
What did you do?
================
[%+ cgi.param('bug_actions') %]

What happened?
==============
[%+ cgi.param('bug_actual_results') %]

What should have happened?
==========================
[%+ cgi.param('bug_expected_results') %]

[% ELSIF cgi.param('request_type') == 'feature' %]
What problem would this feature solve?
======================================
[%+ cgi.param('feature_problem') %]

Who has this problem?
=====================
[% IF cgi.param('feature_audience') == 'Other' %]
[%+ cgi.param('feature_audience_other_text') %]
[% ELSE %]
[%+ cgi.param('feature_audience') %]
[% END %]

How do you know that the users identified above have this problem?
==================================================================
[%+ cgi.param('feature_identification') %]

How are the users identified above solving this problem now?
============================================================
[%+ cgi.param('feature_solution') %]

Do you have any suggestions for solving the problem? Please explain in detail.
==============================================================================
[%+ cgi.param('feature_suggestions') %]

[% ELSIF cgi.param('request_type') == 'change' %]
What feature should be changed? Please provide the URL of the feature if possible.
==================================================================================
[%+ cgi.param('change_feature') %]

What problems would this solve?
===============================
[%+ cgi.param('change_problem_solving') %]

Who would use this?
===================
[%+ cgi.param('change_audience') %]

What would users see?
=====================
[%+ cgi.param('change_interface') %]

What would users do? What would happen as a result?
===================================================
[%+ cgi.param('change_process') %]

[% END %]
Is there anything else we should know?
======================================
[%+ cgi.param("description") %]
