[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]
>>Project/Request Title:
[%+ cgi.param('short_desc') %]

>>Project Overview:
[%+ cgi.param('overview') %]

>>Creative Specs & Deliverables:
[%+ cgi.param("specs") %]

>>Launch Date:
[%+ cgi.param("cf_due_date") || 'Not provided' %]

>>Creative Due Date:
[%+ cgi.param("creative_due_date") || 'Not provided' %]

>>Mozilla Goal:
[%+ IF cgi.param("goal_other") %][% cgi.param("goal_other") %][% ELSE %][% cgi.param("goal") %][% END %]

>>Points of Contact:
[%+ cgi.param('cc') || 'Not provided' %]
