[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # IMPORTANT
  #
  # If you update this template, you must also update the parsing code in
  # extensions/BMO/lib/Reports/Recruiting.pm
  #
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

Position Job Family Title:
[%+ cgi.param('position_job_family_title') %]

Cost Center:
[%+ cgi.param('cost_center') %]

Hiring Manager:
[%+ cgi.param('hiring_manager_name') %]

Hiring Manager Workday Title:
[%+ cgi.param('hiring_manager_workday_title') %]

Director Authority:
[%+ cgi.param('director_authority') %]

VP Authority:
[%+ cgi.param('vp_authority') %]

HRBP:
[%+ cgi.param('hrbp_name') %]

Employment Type:
[%+ cgi.param('employment_type') %]

Desired Locations:
[%+ cgi.param("desired_location").join(', ') %]

Job Level:
[%+ cgi.param('job_level') %]

Comp Grade:
[%+ cgi.param("comp_grade") %]

Is this new headcount or backfill?
[%+ cgi.param("new_or_backfill") %]

Name of Backfill:
[%+ cgi.param('backfill_name') %]

Are you hiring multiple of this position this year?
[%+ cgi.param("multiple") %]

Please include Job Family:
[%+ cgi.param("job_family") %]

What part of your strategic plan does this role impact?
[%+ cgi.param("plan_impact") %]

Why is this critical for success?
[%+ cgi.param("critical_success") %]
