[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]
>> Feature Request Title:
[%+ cgi.param('short_desc') %]

>> Description of feature, or problem to be solved
[%+ cgi.param("description") %]

>> Impact of implementing the feature/solution
[%+ cgi.param("implement_impact") %]

>> Impact of NOT implementing the feature/solution
[%+ cgi.param("not_implement_impact") %]

>> Date required
[%+ cgi.param("date_required") %]
