[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

::

Name:
[%+ cgi.param('name') %]

Email Address:
[%+ cgi.param('email') %]

Role in relation to event:
[%+ cgi.param('role') %]

Vouched Mozillian:
[%+ cgi.param('vouched_mozillian') %]

[% IF cgi.param('vouched_mozillian') == 'Yes' %]
Mozillian URL:
[%+ cgi.param('mozillian_profile_url') %]
[% END %]

::

Developer Event?:
[%+ cgi.param('developer_event') %]

Is Mozilla Attending?:
[%+ cgi.param('mozilla_attending') %]

[% IF cgi.param('mozilla_attending') == 'Yes' %]
Mozilla Attending List:
[%+ cgi.param('mozilla_attending_list') %]
[% END %]

Code of Conduct?:
[%+ cgi.param('code_of_conduct') %]

Code of Conduct URL:
[%+ cgi.param('code_of_conduct_url') %]

Event Name:
[%+ cgi.param('event') %]

Start Date:
[%+ cgi.param('start_date') %]

End Date:
[%+ cgi.param('end_date') %]

Event Location:
[%+ cgi.param('event_location') %]

Event Location Description:
[%+ cgi.param('location') || "-" %]

Venue:
[%+ cgi.param('venue') || "-" %]

Weblink:
[%+ cgi.param('link') || "-" %]

Expected Attendees:
[%+ cgi.param('attendees') || "-" %]

Primary Audience:
[%+ cgi.param('audience') %]

Event Description:
[%+ cgi.param('desc') || "-" %]

::

Relevant Products:
[% "\n* Firefox Web Browser" IF cgi.param('product_fx') %]
[% "\n* Encryption" IF cgi.param('product_encryption') %]
[% "\n* Web Assembly/Platform" IF cgi.param('product_web_asm') %]
[% "\n* Rust" IF cgi.param('product_rust') %]
[% "\n* Servo" IF cgi.param('product_servo') %]
[% "\n* webVR" IF cgi.param('product_webvr') %]
[% "\n* The Free and Open Web" IF cgi.param('product_fow') %]
[% "\n* Developer Tools" IF cgi.param('product_devtools') %]
[% "\n* Other: " _ cgi.param('product_other_text') IF cgi.param('product_other') %]

Option to Sponsor a Booth?:
[%+ cgi.param('sponsor_booth') %]

Need a Speaker?:
[%+ cgi.param('speaker_needed') %]

[% IF cgi.param('speaker_needed') == 'Yes' %]
Speaker Needed Topic:
[%+ cgi.param('speaker_needed_topic') %]
[% END %]

::

Requests:
[% "\n* Keynote Presentation" IF cgi.param('request_keynote') %]
[% "\n* Talk Presentation" IF cgi.param('request_talk') %]
[% "\n* Workshop" IF cgi.param('request_workshop') %]
[% "\n* Sponsorship" IF cgi.param('request_sponsorship') %]
[% "\n* Other: " _ cgi.param('request_other_text') IF cgi.param('request_other') %]

Mozilla Sponsored Event Before?:
[%+ cgi.param('previous_event') %]

[% IF cgi.param('previous_event') == 'Yes' %]
Previous Event Year:
[%+ cgi.param('previous_event_year') %]

Previous Event Name:
[%+ cgi.param('previous_event_name') %]
[% END %]

Suggested sponsorship amount/level:
[%+ cgi.param('sponsorship_suggestion') || "-" %]

How would the conference/event support Mozilla's mission and goals?:
[%+ cgi.param('support_mission') || "-" %]

How would we receive feedback to evaluate the success of the conference/event?:
[%+ cgi.param('feedback_method') || "-" %]

Anything Else:
[%+ cgi.param('else') || "-" %]
