[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi +%]
[% PROCESS global/variables.none.tmpl +%]
:: Gear Requested

 Purpose of Gear: [% cgi.param("purpose") %] [%+ cgi.param("purpose_other") %]
   Date Required: [% cgi.param("date_required") || "-" %]

[%+ cgi.param("items") %]

:: Requester

            Name: [% cgi.param('firstname') %] [% cgi.param('lastname') %]
           Email: [% cgi.param('email') %]
   Mozilla Space: [% cgi.param('mozspace') || "-" %]
 Team/Department: [% cgi.param('teamcode') %]

:: Recipient

[% IF cgi.param("purpose") == "Mozillian Recognition" %]
This [% terms.bug %] needs recipient shipping information: [% cgi.param("recognition_shipping") ? "Yes" : "No" %]
This [% terms.bug %] needs recipient size information: [% cgi.param("recognition_sizing") ? "Yes" : "No" %]
[% END %]

            Name: [%+ cgi.param("shiptofirstname") +%] [%+ cgi.param("shiptolastname") +%]
           Email: [%+ cgi.param("shiptoemail") +%]
[% IF cgi.param("shiptoaddress1") %]
         Address:
    [%+ cgi.param("shiptoaddress1") +%]
    [%+ cgi.param("shiptoaddress2") +%]
    [%+ cgi.param("shiptocity") +%] [%+ cgi.param("shiptostate") +%] [%+ cgi.param("shiptopostcode") +%]
    [%+ cgi.param("shiptocountry") %]
           Phone: [% cgi.param("shiptophone") %]
 Personal ID/RUT: [% cgi.param("shiptoidrut") || "-" %]
[% END %]

[% IF cgi.param("comment") %]
:: Comments

[%+ cgi.param("comment") %]
[% END %]

