[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  cost_centers = [
    "1000 - Support Services"
    "1001 - Office of Chair"
    "1002 - Participation"
    "1010 - Office of CTO"
    "1011 - Research"
    "1012 - Tech Evangelism"
    "1013 - Advanced Technology Lab"
    "1014 - Technology Strategy"
    "1020 - Chief of Staff"
    "1100 - Policy"
    "1120 - Legal"
    "1150 - Business Development"
    "1210 - Finance and Accounting"
    "1211 - Accounting"
    "1212 - Finance"
    "1213 - Payroll"
    "1250 - Facilities"
    "1320 - People Operations"
    "1340 - People"
    "1350 - Recruiting"
    "1360 - Metrics"
    "1400 - IT and Network"
    "1500 - General Content Services"
    "1501 - Engineering"
    "1502 - Sales"
    "1503 - Product"
    "1700 - Strategic Initiative"
    "2000 - Engagement"
    "2200 - PR"
    "2300 - Community Engagement"
    "2320 - MDN"
    "2400 - Brand Engagement"
    "2500 - Engagement Websites"
    "2600 - SUMO"
    "3000 - Cloud and Services"
    "3100 - Infrastructure (servers)"
    "3110 - Production Cloud Infra"
    "3120 - Development Cloud Infra"
    "3130 - Production DC Infra"
    "3210 - Services and Engineering Operations"
    "3220 - Cloud Services Operation"
    "3240 - Cloud Services Product and Project Management"
    "3290 - Identity Services"
    "5000 - Firefox"
    "5100 - Firefox Product Marketing"
    "5200 - Firefox Desktop"
    "5210 - Firefox Desktop Engineering"
    "5220 - Firefox Desktop UX"
    "5230 - Firefox Desktop Product Management"
    "5250 - Firefox Hello"
    "5300 - Firefox Mobile"
    "5310 - Firefox Android Engineering"
    "5320 - Firefox Android UX"
    "5330 - Firefox Android Product Management"
    "5400 - Firefox Dev Tools"
    "5500 - Firefox iOS"
    "5600 - Firefox Program Management"
    "6000 - Mobile"
    "6110 - Firefox OS Engineering I"
    "6140 - Firefox OS Automation"
    "6150 - Firefox OS Engineering Program Management"
    "6160 - Firefox OS QA"
    "6200 - Firefox OS Product Management"
    "6220 - Firefox OS Product Marketing"
    "6300 - Firefox OS UX"
    "6500 - Mobile Business Development"
    "7000 - Mobile Planning and Ecosystem"
    "7110 - Mobile Partner Engineering"
    "7120 - Mobile Planning"
    "7130 - Mobile Apps Engineering"
    "7150 - Mobile Partners Contents"
    "7200 - Mobile Ecosystem Program Management"
    "7220 - Mobile Partner Products"
    "7500 - Reviews and Community"
    "8000 - Engineering Platform"
    "8100 - Release Engineering"
    "8300 - Engineering Operations"
    "8400 - Platform PKI"
    "8410 - Platform Network"
    "8420 - Platform Security"
    "8430 - Platform Fuzzing"
    "8440 - Platform DOM"
    "8450 - Platform Rendering, Media and Graphics"
    "8460 - Platform Android"
    "8470 - Platform WebRTC"
    "8480 - Platform e10s"
    "8490 - Platform Accessibility"
    "8510 - Platform QE"
    "8600 - Engineering Productivity"
    "8700 - JavaScript"
    "8750 - Localization (l10n)"
    "900 - Mozilla Foundation"
    "901 - MoFo NSF"
    "9999 - Moz Taiwan"
  ];

  # the above list is in a format that mirrors the output we get from our financial system
  # some forms prefer different ordering, so cut it up and reorder
  cost_centers_by_name = [];
  cost_centers_by_number = [];
  FOREACH cost_center IN cost_centers;
    matches = cost_center.match('^(\d+) - (.+)');
    cost_centers_by_name.push(matches.1 _ " (" _ matches.0 _ ")");
    num = matches.0 FILTER format("%04d");
    cost_centers_by_number.push(num _ " - " _ matches.1);
  END;
  cost_centers_by_name = cost_centers_by_name.sort;
  cost_centers = cost_centers_by_number.sort;
%]
