<option value="1000 - Office of CEO">1000 - Office of CEO</option>
<option value="1001 - Office of Chair">1001 - Office of Chair</option>
<option value="1002 - Participation">1002 - Participation</option>
<option value="1010 - Office of CTO">1010 - Office of CTO</option>
<option value="1011 - Research">1011 - Research</option>
<option value="1012 - Tech Evangelism">1012 - Tech Evangelism</option>
<option value="1013 - Advanced Technology Lab">1013 - Advanced Technology Lab</option>
<option value="1014 - Technology Strategy">1014 - Technology Strategy</option>
<option value="1020 - Chief of Staff">1020 - Chief of Staff</option>
<option value="1100 - Policy">1100 - Policy</option>
<option value="1120 - Legal">1120 - Legal</option>
<option value="1150 - Business Development">1150 - Business Development</option>
<option value="1210 - Finance & Accounting">1210 - Finance & Accounting</option>
<option value="1211 - Accounting">1211 - Accounting</option>
<option value="1212 - Finance">1212 - Finance</option>
<option value="1213 - Payroll">1213 - Payroll</option>
<option value="1250 - Facilities">1250 - Facilities</option>
<option value="1320 - People Operations">1320 - People Operations</option>
<option value="1340 - People">1340 - People</option>
<option value="1350 - Recruiting">1350 - Recruiting</option>
<option value="1360 - Metrics">1360 - Metrics</option>
<option value="1400 - IT & Network">1400 - IT & Network</option>
<option value="1500 - Content Services">1500 - Content Services</option>
<option value="1700 - Strategic Initiative">1700 - Strategic Initiative</option>
<option value="2000 - Engagement">2000 - Engagement</option>
<option value="2200 - PR">2200 - PR</option>
<option value="2300 - Community Engagement">2300 - Community Engagement</option>
<option value="2320 - MDN">2320 - MDN</option>
<option value="2400 - Brand Engagement">2400 - Brand Engagement</option>
<option value="2500 - Websites">2500 - Websites</option>
<option value="2600 - SUMO">2600 - SUMO</option>
<option value="3000 - Cloud Services">3000 - Cloud Services</option>
<option value="3100 - Infrastructure (servers)">3100 - Infrastructure (servers)</option>
<option value="3110 - Production Cloud Infra">3110 - Production Cloud Infra</option>
<option value="3120 - Development Cloud Infra">3120 - Development Cloud Infra</option>
<option value="3130 - Production DC Infra">3130 - Production DC Infra</option>
<option value="3210 - FxA Engineering">3210 - FxA Engineering</option>
<option value="3220 - Cloud Services Operation">3220 - Cloud Services Operation</option>
<option value="3230 - Cloud Services UX">3230 - Cloud Services UX</option>
<option value="3240 - Cloud Services Product & Project Management">3240 - Cloud Services Product & Project Management</option>
<option value="4000 - Insights and Strategy">4000 - Insights and Strategy</option>
<option value="5000 - Firefox">5000 - Firefox</option>
<option value="5100 - Firefox Product Marketing">5100 - Firefox Product Marketing</option>
<option value="5200 - Firefox Desktop">5200 - Firefox Desktop</option>
<option value="5210 - Firefox Desktop Engineering">5210 - Firefox Desktop Engineering</option>
<option value="5220 - Firefox Desktop UX">5220 - Firefox Desktop UX</option>
<option value="5230 - Firefox Desktop Product Management">5230 - Firefox Desktop Product Management</option>
<option value="5240 - Firefox Desktop Platform Integration">5240 - Firefox Desktop Platform Integration</option>
<option value="5250 - Firefox Hello">5250 - Firefox Hello</option>
<option value="5300 - Firefox Mobile">5300 - Firefox Mobile</option>
<option value="5310 - Firefox Android Engineering">5310 - Firefox Android Engineering</option>
<option value="5320 - Firefox Android UX">5320 - Firefox Android UX</option>
<option value="5330 - Firefox Android Product Management">5330 - Firefox Android Product Management</option>
<option value="5400 - Firefox Dev Tools">5400 - Firefox Dev Tools</option>
<option value="5500 - Firefox iOS">5500 - Firefox iOS</option>
<option value="6000 - Mobile">6000 - Mobile</option>
<option value="6110 - Firefox OS Engineering">6110 - Firefox OS Engineering</option>
<option value="6140 - Firefox OS Automation">6140 - Firefox OS Automation</option>
<option value="6150 - Firefox OS Engineering Program Management">6150 - Firefox OS Engineering Program Management</option>
<option value="6160 - Firefox OS QA">6160 - Firefox OS QA</option>
<option value="6200 - Firefox OS Product Management">6200 - Firefox OS Product Management</option>
<option value="6220 - Firefox OS Product Marketing">6220 - Firefox OS Product Marketing</option>
<option value="6300 - Firefox OS UX">6300 - Firefox OS UX</option>
<option value="6500 - Mobile Business Development">6500 - Mobile Business Development</option>
<option value="7000 - Mobile Planning & Ecosystem">7000 - Mobile Planning & Ecosystem</option>
<option value="7110 - Mobile Partner Engineering">7110 - Mobile Partner Engineering</option>
<option value="7120 - Mobile Planning">7120 - Mobile Planning</option>
<option value="7130 - Mobile Apps Engineering">7130 - Mobile Apps Engineering</option>
<option value="7150 - Mobile Partners Contents">7150 - Mobile Partners Contents</option>
<option value="7200 - Mobile Ecosystem Program Manangement">7200 - Mobile Ecosystem Program Manangement</option>
<option value="7220 - Mobile Partner Products">7220 - Mobile Partner Products</option>
<option value="7500 - Add Ons">7500 - Add Ons</option>
<option value="8000 - Engineering Platform">8000 - Engineering Platform</option>
<option value="8100 - Release Engineering">8100 - Release Engineering</option>
<option value="8200 - Web Engineering">8200 - Web Engineering</option>
<option value="8300 - Engineering Program Management">8300 - Engineering Program Management</option>
<option value="8400 - Platform PKI">8400 - Platform PKI</option>
<option value="8410 - Platform Network">8410 - Platform Network</option>
<option value="8420 - Platform Security">8420 - Platform Security</option>
<option value="8430 - Platform Fuzzing">8430 - Platform Fuzzing</option>
<option value="8440 - Platform DOM">8440 - Platform DOM</option>
<option value="8450 - Platform Rendering, Media & Graphics">8450 - Platform Rendering, Media & Graphics</option>
<option value="8460 - Platform Android">8460 - Platform Android</option>
<option value="8470 - Platform WebRTC">8470 - Platform WebRTC</option>
<option value="8480 - Platform Integration">8480 - Platform Integration</option>
<option value="8490 - Platform Accessibility">8490 - Platform Accessibility</option>
<option value="8500 - QA">8500 - QA</option>
<option value="8510 - Platform QE">8510 - Platform QE</option>
<option value="8520 - QA Automation">8520 - QA Automation</option>
<option value="8530 - QA Web">8530 - QA Web</option>
<option value="8550 - QA Android">8550 - QA Android</option>
<option value="8600 - Development Tools & Automation">8600 - Development Tools & Automation</option>
<option value="8700 - JavaScript">8700 - JavaScript</option>
<option value="8750 - Localization (l10n)">8750 - Localization (l10n)</option>
