[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Firefox OS Dogfooding Bug Submission"
%]

<h1>Thank you!</h1>

<p>
  Thank you for submitting feedback about Firefox OS.
</p>

<p>
  We'll link any [% terms.bugs %] we file (or are already filed) as a result of
  this feedback to this report so you can be notified about their progress.
</p>

<p style="font-size: x-small">
  Reference: <a href="show_bug.cgi?id=[% id FILTER uri %]">#[% id FILTER html %]</a>
</p>

[% PROCESS global/footer.html.tmpl %]
