[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% inline_css = BLOCK %]
#dev_form {
  width: 60%;
}
#dev_form .required:after {
  content: " *";
  color: red;
}
#dev_form .field_label {
  text-align: left;
  font-weight: bold;
}
#dev_form .field_desc,
#dev_form .head_desc {
  word-wrap: normal;
}
#dev_form .head_desc {
  font-size: 1.5em;
  padding-bottom: .5em;
}
#dev_form .form_section {
  margin-bottom: 1em;
  padding-left: 2em;
}
.yui-calcontainer {
  z-index: 2;
}
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Developer Events Request Form"
   generate_api_token = 1
   style = inline_css
   style_urls = [ 'skins/standard/enter_bug.css' ]
   javascript_urls = [ 'js/field.js',
                       'js/util.js',
                       'extensions/BMO/web/js/form_validate.js',
                       'extensions/BMO/web/js/dev_engagement.js' ]
%]

<h2>Developer Events Request Form</h2>

<form method="post" action="post_bug.cgi" id="dev_form"
      class="enter_bug_form" enctype="multipart/form-data">
<input type="hidden" name="format" value="dev-engagement-event">
<input type="hidden" name="product" value="Developer Engagement">
<input type="hidden" name="short_desc" id="short_desc" value="">
<input type="hidden" name="component" value="Events Request">
<input type="hidden" name="rep_platform" value="All">
<input type="hidden" name="op_sys" value="All">
<input type="hidden" name="priority" value="--">
<input type="hidden" name="version" value="unspecified">
<input type="hidden" name="keywords" value="event-request-under-review">
<input type="hidden" name="bug_severity" id="bug_severity" value="normal">
<input type="hidden" name="comment" id="comment" value="">
<input type="hidden" name="status_whiteboard" id="status_whiteboard" value="">
<input type="hidden" name="bug_file_loc" id="bug_file_loc" value="">
<input type="hidden" name="cf_due_date" id="cf_due_date" value="">
<input type="hidden" name="groups" id="groups" value="mozilla-employee-confidential">
<input type="hidden" name="token" value="[% token FILTER html %]">

<p>Hi! Thanks so much for asking Mozilla to participate at your event!</p>
<p>The Developer Events Team evaluates each request individually, based on
  multiple criteria, including quarterly goals and priorities. We meet at
  least biweekly, and this form is designed to gather all the information
  we need to evaluate each request at these meetings. Please take a minute
  to fill it out thoroughly so we can process your request as soon as
  possible.</p>
<p>Please review our
  <a href="https://wiki.mozilla.org/Engagement/Developer_Engagement/Event_request_guidelines">
  event request guidelines</a> for information about how we evaluate requests.</p>

<div class="head_desc">
  First, tell us about yourself!
</div>

<div class="form_section">
  <div class="field_label required">
    What is your name?
  </div>
  <input type="text" name="name" id="name" size="40" class="wide"
         value="[% user.name FILTER html %]">
</div>

<div class="form_section">
  <div class="field_label required">
    Please provide your email address.
  </div>
  <input type="text" name="email" id="email" size="40" class="wide"
         value="[% user.login FILTER html %]">
</div>

<div class="form_section">
  <div class="field_label required">
    What is your role in relation to this event?
  </div>
  <div class="field_desc">
    eg. organizer, speaker/attendee (past), speaker/attendee (current), etc.
  </div>
  <input type="text" name="role" id="role" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Are you a vouched Mozillian?
  </div>
  <select id="vouched_mozillian" name="vouched_mozillian">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
</div>

<div id="mozillian_profile_url_section" class="form_section bz_default_hidden">
  <div class="field_label required">
    Mozillian profile URL
  </div>
  <input type="text" name="mozillian_profile_url"
         id="mozillian_profile_url" size="40" class="wide">
</div>

<div class="head_desc">
  Let's start with the basics.
</div>

<div class="form_section">
  <div class="field_label required">
    Is this a developer event?
  </div>
  <select id="developer_event" name="developer_event">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <div id="developer_event_warning" class="bz_default_hidden">
    The Developer Events Team only participates in developer events.
    Form submission has been disabled.
  </div>
</div>

<div class="form_section">
  <div class="field_label required">
    Is someone from Mozilla attending?
  </div>
  <select id="mozilla_attending" name="mozilla_attending">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <div id="mozilla_attending_warning" class="warning bz_default_hidden">
    The Developer Events Team usually doesn’t sponsor an event unless someone
    from Mozilla is attending. If you would like to request a speaker, there’s
    an opportunity to do so later on this page.
  </div>
</div>

<div id="mozilla_attending_list_section" class="form_section bz_default_hidden">
  <div class="field_label required">
    Please list the names of anyone from Mozilla who are already registered to
    attend, speak, or participate in this event.
  </div>
  <input type="text" name="mozilla_attending_list"
         id="mozilla_attending_list" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Do you have a code of conduct?
  </div>
  <select id="code_of_conduct" name="code_of_conduct">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <div id="code_of_conduct_warning" class="warning bz_default_hidden">
    Mozilla only participates in events that have a code of conduct.
    Fom submission has been disabled.
  </div>
</div>

<div id="code_of_conduct_url_section" class="form_section bz_default_hidden">
  <div class="field_label required">
    Code of Conduct URL
  </div>
  <input type="text" name="code_of_conduct_url"
         id="code_of_conduct_url" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Event Name
  </div>
  <input type="text" name="event" id="event" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Start Date
  </div>
  <input type="text" name="start_date" id="start_date" size="15" class="date"
         onchange="updateCalendarFromField(this)">
  <button type="button" class="calendar_button"
          id="button_calendar_start_date"
          onclick="showCalendar('start_date')">
    <span>Calendar</span>
  </button>
  <div id="con_calendar_start_date"></div>
</div>

<div class="form_section">
  <div class="field_label required">
    End Date
  </div>
  <input type="text" name="end_date" id="end_date" size="15" class="date"
         onchange="updateCalendarFromField(this)">
  <button type="button" class="calendar_button"
          id="button_calendar_end_date"
          onclick="showCalendar('end_date')">
    <span>Calendar</span>
  </button>
  <div id="con_calendar_end_date"></div>
</div>

<div class="form_section">
  <div class="field_label required">
    Event Location
  </div>
  <select id="event_location" name="event_location">
    <option value="">Select</option>
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Australia">Australia</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="Central / South America">Central / South America</option>
    <option value="Multiple">Multiple</option>
    <option value="Online only">Online only</option>
  </select>
</div>

<div class="form_section">
  <div class="field_label required">
    Event Location Description
  </div>
  <div class="field_desc">
    Include city, state, and country.
  </div>
  <input type="text" name="location" id="location" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label">
    Venue
  </div>
  <div class="field_desc">
    What is the name of the venue where your event will be held? Enter TBD if
    you don't know yet.
  </div>
  <input type="text" name="venue" id="venue" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label">
    Weblink
  </div>
  <div class="field_desc">
    Weblink to the event site, Eventbrite page, Lanyrd page, Meetup page, etc.
  </div>
  <input type="text" name="link" id="link" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Number of expected attendees
  </div>
  <input type="text" name="attendees" id="attendees" size="15">
</div>

<div class="form_section">
  <div class="field_label required">
    Who is the primary audience for this event? [% mandatory FILTER none %]
  </div>
  <div class="field_desc">
    Developers (specify coding language and platform), business development,
    marketing associates, corporate executives, etc.
  </div>
  <input type="text" name="audience" id="audience" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label required">
    Please give a [short] description of the event.
  </div>
  <div class="field_desc">
    Include track topics, presentation topics, event format.
  </div>
  <textarea name="desc" id="desc" rows="10" cols="40" class="wide"></textarea>
</div>

<div class="head_desc">
  Some more detail on the event.
</div>

<div class="form_section">
  <div class="field_label required">
    Which Mozilla products/projects are most relevant to this event?
  </div>
  <div class="field_desc">
    Please select all that apply. See
    <a href="https://www.mozilla.org/en-US/products/" target="_blank">
    mozilla.org/products</a> for more information about Mozilla products.
  </div>
  <input type="checkbox" name="product_fx" id="product_fx">
  <label for="product_fx">Firefox Web Browser</label><br>

  <input type="checkbox" name="product_encryption" id="product_encryption">
  <label for="product_encryption">Encryption</label><br>

  <input type="checkbox" name="product_web_asm" id="product_web_asm">
  <label for="product_web_asm">Web Assembly/Platform</label><br>

  <input type="checkbox" name="product_rust" id="product_rust">
  <label for="product_rust">Rust</label><br>

  <input type="checkbox" name="product_servo" id="product_servo">
  <label for="product_servo">Servo</label><br>

  <input type="checkbox" name="product_webvr" id="product_webvr">
  <label for="product_webvr">webVR</label><br>

  <input type="checkbox" name="product_fow" id="product_fow">
  <label for="product_fow">The Free and Open Web</label><br>

  <input type="checkbox" name="product_devtools" id="product_devtools">
  <label for="product_devtools">Developer Tools</label><br>

  <input type="checkbox" name="product_other" id="product_other">
  <label for="product_other">Other:</label>
  <input type="text" name="product_other_text" id="product_other_text"
         size="40" disabled>
</div>

<div class="form_section">
  <div class="field_label required">
    Do you have an option to sponsor a booth?
  </div>
  <select id="sponsor_booth" name="sponsor_booth">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
</div>

<div class="form_section">
  <div class="field_label required">
    Do you need a speaker?
  </div>
  <select id="speaker_needed" name="speaker_needed">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
</div>

<div class="form_section">
  <div class="field_label">
    How would the conference/event support <a href="https://www.mozilla.org/mission/">
    Mozilla's mission and goals</a>?
  </div>
  <div class="field_desc">
    Are there specific portions of the conference/event that can be described to be
    specifically beneficial to our mission?
  </div>
  <textarea name="support_mission" id="support_mission" rows="10" cols="40" class="wide"></textarea>
</div>

<div class="form_section">
  <div class="field_label">
    How would we receive feedback to evaluate the success of the conference/event?
  </div>
  <div class="field_desc">
    Please be specific in measurements or feedback process.
  </div>
  <textarea name="feedback_method" id="feedback_method" rows="10" cols="40" class="wide"></textarea>
</div>

<div id="speaker_needed_detail_section" class="form_section bz_default_hidden">
  <div class="field_label required">
    What topic do you want someone to speak about?
  </div>
  <div class="field_desc">
    Please be specific so that we can find a great speaker for you. Examples:
    Developer Tools for Firefox, the future of the Web, CSS media queries.
  </div>
  <input type="text" name="speaker_needed_topic"
         id="speaker_needed_topic" size="40" class="wide">
</div>

<div class="head_desc">
  Tell us more about what you're looking for!
</div>

<div class="form_section">
  <div class="field_label required">
    What are you requesting from Mozilla?
  </div>
  <div class="field_desc">
    Please select all that apply.
  </div>
  <input type="checkbox" name="request_keynote" id="request_keynote">
  <label for="request_keynote">Keynote Presentation</label><br>
  <input type="checkbox" name="request_talk" id="request_talk">
  <label for="request_talk">Talk Presentation (non-keynote)</label><br>
  <input type="checkbox" name="request_workshop" id="request_workshop">
  <label for="request_workshop">Workshop</label><br>
  <input type="checkbox" name="request_sponsorship" id="request_sponsorship"
         onchange="onRequestSponsorshipChange()">
  <label for="request_sponsorship">Sponsorship</label><br>
  <input type="checkbox" name="request_other" id="request_other">
  <label for="request_other">Other:</label>
  <input type="text" name="request_other_text" id="request_other_text"
         size="40" disabled>
</div>

<div class="form_section">
  <div class="field_label required">
    Has Mozilla sponsored this event before?
  </div>
  <select id="previous_event" name="previous_event">
    <option value="">Select</option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
</div>

<div id="previous_event_details_section" class="form_section bz_default_hidden">
  <div class="field_label required">
    Year
  </div>
  <input type="text" name="previous_event_year"
         id="previous_event_year" size="40" class="wide">
  <div class="field_label required">
    Name of Event
  </div>
  <input type="text" name="previous_event_name"
         id="previous_event_name" size="40" class="wide">
</div>

<div class="form_section">
  <div class="field_label">
    If requesting sponsorship, what amount/level do you suggest?
  </div>
  <div class="field_desc">
    Include Sponsorship Amounts and quick summary of benefits.
    Should be edited to List the tiers of sponsorship amount and benefit that we can review.
  </div>
  <textarea name="sponsorship_suggestion" id="sponsorship_suggestion" rows="10" cols="40" class="wide"></textarea>
</div>

<div class="form_section">
  <div class="field_label">
    Please upload a Sponsorship Prospectus if you have one.
  </div>
  <input type="file" name="data" id="data" size="40">
  <input type="hidden" name="contenttypemethod" value="autodetect">
  <input type="hidden" id="description" name="description"
         value="Sponsorship Prospectus">
</div>

<div class="form_section">
  <div class="field_label">
    Anything else that may help us review this request?
  </div>
  <input type="text" name="else" id="else" size="40" class="wide">
</div>

<input type="submit" id="commit" value="Submit Request">

</form>

[% PROCESS global/footer.html.tmpl %]
