[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Mozilla Corporation.
  # Portions created by Mozilla are Copyright (C) 2008 Mozilla
  # Corporation. All Rights Reserved.
  #
  # Contributor(s): Reed Loden <reed@mozilla.com>
  #                 David Tran <dtran@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Mozilla Corporation Brownbag Requests"
   style = ".yui-skin-sam .yui-calcontainer { z-index: 1; }"
   style_urls = [ 'skins/standard/enter_bug.css' ]
   javascript_urls = [ 'js/attachment.js', 'js/field.js', 'js/util.js' ]
   yui = [ 'autocomplete', 'calendar' ]
%]

[% USE Bugzilla %]

<div style='text-align: center; width: 98%; font-size: 2em; font-weight: bold; margin: 10px;'>Brownbag Request</div>

<p><strong>Brownbag Request:</strong>  Please use this form if you plan on hosting a brownbag so that IT will be able to properly provide support. </p>

<p>Process:</p>

<ol><li>Complete and submit request below.</li>
    <li>Your request will be reviewed and assigned to the appropriate person in IT.</li>
</ol>
 
<p>These requests will only be visible internally in all cases and only to the
person who submitted the request and any persons designated in the CC line.</p>

<script type="text/javascript">
function trySubmit() {
  var topic = document.getElementById('topic').value;
  var date = document.getElementById('date').value;
  var time = document.getElementById('time_hour').value + ':' + 
             document.getElementById('time_minute').value + 
             document.getElementById('ampm').value + " " +
             document.getElementById('time_zone').value;
  var location = document.getElementById('location').value;
  var shortdesc = 'Event - (' + date + ' ' + time + ') - ' + location + ' - ' + topic;
  document.getElementById('short_desc').value = shortdesc;

  // If intended audience is employees only, add mozilla-corporation-confidential group
  var audience = document.getElementById('audience').value;
  if (audience == 'Employees Only') {
    var brownbagRequestForm = document.getElementById('brownbagRequestForm');
    var groups = document.createElement('input');
    groups.type = 'hidden';
    groups.name = 'groups';
    groups.value = 'mozilla-corporation-confidential';
    brownbagRequestForm.appendChild(groups);
  }

  return true;
}
</script>

<form method="post" action="post_bug.cgi" id="brownbagRequestForm" class="enter_bug_form"
      enctype="multipart/form-data" onSubmit="return trySubmit();">
  <input type="hidden" name="format" value="brownbag">
  <input type="hidden" name="product" value="Air Mozilla">
  <input type="hidden" name="component" value="Events">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="version" value="unspecified">
  <input type="hidden" name="bug_severity" id="bug_severity" value="normal">
  <input type="hidden" name="comment" id="comment" value="">
  <input type="hidden" name="short_desc" id="short_desc" value="">
  <input type="hidden" name="token" value="[% token FILTER html %]">

<table>

<tr>
  <th class="field_label">
    <label for="presenter">Presenter:</label>
  </th>
  <td>
    <input type="text" name="presenter" id="presenter" value="" size="60" />
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="topic">Topic:</label>
  </th>
  <td>
    <input type="text" name="topic" id="topic" value="" size="60" />
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="date">Date:</label>
  </th>
  <td>
    <input type="text" name="date" size="10" id="date"
           align="right" value="" maxlength="10"
           onchange="updateCalendarFromField(this)">
    <button type="button" class="calendar_button" id="button_calendar_date"
            onclick="showCalendar('date')"><span>Calendar</span>
    </button>
    <div id="con_calendar_date"></div>
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="time_hour">Start Time:</label>
  </th>
  <td>
    <select name="time_hour" id="time_hour">
      <option value="12" selected>12</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
    </select>:
    <select name="time_minute" id="time_minute">
      <option value="00" selected>00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="ampm" id="ampm">
      <option value="AM">AM</option>
      <option value="PM" selected>PM</option>
    </select>
    <select name="time_zone" id="time_zone">
      <option value="UTC-11">UTC-11</option>
      <option value="UTC-10">UTC-10</option>
      <option value="UTC-9">UTC-9</option>
      <option value="UTC-8" selected>UTC-8</option>
      <option value="UTC-7">UTC-7</option>
      <option value="UTC-6">UTC-6</option>
      <option value="UTC-5">UTC-5</option>
      <option value="UTC-4">UTC-4</option>
      <option value="UTC-3">UTC-3</option>
      <option value="UTC-2">UTC-2</option>
      <option value="UTC-1">UTC-1</option>
      <option value="UTC+0">UTC+0</option>
      <option value="UTC+1">UTC+1</option>
      <option value="UTC+2">UTC+2</option>
      <option value="UTC+3">UTC+3</option>
      <option value="UTC+4">UTC+4</option>
      <option value="UTC+5">UTC+5</option>
      <option value="UTC+6">UTC+6</option>
      <option value="UTC+7">UTC+7</option>
      <option value="UTC+8">UTC+8</option>
      <option value="UTC+9">UTC+9</option>
      <option value="UTC+10">UTC+10</option>
      <option value="UTC+11">UTC+11</option>
      <option value="UTC+12">UTC+11</option>
    </select>
  </td>       
</tr>

<tr>
  <th class="field_label">
    <label for="duration_one_hour_radio">Duration:</label>
  </th>
  <td>
    <input type="radio" name="duration" id="duration_one_hour_radio" value="1 Hour" checked="checked">
    <label for="duration_one_hour_radio">1 Hour</label><br>
    <input type="radio" name="duration" id="duration_one_day_radio" value="1 Day">
    <label for="duration_one_day_radio">1 Day</label><br>
    <input type="radio" name="duration" id="duration_other_radio" value="Other"
           onclick="YAHOO.util.Dom.get('duration_other').focus();">
    <label for="duration_other_radio">Other</label>
    <input type="text" name="duration_other" id="duration_other" value="">
  </td>
</tr>  

<tr>
  <th class="field_label">
    <label for="location">Location:</label>
  </th>
  <td>
    <input type="text" name="location" id="location" 
           value="[% default.location || 'Ten Forward' FILTER html %]" size="60" />
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="audience">Intended Audience:</label>
  </th>
  <td>
    <select name="audience" id="audience">
      <option value="Public" selected>Open to Public</option>
      <option value="Employees Only">Employees Only</option>
      <option value="Interns">Interns</option>
    </select>
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="airmozilla">Air Mozilla Broadcasting?</label>
  </th>
  <td align="left"><input type="checkbox" name="airmozilla" id="airmozilla"></td>
</tr>

<tr>
  <th class="field_label">
    <label for="dialin">Dial In?</label>
  </th>
  <td align="left"><input type="checkbox" name="dialin" id="dialin"></td>
</tr>

<tr>
  <th class="field_label">
    <label for="archive">Archive this?</label>
  </th>
  <td align="left"><input type="checkbox" name="archive" id="archive" value="yes"></td>
</tr>

<tr>
  <th class="field_label">
    <label for="ithelp">Need IT to help run A/V?</label>
  </th>
  <td align="left"><input type="checkbox" name="ithelp" id="ithelp" value="yes" checked></td>
</tr>

<tr>
  <th class="field_label">
    <label for="cc">CC&nbsp;(optional):</label>
  </th>
  <td colspan="3">
    [% INCLUDE global/userselect.html.tmpl
       id => "cc"
       name => "cc"
       value => cc
       size => 60
       multiple => 5
    %]
  </td>
</tr>

<tr>
  <th class="field_label">
    <label for="description">Description</label>:
  </th>
  <td>
    <em>Please briefly describe the brownbag and any specific needs you might have.</em><br>
    <textarea id="description" name="description" rows="10" cols="80"></textarea>
  </td>
</tr>

<tr>
  <td></td>
  <td>
    <input type="submit" id="commit" value="Submit Request">
  </td>
</tr>
</table>

</form>

<p>
  Thanks for contacting us.
  You will be notified by email of any progress made in resolving your request.
</p>

<script type="text/javascript">
  createCalendar('date');
</script>

[% PROCESS global/footer.html.tmpl %]
