[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl title = "Developer Documentation Requests Have Moved" %]

<h1>Developer Documentation Requests Have Moved</h1>

<p>
  <strong>
    The MDN Content team has moved the process for managing documentation requests to GitHub.
    Please file new [% terms.bugs %]
    <a href="https://github.com/mdn/sprints/issues/new?template=issue-template.md">here</a>.
  </strong>
</p>

[% PROCESS global/footer.html.tmpl %]
