[%# The contents of this file are subject to the Mozilla Public               
  # License Version 1.1 (the "License"); you may not use this file            
  # except in compliance with the License. You may obtain a copy of           
  # the License at http://www.mozilla.org/MPL/                                
  #                                                                           
  # Software distributed under the License is distributed on an "AS           
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or                
  # implied. See the License for the specific language governing              
  # rights and limitations under the License.                                 
  # 
  # The Original Code is the BMO Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): 
  #   David Lawrence <dkl@mozilla.com>
  #%]                                                                         
                                                                              
[% PROCESS global/variables.none.tmpl %]                                      
                                                                              
[% PROCESS global/header.html.tmpl                                            
   title = "Mozilla Corporation/Foundation Encryption Recovery Key" 
%]
                                                                            
<p>Please complete the following information as you are encrypting your laptop.</p>

<ul>
  <li>The Recovery Key will be displayed during the encryption process 
    (<a href="https://mana.mozilla.org/wiki/display/INFRASEC/Desktop+Security#DesktopSecurity-DiskencryptionFileVault">more info</a>)
  </li>
  <li>The asset tag number is located on a sticker typically on the bottom of the device.</li>
</ul>

<form method="post" action="post_bug.cgi" id="recoveryKeyForm" enctype="multipart/form-data">
  <input type="hidden" name="product" value="mozilla.org">
  <input type="hidden" name="component" value="Server Operations: Desktop Issues">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="All">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="version" value="other">
  <input type="hidden" name="bug_severity" value="normal">
  <input type="hidden" name="groups" value="mozilla-employee-confidential">
  <input type="hidden" name="groups" value="infra">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="cc" value="tfairfield@mozilla.com, ghuerta@mozilla.com">
  <input type="hidden" name="short_desc" value="Encryption Recovery Key for [% user.name || user.login FILTER html %]">
  <input type="hidden" name="format" value="recoverykey">
  <table>
  <tr>
    <td align="right"><strong>Recovery Key:</strong></td>
    <td>
      <input name="recoverykey" size="60" value="[% recoverykey FILTER html %]">
    </td>
  </tr>
  <tr>
    <td align="right"><strong>Asset Tag Number:</strong></td>
    <td>
      <input name="assettag" size="60" value="[% assettag FILTER html %]">
    </td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" id="commit" value="Submit"></td>
  </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]                   
