[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Mozilla Corporation.
  # Portions created by Mozilla are Copyright (C) 2008 Mozilla
  # Corporation. All Rights Reserved.
  #
  # Contributor(s): Mark Smith <mark@mozilla.com>
  #                 Reed Loden <reed@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Mozilla Corporation Legal Requests"
   style_urls = [ 'skins/standard/attachment.css' ]
   javascript_urls = [ 'js/attachment.js', 'js/field.js' ]
   yui = [ 'autocomplete' ]
%]

[% IF user.in_group("mozilla-corporation-confidential")
   OR user.in_group("mozilla-messaging-confidential") %]

<div style='text-align: center; width: 98%; font-size: 2em; font-weight: bold; margin: 10px;'>MoLegal</div>

<p><strong>Welcome to MoLegal.</strong> For legal help please fill in the form below completely.</p>

<p>Legal bugs are only visible to the reporter,  members of the legal team,  and those on the
CC list. This is necessary to maintain attorney-client privilege. Please do not add non-
employees to the cc list.</p>

<p><strong>All Submissions, And Information Provided In Response To This Request,
Are Confidential And Subject To The Attorney-Client Privilege And Work Product Doctrine.</strong></p>

<form method="post" action="post_bug.cgi" id="legalRequestForm" enctype="multipart/form-data">
  <input type="hidden" name="product" value="Legal">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="version" value="unspecified">
  <input type="hidden" name="priority" value="--">
  <input type="hidden" name="bug_severity" value="normal">
  <input type="hidden" name="format" value="legal">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  [% IF user.in_group('canconfirm') %]
    <input type="hidden" name="bug_status" value="NEW">
  [% END %]

<table>

<tr>
  <td align="right" width="170px"><strong>Request Type:</strong></td>
  <td>
    <select name="component">
      [%- FOREACH c = product.components %]
        [% NEXT IF NOT c.is_active %]
        <option value="[% c.name FILTER html %]"
          [% " selected=\"selected\"" IF c.name == "General" %]>
          [% c.name FILTER html -%]
        </option>
      [%- END %]
    </select>
  </td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong>Goal:</strong>
  </td>
  <td colspan="3">
    <em>Identify the company goal this request maps to.</em><br>
    <input name="goal" id="goal" size="60" value="[% goal FILTER html %]">
  </td>
</tr>

<tr>
  <td align="right">
    <strong>Priority to your Team:</strong>
  </td>
  <td>
    <select id="teampriority" name="teampriority">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low" selected="selected">Low</option>
    </select>
  </td>
</tr>

<tr>
  <td align="right">
    <strong>Timeframe for Completion:</strong>
  </td>
  <td>
    <select id="timeframe" name="timeframe">
      <option value="2 days">2 days</option>
      <option value="a week">a week</option>
      <option value="2-4 weeks">2-4 weeks</option>
      <option value="this will take a while, but please get started soon">
        this will take a while, but please get started soon</option>
      <option value="no rush" selected="selected">no rush</option>
    </select>
  </td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong>Summary:</strong>
  </td>
  <td colspan="3">
    <em>Include the name of the vendor, partner, product, or other identifier.</em><br>
    <input name="short_desc" size="60" value="[% short_desc FILTER html %]">
  </td>
</tr>

<tr>
  <td align="right">
    <strong>CC&nbsp;(optional):</strong>
  </td>
  <td colspan="3">
    [% INCLUDE global/userselect.html.tmpl
       id       => "cc"
       name     => "cc"
       value    => cc
       size     => 60
       multiple => 5
    %]
  </td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong>Name of Other Party:</strong>
  </td>
  <td>
    <em>If applicable, include full legal entity name, address, and any other relevant contact information.</em><br>
    <textarea id="otherparty" name="otherparty" rows="3" cols="80"></textarea>
  </td>
</tr>

<tr>
  <td align="right">
    <strong>Business Objective:</strong>
  </td>
  <td>
    <input type="text" name="busobj" id="busobj" value="" size="60" />
  </td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong>Description:</strong>
  </td>
  <td colspan="3">
    <em>Describe your question, what you want and/or provide any relevant deal terms, restrictions,<br> 
    or provisions that are applicable. Also provide context and background.</em><br>
    <textarea id="comment" name="comment" rows="10" cols="80">
      [% comment FILTER html %]</textarea>
  </td>
</tr>

<tr>
  <td align="right"><strong>URL&nbsp;(optional):</strong></td>
  <td colspan="3">
    <input name="bug_file_loc" size="60"
           value="[% bug_file_loc FILTER html %]">
  </td>
</tr>

<tr>
  <td></td>
  <td colspan=2><strong>Attachment (this is optional)</strong></td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong><label for="data">File:</label></strong>
  </td>
  <td>
    <em>Enter the path to the file on your computer.</em><br>
    <input type="file" id="data" name="data" size="50">
    <input type="hidden" name="contenttypemethod" value="autodetect" />
  </td>
</tr>

<tr>
  <td align="right" valign="top">
    <strong><label for="description">Description:</label></strong>
  </td>
  <td>
    <em>Describe the attachment briefly.</em><br>
    <input type="text" id="description" name="description" size="60" maxlength="200">
  </td>
</tr>

</table>

<br>

  <input type="submit" id="commit" value="Submit Request">
</form>

<p>Thanks for contacting us. You will be notified by email of any progress made in resolving your request.</p>

[% ELSE %]

<p>Sorry, you do not have access to this page.</p>

[% END %]

[% PROCESS global/footer.html.tmpl %]
