[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "MDN Web Docs Feedback Has Moved"
%]

<h1>MDN Web Docs Feedback Has Moved</h1>

<p>
  <strong>
    MDN Web Docs request and feedback submissions have moved to
    <a href="https://github.com/mdn/sprints/issues/new?template=issue-template.md">GitHub</a>.
  </strong>
</p>

[% PROCESS global/footer.html.tmpl %]
