[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% inline_style = BLOCK %]
#doc_form th {
  text-align: right;
}

#short_desc, #details {
  width: 100%;
}
[% END %]

[% inline_javascript = BLOCK %]
function validateAndSubmit() {
  var alert_text = '';
  if (!isFilledOut('type')) alert_text += 'Please select the "Request Type".\n';
  if (!isFilledOut('short_desc')) alert_text += 'Please enter a "Summary".\n';
  if (!isFilledOut('gecko')) alert_text += 'Please select the "Gecko Version".\n';
  if (!isFilledOut('details')) alert_text += 'Please enter some "Details".\n';
  if (alert_text != '') {
    alert(alert_text);
    return false;
  }
  return true;
}
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Developer Documentation Request"
   style = inline_style
   javascript = inline_javascript
   javascript_urls = [ 'extensions/BMO/web/js/form_validate.js',
                       'js/field.js', 'js/util.js', 'js/bug.js' ]
   yui = [ 'autocomplete', 'datatable', 'button' ]
%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

<h1>Developer Documentation Request</h1>

<p>
  Use this form to request <b>new documentation</b> or <b>corrections</b> to existing documentation.<br>
  [ <span class="required_star">*</span> <span class="required_explanation">Required Fields</span> ]
</p>

<form method="post" action="post_bug.cgi" enctype="multipart/form-data"
      onSubmit="return validateAndSubmit();">
  <input type="hidden" name="format" value="doc">
  <input type="hidden" name="product" value="Developer Documentation">
  <input type="hidden" name="rep_platform" value="All">
  <input type="hidden" name="op_sys" value="Other">
  <input type="hidden" name="version" value="unspecified">
  <input type="hidden" name="bug_severity" id="bug_severity" value="normal">
  <input type="hidden" name="status_whiteboard" id="status_whiteboard" value="">
  <input type="hidden" name="token" value="[% token FILTER html %]">

<table id="doc_form">

<tr>
  <th class="required">Request Type</th>
  <td>
    <select name="type" id="type">
      <option value="">Please select..</option>
      <option value="New Documentation">New Documentation</option>
      <option value="Correction" [% "selected" IF cgi.param('bug_file_loc') %]>Correction</option>
    </select>
  </td>
</tr>

<tr>
  <th class="required">Topic</th>
  <td>
    <select name="component" id="component">
      [% FOREACH component = product.components %]
        <option value="[% component.name FILTER html %]"
                [% " selected" IF component.name == "General" %]
                title="[% component.description FILTER html %]">
          [% component.name FILTER html %]
        </option>
      [% END %]
    </select>
  </td>
</tr>

<tr>
  <th class="required">Summary</th>
  <td>
    Please provide a brief summary of what documentation you're requesting, or
    what problem you're reporting in existing documentation:<br>
    <input type="text" name="short_desc" id="short_desc" size="60">
  </td>
</tr>

[% IF feature_enabled('jsonrpc') AND !cloned_bug_id %]
  <tr id="possible_duplicates_container" class="bz_default_hidden">
    <th>Possible<br>Duplicates:</th>
    <td colspan="3">
      <div id="possible_duplicates"></div>
      <script type="text/javascript">
        var dt_columns = [ 
          { key: "id", label: "[% field_descs.bug_id FILTER js %]",
            formatter: YAHOO.bugzilla.dupTable.formatBugLink },
          { key: "summary", 
            label: "[% field_descs.short_desc FILTER js %]",
            formatter: "text" },
          { key: "status",
            label: "[% field_descs.bug_status FILTER js %]",
            formatter: YAHOO.bugzilla.dupTable.formatStatus },
          { key: "update_token", label: '',
            formatter: YAHOO.bugzilla.dupTable.formatCcButton }
        ];
        YAHOO.bugzilla.dupTable.addCcMessage = "Add Me to the CC List";
        YAHOO.bugzilla.dupTable.init({
          container: 'possible_duplicates',
          columns: dt_columns,
          product_name: '[% product.name FILTER js %]',
          summary_field: 'short_desc',
          options: {
            MSG_LOADING: 'Searching for possible duplicates...',
            MSG_EMPTY:   'No possible duplicates found.',
            SUMMARY:     'Possible Duplicates'
          }
        });
      </script>
    </td>
  </tr>
[% END %]

<tr>
  <th>Page to Update</th>
  <td>
    <input type="text" name="bug_file_loc" id="short_desc" size="60"
           value="[% bug_file_loc FILTER html %]">
  </td>
</tr>

<tr>
  <th>Technical Contact</th>
  <td>
    [% INCLUDE global/userselect.html.tmpl
       id       => "cc"
       name     => "cc"
       value    => ""
       size     => 60
       classes  => ["bz_userfield"]
       multiple => 5
     %]
     <br>
     <a href="https://developer.mozilla.org/en-US/docs/Project:Subject-matter_experts"
        target="_blank" id="common_topic_experts">
       List of common topic experts</a>
  </td>
</tr>

<tr>
  <th class="required">Gecko Version</th>
  <td>
    <select name="gecko" id="gecko">
      [% FOREACH version = versions %]
        <option value="[% version.name FILTER html %]"
                [% " selected" IF version.name == "unspecified" %]>
          [% version.name FILTER html %]
        </option>
      [% END %]
    </select>
  </td>
</tr>

<tr>
  <th class="required">Details</th>
  <td>
    <textarea id="details" name="details" cols="50" rows="10"></textarea>
  </td>
</tr>

<tr>
  <th>Development [% terms.Bug %]</th>
  <td>
    <input type="text" id="blocked" name="blocked" size="10">
    <i>Corresponding development [% terms.bug %].</i>
  </td>
</tr>

<tr>
  <th class="required">Urgency</th>
  <td>
    <select name="priority" id="priority">
      <option value="P1">Immediately</option>
      <option value="P2">Before Release</option>
      <option value="P3">Before Aurora</option>
      <option value="P4">Before Beta</option>
      <option value="P5" selected>No Rush</option>
    </select>
    <br>
    Due to the volume of requests, the documentation team can't commit to
    meeting specific deadlines for given documentation requests, but we will do
    our best.
  </td>
</tr>

<tr>
  <td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td><input type="submit" id="commit" value="Submit Request"></td>
</tr>

</table>
</form>

[% PROCESS global/footer.html.tmpl %]
