[%# 1.0@bugzilla.org %]                                                       
[%# The contents of this file are subject to the Mozilla Public               
  # License Version 1.1 (the "License"); you may not use this file            
  # except in compliance with the License. You may obtain a copy of           
  # the License at http://www.mozilla.org/MPL/                                
  #                                                                           
  # Software distributed under the License is distributed on an "AS           
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or                
  # implied. See the License for the specific language governing              
  # rights and limitations under the License.                                 
  #                                                                           
  # The Original Code is the Bugzilla Bug Tracking System.                    
  #                                                                           
  # The Initial Developer of the Original Code is Netscape Communications     
  # Corporation. Portions created by Netscape are                             
  # Copyright (C) 1998 Netscape Communications Corporation. All               
  # Rights Reserved.                                                          
  #                                                                           
  # Contributor(s): Gervase Markham <gerv@gerv.net>                       
  #                 Ville Skyttä <ville.skytta@iki.fi>
  #                 John Hoogstrate <hoogstrate@zeelandnet.nl>
  #%]                                                                         
                                                                              
[% PROCESS global/variables.none.tmpl %]                                      
                                                                              
[% PROCESS global/header.html.tmpl                                            
   title = "Powered by Mozilla Logo Requests"                                   
%]
                                                                            
[% USE Bugzilla %]                                                            

<p>If you are interested in using the <a href="http://www.mozilla.org/poweredby">Powered by Mozilla logo</a>, 
please provide some information about your application or product.</p>

<p><strong>Please use this form for Powered by Mozilla logo requests only.</strong></p>

<form method="post" action="post_bug.cgi" id="tmRequestForm">
        
        <input type="hidden" name="product" value="Websites">
        <input type="hidden" name="component" value="www.mozilla.org">
        <input type="hidden" name="bug_severity" value="enhancement">
        <input type="hidden" name="rep_platform" value="All">
        <input type="hidden" name="priority" value="--">
        <input type="hidden" name="op_sys" value="Other">
        <input type="hidden" name="version" value="other">
        <input type="hidden" name="groups" value="marketing-private">
        <input type="hidden" name="token" value="[% token FILTER html %]">
  
  <table>
    <tr>
      <td align="right"><strong>Application or Product Name:</strong></td>
      <td colspan="3">
        <input name="short_desc" size="60" value="Powered by Mozilla request for: [% short_desc FILTER html %]">
      </td>
    </tr>

    <tr>
      <td align="right"><strong>URL&nbsp;(optional):</strong></td>
      <td colspan="3">
        <input name="bug_file_loc" size="60"
               value="[% bug_file_loc FILTER html %]">
      </td>
    </tr>

    <tr><td align="right" valign="top"><strong>Comments&nbsp;(optional):</strong></td>
      <td colspan="3">
        <textarea name="comment" rows="10" cols="80">
          [% comment FILTER html %]</textarea>
        <br>
      </td>
    </tr>

  </table>

  <br>

        <input type="submit" id="commit" value="Submit Request">
</form>

<p>Thanks for contacting us. 
   You will be notified by email of any progress made in resolving your
   request.
</p>

[% PROCESS global/footer.html.tmpl %]    
