[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% inline_css = BLOCK %]
#third_party_form {
  width: 60%;
}
#third_party_form .required:after {
  content: " *";
  color: red;
}
#third_party_form .field_label {
  text-align: left;
  font-weight: bold;
}
#third_party_form .field_desc,
#third_party_form .head_desc {
  word-wrap: normal;
}
#third_party_form .head_desc {
  font-size: 1.25em;
  padding-bottom: .5em;
}
#third_party_form .form_section {
  margin-bottom: 1em;
  padding-left: 2em;
}
.yui-calcontainer {
  z-index: 2;
}
[% END %]

[% inline_javascript = BLOCK %]
  function validateAndSubmit() {
    var alert_text = '';
    $('label.required').each(function () {
      var id = $(this).attr('for');
      if (id && !isFilledOut(id)) {
        var desc = $(this).text() || id;
        alert_text += "Please select or enter a value for" +
                      desc.replace(/[\r\n]+/, "").replace(/\s+/g, " ") + "\n";
      }
    });
    if (alert_text != '') {
      alert(alert_text);
      return false;
    }
    return true;
  }
[% END %]

[% PROCESS global/header.html.tmpl
   title = "Third Party Applications Issue Form"
   style = inline_css
   style_urls = [ 'skins/standard/enter_bug.css',
                  'skins/standard/attachment.css' ]
   javascript = inline_javascript
   javascript_urls = [ 'js/attachment.js',
                       'js/field.js',
                       'js/util.js',
                       'extensions/BMO/web/js/form_validate.js' ]
%]

<h2>Third Party Applications Issue Form</h2>

<form method="post" action="post_bug.cgi" id="third_party_form"
      class="enter_bug_form" enctype="multipart/form-data"
      onSubmit="return validateAndSubmit();">
<input type="hidden" name="format" value="third-party-apps">
<input type="hidden" name="product" value="Marketplace">
<input type="hidden" name="component" value="3rd Party Applications">
<input type="hidden" name="rep_platform" value="All">
<input type="hidden" name="op_sys" value="All">
<input type="hidden" name="priority" value="--">
<input type="hidden" name="version" value="unspecified">
<input type="hidden" name="comment" id="comment" value="">
<input type="hidden" name="status_whiteboard" id="status_whiteboard" value="">
<input type="hidden" name="contenttypemethod" value="autodetect" />
<input type="hidden" name="token" value="[% token FILTER html %]">

<div class="form_section">
  <label for="short_desc" class="field_label required">
    Summary
  </label>
  <div class="field_desc">
    Please enter the name of the application in brackets and a short summary of
    the issue. (ex. [App Name] Fails to launch at startup.
  </div>
  <input type="text" name="short_desc" id="short_desc" size="40" class="wide">
</div>

<div class="form_section">
  <label for="bug_file_loc" class="field_label required">
    Marketplace App URL
  </label>
  <div class="field_desc">
    Please copy the App listing page URL from Marketplace.
  </div>
  <input type="text" name="bug_file_loc" id="bug_file_loc" size="40" class="wide">
</div>

<div class="form_section">
  <label for="desc" class="field_label required">
    Detailed description of the issue or enhancement request
  </label>
  <div class="field_desc">
    Please enter a description of the issue with as much detail as possible.
  </div>
  <textarea name="desc" id="desc" rows="10" cols="60" class="wide"></textarea>
</div>

<div class="form_section">
  <label for="reproducible" class="field_label required">
    Is this issue reproducible?
  </label>
  <div class="field_desc">
    Please let us know if this issue is reproducible, steps to reproduction, and
    how often the issue presents itself.
  </div>
  <textarea name="reproducible" id="reproducible" rows="10" cols="60" class="wide"></textarea>
</div>

<div class="form_section">
  <label for="device_info" class="field_label required">
    Device Information
  </label>
  <div class="field_desc">
    Please let us know what device you were using when you experienced this
    issue. For FirefoxOS devices; please include the device make, model, and OS
    version at a minimum. RAM, Chipset, Screen size, and buildID is preferred
    if that information is available. (You can find BuildID by using this nav
    path on your FirefoxOS device; Settings—>Device info—>More info)
  </div>
  <textarea name="device_info" id="device_info" rows="10" cols="60" class="wide"></textarea>
</div>

<div class="form_section">
  <label for="reference_device" class="field_label required">
    Mozilla Reference Device
  </label>
  <div class="field_desc">
    Have you tried to reproduce this issue on a Mozilla reference device? If
    yes, please post your results, which device you were using, and OS version.
  </div>
  <textarea name="reference_device" id="reference_device" rows="10" cols="60" class="wide"></textarea>
</div>

<div class="form_section">
  <label class="field_label">
    Have additional materials?
  </label>
  <div class="field_desc">
    Please attach any additional information that will help us understand and
    diagnose this issue. Screenshots, testing documents, etc.
  </div>
  <table>
  <tr>
    <td>
      <label for="description" class="field_label">
        Description
      </label>
    </td>
    <td>
      <input type="text" name="description" id="description" size="40" class="wide">
    </td>
  </tr>
  <tr>
    <td>
      <label for="data" class="field_label">
        Filename
      </label>
    </th>
    <td>
      <input type="file" id="data" name="data" size="60">
    </td>
  </tr>
  </table>
</div>

<input type="submit" id="commit" value="Submit Request">

</form>

[% PROCESS global/footer.html.tmpl %]
