[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Mozilla Corporation.
  # Portions created by Mozilla are Copyright (C) 2008 Mozilla
  # Corporation. All Rights Reserved.
  #
  # Contributor(s): Reed Loden <reed@mozilla.com>
  #                 David Tran <dtran@mozilla.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "Event Request Form"
   javascript_urls = [ 'extensions/BMO/web/js/form_validate.js', 
                       'js/field.js', 
                       'js/util.js' ]
   style = ".yui-skin-sam .yui-calcontainer { z-index: 1; }"
   yui = [ 'autocomplete', 'calendar' ]
%]

<div style='text-align: center; width: 98%; font-size: 2em; font-weight: bold; margin: 10px;'>Event Request Form</div>

<p><strong>Event Request:</strong> Please use this form to file a request for an event. <b>This form is not a request for swag.</b></p>

<p>Process:</p>

<ol>
  <li>Complete and submit request below.</li>
  <li>Your request will be reviewed by the appropriate person in the Engagement team.</li>
</ol>
 
<p>These requests will only be visible to the person who submitted the request,
any persons designated in the CC line, and authorized members of the Mozilla
Engagement team.</p>

<script language="javascript" type="text/javascript">
function trySubmit() {

  var date = document.getElementById('date').value;
  var eventname = document.getElementById('eventname').value;
  var shortdesc = 'Event Request (' + date + ') - ' + eventname; 
  document.getElementById('short_desc').value = shortdesc;
  if(!isChecked('doing-other')) document.getElementById('doing-other-what').value = '';
  return true;
}

function validateAndSubmit() {

  var alert_text = '';
  if(!isFilledOut('firstname')) alert_text += "Please enter your first name\n";
  if(!isFilledOut('lastname')) alert_text += "Please enter your last name\n";
  if(!isValidEmail(document.getElementById('email').value)) alert_text += "Please enter a valid email address\n";
  if(!isFilledOut('eventname')) alert_text += "Please enter an event name.\n";
  if(!isFilledOut('website')) alert_text += "Please enter an event website.\n";
  if(!isFilledOut('goals')) alert_text += "Please enter the Description and Objectives.\n";
  if(!isFilledOut('date')) alert_text += "Please enter an event date.\n";
  if(!isFilledOut('goals')) alert_text += "Please enter the event goals.\n";
  if(!isFilledOut('successmeasure')) alert_text += "Please enter how you will measure the success of the event.\n";

  if(!isChecked('doing-booth') &&
     !isChecked('doing-speaking') &&
     !isChecked('doing-outreach') &&
     !isChecked('doing-other')
    ) alert_text += "Please indicate what you'll be doing at the event.\n";
  if(isChecked('doing-other') && !isFilledOut('doing-other-what')) alert_text += "Please describe what 'other' thing you'll be doing at the event.\n";
  
  //Everything required is filled out..try to submit the form!
  if(alert_text == '') {
    return trySubmit();
  }

  //alert text, stay here on the pagee
  alert(alert_text);
  return false;
}

</script>

<form method="post" action="post_bug.cgi" id="swagRequestForm" enctype="multipart/form-data"
      onSubmit="return validateAndSubmit();">

        <input type="hidden" name="format" value="mktgevent">
        <input type="hidden" name="product" value="Marketing">
        <input type="hidden" name="component" value="Event Requests">
        <input type="hidden" name="rep_platform" value="All">
        <input type="hidden" name="op_sys" value="Other">
        <input type="hidden" name="priority" value="--">
        <input type="hidden" name="version" value="unspecified">
        <input type="hidden" name="bug_severity" id="bug_severity" value="normal">
        <input type="hidden" name="short_desc" id="short_desc" value="">
        <input type="hidden" name="groups" value="mozilla-corporation-confidential">
<table>

<tr>
  <td align="right"><strong>First Name: <span style="color: red;">*</span></strong></td>
  <td align="left">
    <input type="text" name="firstname" id="firstname" value="" size="20" maxlength="20" />
  </td>
</tr>
<tr>
  <td align="right"><strong>Last Name: <span style="color: red;">*</span></strong></td>
  <td align="left">
    <input type="text" name="lastname" id="lastname" value="" size="20" maxlength="20"/>
  </td>
</tr>

<tr>
  <td align="right"><strong>Email Address: <span style="color: red;">*</span></strong></td>
  <td>
    <input type="text" name="email" id="email" value="" size="50" maxlength="50"/>
  </td>
</tr>

<tr>
  <td align="right"><strong>CC&nbsp;(optional):</strong></td>
  <td colspan="3">
    [% INCLUDE global/userselect.html.tmpl
       id => "cc"
       name => "cc"
       value => cc
       size => 50
       multiple => 5
    %]
  </td>
</tr>

<tr>
  <td><!-- spacer -->&nbsp;</td>
</tr>

<tr>
  <td><!-- spacer -->&nbsp;</td>
</tr>

<tr>
  <td align="right"><strong>Event Name: <span style="color: red;">*</span></strong></td>
  <td>
    <input type="text" name="eventname" id="eventname" value="" size="50" maxlength="50"/>
  </td>
</tr>

<tr>
  <td align="right"><strong>Event Date: <span style="color: red;">*</span></strong></td>
  <td>
    <input type="text" id="date" name="date" size="10"
           onchange="updateCalendarFromField(this)">
    <button type="button" class="calendar_button" id="button_calendar_date"
            onclick="showCalendar('date')"><span>Calendar</span>
    </button>
    <div id="con_calendar_date"></div>
  </td>
</tr>

<tr>
  <td align="right"><strong>Event Location: <span style="color: red;">*</span></strong><br /><small>(City, Country; or City, State)</small></td>
  <td>
    <input type="text" name="location" id="location" value="" size="50" maxlength="80" />
  </td>
</tr>

<tr>
  <td align="right"><strong>Event Website: <span style="color: red;">*</span></strong></td>
  <td>
    <input type="text" name="website" id="website" value="" size="50" maxlength="120" />
  </td>
</tr>

<tr>
  <td align="right"><strong>Event Description and Key Objectives: <span style="color: red;">*</span></strong></td>
  <td>
    <textarea id="goals" name="goals" rows="5" cols="50"></textarea>
  </td>
</tr>

<tr>
  <td align="right"><strong>What will you be doing at the event? <span style="color: red;">*</span></strong></td>
  <td>
    <input type="checkbox" id="doing-booth" name="doing" value="Booth or Table"><label for="doing-booth">Booth/Table</label><br />
    <input type="checkbox" id="doing-speaking" name="doing" value="Speaking Opportunity"><label for="doing-speaking">Speaking Opportunity</label><br />
    <input type="checkbox" id="doing-outreach" name="doing" value="PR or Media Outreach"><label for="doing-outreach">PR or Media Outreach</label><br />
    <input type="checkbox" id="doing-other" name="doing" value="Other"><label for="doing-other">Other, please explain:</label>
          <input type="text" name="doing-other-what" id="doing-other-what" value="" size="50" maxlength="120"><br />
  </td>
</tr>

<tr>
  <td><!-- spacer -->&nbsp;</td>
</tr>

<tr>
  <td align="right"><strong>How many attendees will be at the event?</strong></td>
  <td>
    <select name="attendees" id="attendees">
      <option value="--Please Select--" selected>--Please Select--</option>
      <option value="1-99">1-99</option>
      <option value="100-499">100-499</option>
      <option value="500-999">500-999</option>
      <option value="1000+">1000+</option>
      </select>
  </td>
</tr>

<tr>
  <td align="right"><strong>Targeted Audience:</strong></td>
  <td>
    <select name="audience" id="audience">
      <option value="--Please Select--" selected>--Please Select--</option>
      <option value="Contributors">Contributors (Developers, Education, Security, Designers, Localization, Support & Marketing)</option>
      <option value="Potential New Users">Potential New Users</option>
      <option value="User Community">User Community (Recent adopters, fans, Mozilla product evangelizers)</option>
    </select>
  </td>
</tr>

<tr>
  <td align="right"><strong>How will you measure the<br />success of your event? <span style="color: red;">*</span></strong></td>
  <td>
    <textarea id="successmeasure" name="successmeasure" rows="5" cols="50"></textarea>
  </td>
</tr>


  </table>
  <br>
  <input type="submit" id="commit" value="Submit Request">

<p>
  <strong><span style="color: red;">*</span></strong> - Required field<br />
  Thanks for contacting us.

</p>

<script type="text/javascript">
  createCalendar('date');
</script>

[% PROCESS global/footer.html.tmpl %]
