[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# link  => url (can be relative to bugzilla.mozilla.org, or full url)
  # title => visible title
  # group => optional group name, if present the form won't be show to
  #          users not in this group
  # hide  => optional boolean, if true the form will not be shown on
  #          enter_bug (but will be visible on the custom forms list)
  #%]

[%
custom_forms = {
  "addons.mozilla.org" => [
    {
      link  => "https://github.com/mozilla/addons/issues",
      title => "Report an issue with addons.mozilla.org on GitHub."
    }
  ],
  "mozilla.org" => [
    {
      link  => basepath _ "form.moz.project.review",
      title => "Mozilla Project Review",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.trademark",
      title => "Trademark Usage Requests",
    },
    {
      link  => basepath _ "form.gear",
      title => "Mozilla Gear Request",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.mozlist",
      title => "Mozilla Discussion Forum Requests",
      group => "mozilla-employee-confidential",
    },
  ],
  "Marketing" => [
    {
      link  => basepath _ "form.user.engagement",
      title => "User Engagement Initiation Form",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.gear",
      title => "Mozilla Gear Request",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.creative",
      title => "Brand Engagement Initiation Form",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.comm.newsletter",
      title => "Mozilla Communities Newsletter",
    },
    {
      link  => basepath _ "form.costume",
      title => "Firefox Costume Requests",
    },
  ],
  "Finance" => [
    {
      link  => basepath _ "form.finance",
      title => "Finance Request",
      group => "mozilla-employee-confidential",
    },
  ],
  "Mozilla PR" => [
    {
      link  => basepath _ "form.mozpr",
      title => "PR Project Form",
      group => "pr-private",
    },
  ],
  "Infrastructure & Operations" => [
    {
      link  => basepath _ "form.itrequest",
      title => "IT Request Form",
      group => "mozilla-employee-confidential",
    },
    {
      link  => basepath _ "form.mozlist",
      title => "Mozilla Discussion Forum Requests",
      group => "mozilla-employee-confidential",
    },
  ],
  "Tech Evangelism" => [
    {
      link  => basepath _ "form.mobile.compat",
      title => "Mobile Web Compatibility Problem",
    },
  ],
  "Air Mozilla" => [
    {
      link  => "https://air.mozilla.org/requests/",
      title => "Air Mozilla/Brown Bag Request",
      group => "mozilla-employee-confidential",
    },
  ],
  "Websites" => [
    {
      link  => basepath _ "form.web.bounty",
      title => "Web Bounty Form",
    },
  ],
  "Firefox" => [
    {
      link  => basepath _ "form.screen.share.whitelist",
      title => "Firefox Screen Sharing Whitelist Submission",
      hide  => 1,
    }
  ],
  "Testing" => [
    {
      link  => basepath _ "form.automative",
      title => "Automation Request Form",
    },
  ],
  "Developer Engagement" => [
    {
      link  => "https://mzl.la/devevents",
      title => "Developer Events Request Form",
    },
  ],
  "developer.mozilla.org" => [
    {
      link  => basepath _ "form.mdn",
      title => "MDN Web Docs Feedback",
    },
  ],
  "Internet Public Policy" => [
    {
      link  => basepath _ "form.ipp",
      title => "Internet Public Policy Issue",
    },
  ],
  "Data Compliance" => [
    {
      link  => basepath _ "form.data.compliance",
      title => "Data Compliance Form",
    },
  ],
  "Recruiting" => [
    {
      link => basepath _ "form.recruiting",
      title => "Recruiting Requests",
    },
    {
       link => basepath _ "form.intern",
       title => "Intern Requests",
    },
  ]
  "Legal" => [
    {
      title => 'Mozilla Foundation Vendor Request',
      link  => basepath _ 'enter_bug.cgi?product=Mozilla%20Foundation%20Operations',
    },
    {
      title => 'Mozilla Corporation Vendor Request',
      link  => basepath _ 'form.moz.project.review'
    },
    {
      title => 'Commercial (Partner) Agreement',
      link  => basepath _ 'form.moz.project.review'
    },
    {
      title => 'Independent Contractor Request',
      link  => basepath _ 'form.moz.project.review'
    },
    {
      title => "NDA Request",
      link  => basepath _ "form.nda",
    },
    {
      title => "Name Clearance Request",
      link  => basepath _ "form.name.clearance",
    }
  ],
}
%]
