[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

<p>
  [% UNLESS cloned_bug_id %]
    Consider using the
    <a href="enter_bug.cgi?product=[% product.name FILTER html %]&amp;format=guided"
    ><img src="extensions/BMO/web/images/guided.png" width="16" height="16" align="absmiddle" border="0">
    [%+ terms.Bugzilla %] Helper</a> instead of this form.
  [% END +%]
  Before reporting a [% terms.bug %], make sure you've read our
  <a href="http://www.mozilla.org/quality/bug-writing-guidelines.html">
  [% terms.bug %] writing guidelines</a> and double checked that your [% terms.bug %] hasn't already
  been reported. Consult our list of <a href="https://bugzilla.mozilla.org/duplicates.cgi">
  most frequently reported [% terms.bugs %]</a> and <a href="https://bugzilla.mozilla.org/query.cgi">
  search through descriptions</a> of previously reported [% terms.bugs %].
</p>
