/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#bitly-overlay {
    display: none;
    background: #eee;
    border: 1px solid #000;
    padding: 5px;
    width: 400px;
}

#bitly-url {
    margin: 2px 0;
    display: block;
    width: 100%;
}
