[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF Param('user_info_class').split(',').contains('BrowserID') %]
<script type="text/javascript">
function browserid_create_account() {
    navigator.id.getVerifiedEmail(function(assertion) {
        if (assertion) {
            // This code will be invoked once the user has successfully
            // selected an email address they control to sign in with.
            document.getElementById('browserid_assertion').value = assertion;
            document.getElementById('browserid_form').submit();
            return true;
        }
    });
}
</script>

Or, use your BrowserID account:
<img src="extensions/BrowserID/web/sign_in_orange.png" onclick="browserid_create_account()">

<form id="browserid_form" method="POST" action="index.cgi">
  <input type="hidden" name="token" value="[% issue_hash_token(['login']) FILTER html %]">
  <input type="hidden" name="browserid_assertion" id="browserid_assertion" value="">
</form>
[% END %]
