[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
[%# INTERFACE:
  # This template has no interface.
  #
  # Form variables from a bug submission (i.e. the fields on a template from
  # enter_bug.cgi) can be access via Bugzilla.cgi.param. It can be used to
  # pull out various custom fields and format an initial Description entry
  # from them.
  #%]  
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

Requester info: 

First name: [% cgi.param('firstname') %]
Last name: [% cgi.param('lastname') %]
Profile page: [% cgi.param('profilepage') %]
Event name: [% cgi.param('eventname') %]
Event page: [% cgi.param('eventpage') %]
Estimated attendance: [% cgi.param('attendance') %]
Event hosted by a Firefox Student Ambassador(s)?: [% cgi.param('ambassador_hosted') %]
Main audience of the event are Firefox Student Ambassadors: [% cgi.param('ambassador_audience') %]

Shipping details:

Ship swag before: [% cgi.param('cf_due_date') %]

First name: [% cgi.param("shiptofirstname") %]
Last name: [% cgi.param("shiptolastname") %]
Address line 1: [% cgi.param("shiptoaddress1") %]
Address line 2: [% cgi.param("shiptoaddress2") %]
City: [% cgi.param("shiptocity") %]
State/Region: [% cgi.param("shiptostate") %]
Postal code: [% cgi.param("shiptopcode") %]
Country: [% cgi.param("shiptocountry") %]
Phone:  [% cgi.param("shiptophone") %]
[%+ IF cgi.param("shiptoidrut") %]Custom reference: [% cgi.param("shiptoidrut") %][% END %]

Addition information for delivery person:
[%+ cgi.param('shipadditional') %] 

Swag requested: 

Stickers: [% IF cgi.param('stickers') %]Yes[% ELSE %]No[% END %]
Buttons: [% IF cgi.param('buttons') %]Yes[% ELSE %]No[% END %]
Lanyards: [% IF cgi.param('lanyards') %]Yes[% ELSE %]No[% END %]
T-shirts: [% IF cgi.param('tshirts') %]Yes[% ELSE %]No[% END %]
Roll-up banners: [% IF cgi.param('rollupbanners') %]Yes[% ELSE %]No[% END %]
Horizontal banner: [% IF cgi.param('horizontalbanner') %]Yes[% ELSE %]No[% END %]
Booth cloth: [% IF cgi.param('boothcloth') %]Yes[% ELSE %]No[% END %]
Pens: [% IF cgi.param('pens') %]Yes[% ELSE %]No[% END %]
Other: [% IF cgi.param('otherswag') %][% cgi.param('otherswag') %][% ELSE %]No[% END %]

[%+ cgi.param("comment") IF cgi.param("comment") %]

