[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the REMO Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): Byron Jones <glob@mozilla.com>
  #%]
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

First Name:
[%+ cgi.param('first_name') %]

Last Name:
[%+ cgi.param('last_name') %]

City:
[%+ cgi.param('city') %]

Country:
[%+ cgi.param('country') %]

[% IF cgi.param('languages') %]
Languages:
[%+ cgi.param('languages') %]

[% END %]
people.mozilla.org Profile URL:
[%+ cgi.param('mozillian') %]

References:
[%+ cgi.param('cc').join(", ") %]

First contributed to Mozilla:
[%+ cgi.param('firstcontribute') %]

In which area are you active in Mozilla?
[%+ cgi.param('involved') %]

How did you learn about Mozilla Reps?
[%+ cgi.param('learn') %]

What motivates you most about joining Mozilla Reps?
[%+ cgi.param('motivation') %]

[% IF cgi.param('languages') %]
Mission Driven Mozillians:
[%+ cgi.param('mdm') %]

[% END %]
Activity:
[%+ cgi.param('activity') %]

[% IF cgi.param('comments') %]
Comments:
[%+ cgi.param('comments') %]
[% END %]
