[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

Name:
[%+ cgi.param('name') %]

Mozillians.org Profile:
[%+ cgi.param('mozillian') %]

Community Name:
[%+ cgi.param('community') %]

Category Names:
[%+ cgi.param('discourse_names') %]

Background Hex Code:
[%+ cgi.param('discourse_bg') || "-" %]

Comments:
[%+ cgi.param('comments') || "-" %]
