[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "My Dashboard"
  style_urls = [ "extensions/MyDashboard/web/styles/mydashboard.css",
                 "extensions/ProdCompSearch/web/styles/prod_comp_search.css" ]
  javascript_urls = [ "js/yui3/yui/yui-min.js",
                      "extensions/MyDashboard/web/js/query.js",
                      "extensions/MyDashboard/web/js/flags.js",
                      "extensions/ProdCompSearch/web/js/prod_comp_search.js" ]
%]

[% standard_queries = [] %]
[% saved_queries    = [] %]
[% FOREACH q = queries %]
  [% standard_queries.push(q) IF !q.saved %]
  [% saved_queries.push(q) IF q.saved %]
[% END %]

<script id="last-changes-template" type="text/x-handlebars-template">
  <div id="last_changes">
    {{#if email}}
      <div id="last_changes_header">
        Last Changes :: {{email}} :: {{when}}
      </div>
      {{#if activity}}
        <table id="activity">
        {{#each activity}}
          <tr>
            <td class="field_label">{{field_desc}}:</td>
            <td class="field_data">
              {{#if removed}}
                {{#unless added}}
                  Removed: 
                {{/unless}}
                {{removed}}
              {{/if}}
              {{#if added}}
                {{#if removed}}
                  &rarr;
                {{/if}}
              {{/if}}
              {{#if added}}
                {{#unless removed}}
                  Added:
                {{/unless}}
                {{added}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </table>
      {{/if}}
      {{#if comment}}
        <pre class='bz_comment_text'>{{comment}}</pre>
      {{/if}}
    {{else}}
      This is a new [% terms.bug %] and no changes have been made yet.
    {{/if}}
  </div>
</script>

<script type="text/javascript">
  [% IF Param('splinter_base') %]
    MyDashboard.splinter_base = '[% Bugzilla.splinter_review_base FILTER js %]';
  [% END %]
</script>

<div id="mydashboard">
  <div class="yui3-skin-sam">
    <div id="left">
      <div id="query_list_container">
        Choose query:
        <select id="query" name="query">
          <optgroup id="standard_queries" label="Standard">
            [% FOREACH r = standard_queries %]
              <option value="[% r.name FILTER html %]">[% r.heading || r.name FILTER html %]</option>
            [% END%]
          </optgroup>
          <optgroup id="saved_queries" label="Saved">
            [% FOREACH r = saved_queries %]
              <option value="[% r.name FILTER html %]">[% r.heading || r.name FILTER html %]</option>
            [% END %]
          </optgroup>
        </select>
        <small>
          (<a href="userprefs.cgi?tab=saved-searches">add or remove saved searches</a>)
        </small>
      </div>

      <div id="query_container">
        <div class="query_heading"></div>
        <div class="query_description"></div>
        <span id="query_count_refresh" class="bz_default_hidden">
          <span class="items_found" id="query_bugs_found">0 [% terms.bugs %] found</span>
          | <a class="refresh" href="javascript:void(0);" id="query_refresh">Refresh</a>
          | <a class="buglist" href="javascript:void(0);" id="query_buglist">Buglist</a>
        </span>
        <div id="query_pagination_top"></div>
        <div id="query_table"></div>
      </div>
    </div>

    <div id="right">
      <div id="prod_comp_search_main">
        [% PROCESS prodcompsearch/form.html.tmpl
           input_label = "File a $terms.Bug:"
           script_name = "enter_bug.cgi"
           new_tab     = 1
        %]
      </div>

      <div id="requestee_container"> 
        <div class="query_heading">
          Flags Requested of You
        </div>
        <span id="requestee_count_refresh" class="bz_default_hidden">
          <span class="items_found" id="requestee_flags_found">0 flags found</span>
          | <a class="refresh" href="javascript:void(0);" id="requestee_refresh">Refresh</a>
          | <a class="buglist" href="javascript:void(0);" id="requestee_buglist">Buglist</a>
        </span>
        <div id="requestee_table"></div>
      </div>

      <div id="requester_container">
        <div class="query_heading">
          Flags You Have Requested
        </div>
        <span id="requester_count_refresh" class="bz_default_hidden">
          <span class="items_found" id="requester_flags_found">0 flags found</span>
          | <a class="refresh" href="javascript:void(0);" id="requester_refresh">Refresh</a>
          | <a class="buglist" href="javascript:void(0);" id="requester_buglist">Buglist</a>
        </span>
        <div id="requester_table"></div>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
</div>

[% PROCESS global/footer.html.tmpl %]
