/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.change-revisions {
  display: inline;
  font-size: var(--font-size-small);
}

.comment-actions .edit-btn .icon::before {
  content: '\E254';
}

.comment-editor {
  background-color: var(--primary-region-header-background-color);
}

.comment-editor [role="tablist"] {
  margin: 0 8px;
  padding: 4px 8px 0;
}

.comment-editor [role="tab"] {
  margin: 0;
  padding: 4px 8px;
}

.comment-editor [role="tabpanel"] {
  padding: 0 8px;
}

.comment-editor textarea {
  margin: 0;
  padding: 12px;
  width: 100%;
  min-height: 5em;
}

.comment-editor .comment-text {
  margin: 0;
  outline: none;
  border: 1px solid var(--control-border-color);
}

.comment-editor .bottom-toolbar {
  padding: 8px;
  text-align: right;
}

.comment-editor .bottom-toolbar label {
  margin: 0 8px;
}
