[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF user.in_group('admin') %]
  <dt id="push">
    <a href="page.cgi?id=tracking_flags_admin_list.html">Release Tracking Flags</a>
  </dt>
  <dd>
    Tracking flags are special multi-value fields used to aid tracking releases
    of Firefox, Firefox OS, Thunderbird, and other projects.
  </dd>
[% END %]

