[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<!doctype html>
<html>
<head>
  <title>Moved</title>
  <meta http-equiv="refresh" content="0;URL=[% url FILTER none %]">
  <style>
    body {
      font-family: sans-serif;
      font-size: small;
      background: url('extensions/BMO/web/images/background.png') repeat-x;
    }
  </style>
</head>
<body>
  Redirecting to <a href="[% url FILTER none %]">[% url FILTER html %]</a>
</body>
</html>
