.vagrant
.git
MYMETA.*
*.tar
Makefile
blib
local
data
localconfig
pm_to_blib
template_cache
\#*\#
*/\#*\#
*/*/\#*\#
*/*/*/\#*\#
*/*/*/*/\#*\#
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
