.vagrant
MYMETA.*
Makefile
blib
local
pm_to_blib
template_cache
vagrant_support
\#*\#
*/\#*\#
*/*/\#*\#
*/*/*/\#*\#
*/*/*/*/\#*\#
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
