# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

# 2 space indentation for Perl files
[*.{pl,PL,pm,cgi,t}]
indent_style = space
indent_size = 2

# 2 space indentation for HTML, CSS, JavaScript and YAML files
[.{html,tmpl,css,js,yml}]
indent_style = space
indent_size = 2

