# top-most EditorConfig file
root = true

# 4 space indentation for Perl files
[*.{pl,PL,pm,cgi}]
indent_style = space
indent_size = 4

# 2 space indentation for HTML, CSS, JavaScript and YAML files
[.{html,tmpl,css,js,yml}]
indent_style = space
indent_size = 2

