/**/.htaccess
/lib/*
/local/*
/template/en/custom
/docs/en/rst/extensions/*
/docs/en/rst/api/extensions/*
/docs/en/rst/integrating/internals/*
/docs/en/html
/docs/en/txt
/docs/en/pdf
/skins/custom
/graphs
/data
/localconfig
/cpanfile
/index.html
/Makefile
/MYMETA.*
/pm_to_blib
/blib
/.perl-version
/Bugzilla-*.*/

/skins/contrib/Dusk/admin.css
/skins/contrib/Dusk/bug.css
