/**/.htaccess
/skins/yui.css
/skins/yui3.css
/js/yui.js
/js/yui3.js
/lib/*
/local/*
/template/en/custom
/docs/en/rst/extensions/*
/docs/en/rst/api/extensions/*
/docs/en/html
/docs/en/txt
/docs/en/pdf
/skins/custom
/graphs
/data
/assets
/localconfig
/localconfig.*
/index.html
/error_reports
/.DS_Store
/template_cache
/Makefile
/MYMETA.*
/pm_to_blib
/blib
/Bugzilla-*.*/
/local
.vagrant/
version.json
__lbheartbeat__

/skins/contrib/Dusk/admin.css
/skins/contrib/Dusk/bug.css
