# Don't allow people to retrieve non-cgi executable files or our private data
<FilesMatch ^(.*\.pm|.*\.pl|.*localconfig.*)$>
  deny from all
</FilesMatch>
<FilesMatch (\.js|\.css)$>
  ExpiresActive On
  # According to RFC 2616, "1 year in the future" means "never expire".
  # We change the name of the file's URL whenever its modification date
  # changes, so browsers can cache any individual JS or CSS URL forever.
  # However, since all JS and CSS URLs involve a ? in them (for the changing
  # name) we have to explicitly set an Expires header or browsers won't
  # *ever* cache them.
  ExpiresDefault "now plus 1 years"
  Header append Cache-Control "public"
</FilesMatch>
