Byron Jones <glob@mozilla.com> Byron Jones <bjones@mozilla.com>
Byron Jones <glob@mozilla.com> bugzilla%glob.com.au <>
Byron Jones <glob@mozilla.com> byron jones (glob) <bugzilla@glob.com.au>
Byron Jones <glob@mozilla.com> Byron Jones ‹:glob› <glob@mozilla.com>
Byron Jones <glob@mozilla.com> byron jones <byron@glob.com.au>
Dave Miller <justdave@mozilla.com> justdave%bugzilla.org <>
Dave Miller <justdave@mozilla.com> justdave%syndicomm.com <>
David Lawrence <dkl@mozilla.com> Dave Lawrence <dkl@redhat.com>
David Lawrence <dkl@mozilla.com> Dave Lawrence <dlawrence@mozilla.com>
David Lawrence <dkl@mozilla.com> David Lawrence <dkl@redhat.com>
David Lawrence <dkl@mozilla.com> dklawren <dklawren@users.noreply.github.com>
David Lawrence <dkl@mozilla.com> David Lawrence <dlawrence@mozilla.com>
David Lawrence <dkl@mozilla.com> dkl%redhat.com <>
David Lawrence <dkl@mozilla.com> David Lawrence [:dkl] <dkl@mozilla.com>
David Lawrence <dkl@mozilla.com> Dave Lawrence <dkl@mozilla.com>
Dylan Hardison <dylan@mozilla.com> Dylan Hardison <dylan@hardison.net>
Dylan Hardison <dylan@mozilla.com> Dylan William Hardison <dylan@hardison.net>
Dylan Hardison <dylan@mozilla.com> Dylan William Hardison <dylan@mozill.com>
Dylan Hardison <dylan@mozilla.com> Dylan William Hardison <dylan@mozilla.com>
Dylan Hardison <dylan@mozilla.com> Dylan William Hardison [:dylan] <dylan@mozilla.com>
Frédéric Buclin <LpSolit@gmail.com> lpsolit%gmail.com <>
Gervase Markham <gerv@gerv.net> Gervase Markham <gerv@mozilla.org>
Gervase Markham <gerv@gerv.net> gerv%gerv.net <>
Max Kanat-Alexander <mkanat@bugzilla.org> mkanat%bugzilla.org <>
Max Kanat-Alexander <mkanat@bugzilla.org> mkanat%kerio.com <>
Simon Green <mail@simon.green> Simon Green <sgreen+mozilla@redhat.com>
Simon Green <mail@simon.green> Simon Green <simon@simongreen.net>
Terry <terry@mozilla.org> terry%mozilla.org <>
Terry <terry@mozilla.org> terry%netscape.com <>
eseyman <eseyman@linagora.com> eseyman%linagora.com <>
<koosha.khajeh@gmail.com> <Koosha>

A. Shimono (himorin) <shimono@bug-ja.org> A. Shimono <shimono@bug-ja.org>
A. Shimono (himorin) <shimono@bug-ja.org> A. Shimono [:himorin] <shimono@bug-ja.org>
Teemu Mannermaa <wicked@sci.fi> wicked%sci.fi <>

bbaetz <bbaetz@acm.org> bbaetz%acm.org <>
bbaetz <bbaetz@acm.org> bbaetz%cs.mcgill.ca <>
bbaetz <bbaetz@acm.org> bbaetz%student.usyd.edu.au <>

barnboy <barnboy@trilobyte.net> barnboy%trilobyte.net <>
blakeross <blakeross@telocity.com> blakeross%telocity.com <>
bryce-mozilla <bryce-mozilla@nextbus.com> bryce-mozilla%nextbus.com <>
bugreport <bugreport@peshkin.net> bugreport%peshkin.net <>
burnus <burnus@gmx.de> burnus%gmx.de <>
caillon <caillon@returnzero.com> caillon%returnzero.com <>
cyeh <cyeh@bluemartini.com> cyeh%bluemartini.com <>
dave <dave@intrec.com> dave%intrec.com <>
db48x <db48x@yahoo.com> db48x%yahoo.com <>
dmose <dmose@mozilla.org> dmose%mozilla.org <>
donm <donm@bluemartini.com> donm%bluemartini.com <>
endico <endico@mozilla.org> endico%mozilla.org <>
erik <erik@dasbistro.com> erik%dasbistro.com <>
ghendricks <ghendricks@novell.com> ghendricks%novell.com <>
guy.pyrzak <guy.pyrzak@gmail.com> guy.pyrzak%gmail.com <>
harrison <harrison@netscape.com> harrison%netscape.com <>
jake <jake@acutex.net> jake%acutex.net <>
jake <jake@bugzilla.org> jake%bugzilla.org <>
jeff.hedlund <jeff.hedlund@matrixsi.com> jeff.hedlund%matrixsi.com <>
jkeiser <jkeiser@netscape.com> jkeiser%netscape.com <>
jocuri <jocuri@softhome.net> jocuri%softhome.net <>
john <john@johnkeiser.com> john%johnkeiser.com <>
jouni <jouni@heikniemi.net> jouni%heikniemi.net <>
jwz <jwz@mozilla.org> jwz%mozilla.org <>
karl <karl@kornel.name> karl%kornel.name <>
karl.kornel <karl.kornel@mindspeed.com> karl.kornel%mindspeed.com <>
kiko <kiko@async.com.br> kiko%async.com.br <>
matty <matty@chariot.net.au> matty%chariot.net.au <>
mbarnson <mbarnson@excitehome.net> mbarnson%excitehome.net <>
mbarnson <mbarnson@sisna.com> mbarnson%sisna.com <>
mcafee <mcafee@netscape.com> mcafee%netscape.com <>
mozilla <mozilla@colinogilvie.co.uk> mozilla%colinogilvie.co.uk <>
myk <myk@mozilla.org> myk%mozilla.org <>
olav <olav@bkor.dhs.org> olav%bkor.dhs.org <>
preed <preed@sigkill.com> preed%sigkill.com <>
reed <reed@reedloden.com> reed%reedloden.com <>
seth <seth@cs.brandeis.edu> seth%cs.brandeis.edu <>
shaver <shaver@netscape.com> shaver%netscape.com <>
tara <tara@tequilarista.org> tara%tequilarista.org <>
timeless <timeless@mac.com> timeless%mac.com <>
timeless <timeless@mozdev.org> timeless%mozdev.org <>
travis <travis@sedsystems.ca> travis%sedsystems.ca <>
vladd <vladd@bugzilla.org> vladd%bugzilla.org <>
wurblzap <wurblzap@gmail.com> wurblzap%gmail.com <>
zach <zach@zachlipton.com> zach%zachlipton.com <>
