<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.cgi" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="REST">
                    <match url="^rest/(.*)$" />
                    <action type="Rewrite" url="rest.cgi/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="true">
                    <add fileExtension=".dot" allowed="false" />
                    <add fileExtension=".pl" allowed="false" />
                    <add fileExtension=".pm" allowed="false" />
                    <add fileExtension=".rst" allowed="false" />
                    <add fileExtension=".tmpl" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment="localconfig" />
                    <add segment="params.json" />
                    <add segment="mailer.testfile" />
                </hiddenSegments>
                <denyUrlSequences>
                    <add sequence="/contrib/" />
                    <add sequence="/data/attachments/" />
                    <add sequence="/data/db/" />
                    <add sequence="/data/mining/" />
                    <add sequence="/lib/" />
                    <add sequence="/rst/" />
                    <add sequence="/template/" />
                    <add sequence="/t/" />
                    <add sequence="/xt/" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
