/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */


#edit_table table {
  margin-bottom: 1em;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--grid-border-color);
  background-color: var(--grid-background-color);
}

#edit_table th,
#edit_table td {
  padding: 4px 8px;
}

#edit_table th {
  background: var(--grid-header-background-color);
  text-align: left;
}

#edit_table td.editable {
  background-color: var(--control-background-color);
}

#edit_table .action {
  display: none;
}

#edit_table tr:hover .action {
  display: block;
}
