[%# *** Disclaimer for Legal bugs *** %]
[% IF bug.product == "Legal" %]
  <div id="legal_disclaimer">
    The material and information contained herein is Confidential and
    subject to Attorney-Client Privilege and Work Product Doctrine.
  </div>
[% END %]
