[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the BMO Extension
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Dave Lawrence <dkl@mozilla.com>
  #%]

[% USE Bugzilla %]
[% IF Bugzilla.request_cache.bmo_fields_page %]
  [% 
    vars.help_html.priority =
      "This field describes the importance and order in which $terms.abug
       should be fixed compared to other ${terms.bugs}. This field is utilized
       by the programmers/engineers to prioritize their work to be done where
       P1 is considered the highest and P5 is the lowest."
      
    vars.help_html.bug_severity =
      "This field describes the impact of ${terms.abug}.
       <table>
        <tr>
          <th>blocker</th>
          <td>Blocks development and/or testing work</td>
        </tr>
        <tr>
          <th>critical</th>
          <td>crashes, loss of data, severe memory leak</td>
        </tr>
        <tr>
          <th>major</th>
          <td>major loss of function</td>
        </tr>
        <tr>
          <th>normal</th>
          <td>regular issue, some loss of functionality under specific circumstances</td>
        </tr>
        <tr>
          <th>minor</th>
          <td>minor loss of function, or other problem where easy
          workaround is present</td>
        </tr>
        <tr>
          <th>trivial</th>
          <td>cosmetic problem like misspelled words or misaligned
          text</td>
        </tr>
        <tr>
          <th>enhancement</th>
          <td>Request for enhancement</td>
      </table>"
  
    vars.help_html.rep_platform = 
      "This is the hardware platform against which the $terms.bug was reported. 
       Legal platforms include:
       <ul>
         <li>All (happens on all platforms; cross-platform ${terms.bug})</li>
         <li>x86_64</li>
         <li>ARM</li>
       </ul>
       <b>Note:</b> When searching, selecting the option
       <em>All</em> does not
       select $terms.bugs assigned against any platform. It merely selects 
       $terms.bugs that are marked as occurring on all platforms, i.e. are 
       designated <em>All</em>.",
  
    vars.help_html.op_sys =
      "This is the operating system against which the $terms.bug was
       reported. Legal operating systems include:
       <ul>
         <li>All (happens on all operating systems; cross-platform ${terms.bug})</li>
         <li>Windows 7</li>
         <li>Mac OS X</li>
         <li>Linux</li>
       </ul>
       Sometimes the operating system implies the platform, but not
       always. For example, Linux can run on x86_64, ARM, and others.",
  
    vars.help_html.assigned_to =
      "This is the person in charge of resolving the ${terms.bug}. Every time
       this field changes, the status changes to 
       <b>NEW</b> to make it
       easy to see which new $terms.bugs have appeared on a person's list.</p>",
  %]
[% END %]
