[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the BMO Extension
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Dave Lawrence <dkl@mozilla.com>
  #%]

[% USE Bugzilla %]
[% IF Bugzilla.request_cache.bmo_fields_page %]
  [%
    vars.help_html.bug_type =
      "This field describes the type of ${terms.abug}.
       <table>
        <tr>
          <th>defect</th>
          <td>regression, crash, hang, security vulnerability and any other general issue</td>
        </tr>
        <tr>
          <th>enhancement</th>
          <td>new feature, improvement in UI, performance, etc. and any other request for enhancement</td>
        </tr>
        <tr>
          <th>task</th>
          <td>refactoring, removal, replacement, enabling or disabling of functionality and any other task</td>
        </tr>
      </table>"

    vars.help_html.priority =
      "This field describes the importance and order in which $terms.abug
       should be fixed compared to other ${terms.bugs}. This field is utilized
       by the programmers/engineers to prioritize their work to be done where
       P1 is considered the highest and P5 is the lowest."

    vars.help_html.bug_severity =
      "This field describes the impact of ${terms.abug}.
       <table>
        <tr>
          <th>S1</th>
          <td>Blocks development/testing, may impact more than 25% of users,
            causes data loss, potential chemspill, and no workaround available.
        </tr>
        <tr>
          <th>S2</th>
          <td>Major functionality/product severely impaired and a satisfactory
            workaround doesn't exist.</td>
        </tr>
        <tr>
          <th>S3</th>
          <td>Blocks non-critical functionality and a work around exists.</td>
        </tr>
        <tr>
          <th>S4</th>
          <td>Minor significance, cosmetic issues, low or no impact to users.</td>
        </tr>
        <tr>
          <th>N/A</th>
          <td>The above definitions do not apply to this bug; this value is
            reserved for bugs of type Task or Enhancement.</td>
        </tr>
        <tr>
          <th>--</th>
          <td>No severity has been set yet.</td>
        </tr>
      </table>"

    vars.help_html.rep_platform =
      "This is the hardware platform against which the $terms.bug was reported.
       Legal platforms include:
       <ul>
         <li>All (happens on all platforms; cross-platform ${terms.bug})</li>
         <li>x86_64</li>
         <li>ARM</li>
       </ul>
       <b>Note:</b> When searching, selecting the option
       <em>All</em> does not
       select $terms.bugs assigned against any platform. It merely selects
       $terms.bugs that are marked as occurring on all platforms, i.e. are
       designated <em>All</em>.",

    vars.help_html.op_sys =
      "This is the operating system against which the $terms.bug was
       reported. Legal operating systems include:
       <ul>
         <li>All (happens on all operating systems; cross-platform ${terms.bug})</li>
         <li>Windows 7</li>
         <li>macOS</li>
         <li>Linux</li>
       </ul>
       Sometimes the operating system implies the platform, but not
       always. For example, Linux can run on x86_64, ARM, and others.",

    vars.help_html.assigned_to =
      "This is the person in charge of resolving the ${terms.bug}. Every time
       this field changes, the status changes to
       <b>NEW</b> to make it
       easy to see which new $terms.bugs have appeared on a person's list.</p>",
  %]
[% END %]
