[mysql]
max_allowed_packet=1G

[mysqld]
user                   = bugzilla
default_storage_engine = InnoDB
socket                 = /var/lib/mysql/mysql.sock
pid_file               = /var/lib/mysql/mysql.pid
key_buffer_size        = 32M
myisam_recover         = FORCE,BACKUP
max_allowed_packet     = 1G
max_connect_errors     = 1000000
innodb                 = FORCE
datadir                = /var/lib/mysql
character-set-server   = utf8mb4
collation-server       = utf8mb4_general_ci

tmp_table_size         = 32M
max_heap_table_size    = 32M
query_cache_type       = 0
query_cache_size       = 0
max_connections        = 500
thread_cache_size      = 50
#open_files_limit       = 65535
table_definition_cache = 1024
table_open_cache       = 2048

innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 256M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 1G
innodb_flush_neighbors         = 0
innodb_flush_log_at_trx_commit = 2

log_error                      = /var/lib/mysql/mysql-error.log
log_queries_not_using_indexes  = 0
slow_query_log                 = 0
slow_query_log_file            = /var/lib/mysql/mysql-slow.log
general_log                    = 0
general_log_file               = /var/lib/mysql/bmo_query.log
