[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # subject: subject line of message
  # body: message body, shown before the query tables
  # queries: array of hashes containing:
  #     bugs: array containing hashes of fieldnames->values for each bug
  #     title: the title given in the whine scheduling mechanism
  #     name: the name of the query
  # author: user object for the person who scheduled this whine
  # recipient: user object for the intended recipient of the message
  #%]

[% body %]

[% IF author.login == recipient.login %]
  To edit your whine schedule, visit the following URL:
  [%+ urlbase %]editwhines.cgi
[% ELSE %]
  This search was scheduled by [% author.login %].
[% END %]

[% IF queries.size %]
  [% FOREACH query=queries %]

[%+ query.title +%] ([% query.bugs.size %] [%+ terms.bugs %])
[%+ "-" FILTER repeat(query.title.length) %]

  [% FOREACH bug=query.bugs %]
  [% terms.Bug +%] [%+ bug.bug_id %]:
  [%+ urlbase %]show_bug.cgi?id=[% bug.bug_id +%]
  Priority: [%+ display_value("priority", bug.priority) -%]
  [% field_descs.bug_severity %]: [%+ display_value("bug_severity", bug.bug_severity) -%]
  [%+ field.descs.rep_platform %]: [%+ display_value("rep_platform", bug.rep_platform) %]
  Assignee: [%+ bug.assigned_to %]
    Status: [%+ display_value("bug_status", bug.bug_status) %]
            [%- IF bug.resolution -%] Resolution: [% display_value("resolution", bug.resolution) -%]
            [%- END %]
   Summary: [% bug.short_desc %]

   [% END %]
View as [% terms.bug %] list: [% urlbase %]buglist.cgi?cmdtype=runnamed&namedcmd=[% query.name FILTER uri %]
  [% END %]
[% ELSE %]

  No [% terms.bugs %] were found that matched the search criteria.
[% END %]
