/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.user_story {
  width: 65em;
}

textarea#user_story {
  width: 100%;
}

#user_story_comment {
  float: right;
}

#user_story_readonly .bz_comment_text {
  border: 1px solid var(--control-border-color);
  border-radius: var(--control-border-radius);
}
