[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Attachments"
   desc = "Set up attachment options"
%]

[% param_descs = {
  allow_attachment_display =>
    "If this option is on, users will be able to view attachments from"
    _ " their browser, if their browser supports the attachment's MIME type."
    _ " If this option is off, users are forced to download attachments,"
    _ " even if the browser is able to display them."
    _ "<p>This is a security restriction for installations where untrusted"
    _ " users may upload attachments that could be potentially damaging if"
    _ " viewed directly in the browser.</p>"
    _ "<p>It is highly recommended that you set the <tt>attachment_base</tt>"
    _ " parameter if you turn this parameter on.",

  allow_attachment_deletion =>
    "If this option is on, administrators will be able to delete " _
    "the content of attachments.",

  maxattachmentsize =>
    "The maximum size (in kilobytes) of attachments.",

  attachment_storage =>
    "Where attachment data should be stored.  If this value is changed you " _
    "must use <tt>scripts/mmigrate-attachments</tt> to migrate existing " _
    "attachments.",

  }
%]
