PerlSwitches -wT
PerlSetEnv USE_NYTPROF 0
PerlSetEnv BUGZILLA_UNSAFE_AUTH_DELEGATION 1
PerlPassEnv LOG4PERL_CONFIG_FILE
PerlSetEnv LOG4PERL_STDERR_DISABLE 1
PerlConfigRequire /vagrant/mod_perl.pl

<IfModule mpm_prefork_module>
    StartServers         2
    MinSpareServers      2
    MaxSpareServers      2
    MaxClients           200
    MaxRequestsPerChild  4500
</IfModule>

<VirtualHost *:80>
    KeepAlive Off
    DocumentRoot "/vagrant"
    <Directory "/vagrant">
        DirectoryIndex index.cgi
        Options Indexes FollowSymLinks ExecCGI
        AllowOverride None
        Allow from all
    </Directory>
</VirtualHost>
