$answer{'ADMIN_EMAIL'}          = 'vagrant@{{ WEB_HOSTNAME }}';
$answer{'ADMIN_OK'}             = 'Y';
$answer{'ADMIN_PASSWORD'}       = 'vagrant01!';
$answer{'passwdqc_min'}         = '8, 8, 8, 8, 8';
$answer{'ADMIN_REALNAME'}       = 'Vagrant User';
$answer{'NO_PAUSE'}             = 1;
$answer{'size_limit'}           = 750000;
$answer{'bugzilla_version'}     = '1';
$answer{'create_htaccess'}      = '1';
$answer{'db_check'}             = 1;
$answer{'db_driver'}            = 'mysql';
$answer{'db_host'}              = '{{DB_IP}}';
$answer{'db_name'}              = 'bugs_bmo';
$answer{'db_pass'}              = 'bugs';
$answer{'db_port'}              = 0;
$answer{'db_sock'}              = '';
$answer{'db_user'}              = 'bugs';
$answer{'diffpath'}             = '/usr/bin';
$answer{'index_html'}           = 0;
$answer{'interdiffbin'}         = '/usr/bin/interdiff';
$answer{'user_info_class'}      = 'GitHubAuth,CGI';
$answer{'user_verify_class'}    = 'GitHubAuth,DB';
$answer{'urlbase'}              = "http://{{WEB_HOSTNAME}}/";
$answer{'memcached_namespace'}  = 'bmo:';
$answer{'memcached_servers'}    = '127.0.0.1:11211';
$answer{'mail_delivery_method'} = 'Sendmail';
$answer{'use_mailer_queue'}     = 1;
$answer{'useclassification'}    = 1;
$answer{'usebugaliases'}        = 1;
$answer{'upgrade_notification'} = 0;
$answer{'usestatuswhiteboard'}  = 1;
$answer{'usetargetmilestone'}   = 1;
$answer{'webdotbase'}           = '/usr/bin/dot';
$answer{'auth_delegation'}      = 1;
$answer{'insidergroup'}         = 'admin';
$answer{'defaultpriority'}      = '--';
$answer{'defaultseverity'}      = 'normal';
$answer{'skin'}                 = 'Mozilla';
$answer{'docs_urlbase'}         = 'https://bmo.readthedocs.io/en/latest/';
$answer{'ses_username'}         = 'ses';
$answer{'ses_password'}         = 'secret';
