[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<li>
|
<a href="page.cgi?id=etiquette.html">
  [%- terms.Bugzilla %] Etiquette</a>
</li>
<li>
|
<a href="https://developer.mozilla.org/en/Bug_writing_guidelines">
  [%- terms.Bug %] Writing Guidelines</a>
</li>
