[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]

[%# Disable tracking of DNT-enabled users as well as private bugs #%]
[% RETURN IF !Bugzilla.params.google_analytics_tracking_id || Bugzilla.cgi.http('dnt') == '1' ||
    (bug.defined && bug.groups_in.size) %]

[% IF !javascript_urls %]
  [% javascript_urls = [] %]
[% END %]

[% javascript_urls.push('extensions/GoogleAnalytics/web/js/analytics.js') %]
