[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<div id="prod_comp_search_form" class="yui3-skin-sam">
  <div id="prod_comp_search_header">
    [% input_label FILTER none %]
    <img id="prod_comp_throbber" src="extensions/ProdCompSearch/web/images/throbber.gif"
         class="bz_default_hidden" width="16" height="11">
  </div>
  <input id="prod_comp_search" type="text" size="50">
</div>
