[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script type="text/javascript">
  [% IF script_name %]
    ProdCompSearch.script_name = '[% script_name FILTER js %]';
  [% END %]
  [% IF format %]
    ProdCompSearch.format = '[% format FILTER js %]';
  [% END %]
  [% IF cloned_bug_id %]
    ProdCompSearch.cloned_bug_id = '[% cloned_bug_id FILTER js %]';
  [% END %]
  [% IF new_tab %]
    ProdCompSearch.new_tab = true;
  [% END %]
</script>

<div id="prod_comp_search_form" class="yui3-skin-sam">
  <div id="prod_comp_search_header">
    [% input_label FILTER none %]&nbsp;
    <img id="prod_comp_throbber" src="extensions/ProdCompSearch/web/images/throbber.gif"
         class="bz_default_hidden" width="16" height="11">
    <span id="prod_comp_no_components" class="bz_default_hidden">
      No components found</span>
  </div>
  <input id="prod_comp_search" type="text" size="50"
         placeholder="Search by product and component keywords">
</div>
