[% IF Param('user_info_class').split(',').contains('BrowserID')
      && Param('browserid_includejs_url') %]
<img src="extensions/BrowserID/web/sign_in_orange.png" onclick="browserid_sign_in()" style="margin-bottom: -8px"> or
[% END %]
