/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#login_autocomplete {
  float: left;
}

#user_profile_table th {
  text-align: right;
  padding-right: 1em;
  color: var(--secondary-label-color);
  vertical-align: middle;
  white-space: nowrap;
}

#user_profile_table .vcard {
  display: inline-block;
}

#user_profile_table .numeric {
  text-align: right;
}

#user_profile_table .product_span {
  white-space: nowrap;
}

#updated {
  font-size: var(--font-size-small);
  font-style: italic;
}

#gravatar-container {
  padding-right: 15px;
  text-align: center;
  font-size: var(--font-size-small);
  vertical-align: top;
}

#gravatar {
  margin-bottom: 5px;
  border-radius: 4px;
}

#what {
  margin-top: 1em;
}
