/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#legal_disclaimer {
    background: #fff;
    color: #000;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.attachment-warning {
    padding-left: 4px;
}

.attachment-warning img {
    vertical-align: sub;
}

#sec-approval-warning a {
    color: #b70000;
}
