/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#create-account h2 {
  margin: 0 0 16px;
}

#create-account h3 {
  margin: 0 0 4px;
}

#create-account-left {
  border-right: 2px solid var(--primary-region-border-color);
  padding: 16px 32px 16px 16px;
}

#product-list td {
  padding-top: 10px;
}

#product-list img {
  padding-right: 10px;
}

#create-account-right {
  padding: 16px 16px 16px 32px;
}

#right-blurb {
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-comfortable);
}

#right-blurb li {
  padding-bottom: 1em;
}

#create-account-form tr:last-child {
  text-align: right;
}
