/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */


#project-flags,
#custom-flags {
    width: auto;
}

.bz_hidden {
    display: none;
}

.bz_collapse_comment {
    font-family: monospace;
}

#prod_desc_container,
#comp_desc_container {
    overflow: auto;
    color: green;
    padding: 2px;
}

#toggle_prod_desc,
#toggle_comp_desc {
    white-space: nowrap;
}

#rank_label {
    padding-right: 0;
}

input#cf_rank {
    text-align: right;
    width: 3em;
}

.attachment-warning {
    font-weight: normal;
}

.attachment-warning img {
    vertical-align: sub;
}

#sec-approval-warning a {
    color: #b70000;
}
