/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.hidden {
  display: none;
}

#product,
#component {
  width: 20em;
}

#parameters th {
  text-align: left;
  vertical-align: middle !important;
}

#report th {
  text-align: left;
}

#report th.right {
  text-align: right;
}

#report th.sorted {
  text-decoration: underline;
}

#report-header {
  background-color: var(--grid-header-background-color);
}

.report_subheader {
  background-color: var(--grid-subheader-background-color);
}

#report td time {
  white-space: nowrap;
}

.disabled {
  opacity: .5;
}

.problem {
  color: var(--accent-color-red-1);
}
