.hidden {
  display: none;
}

#product, #component {
    width: 20em;
}

#parameters th {
    text-align: left;
    vertical-align: middle !important;
}

#report tr.bugitem:hover {
  background: #ccccff;
}

#report td, #report th {
  padding: 3px 10px 3px 3px;
}

#report th {
    text-align: left;
}

#report th.right {
    text-align: right;
}

#report th.sorted {
    text-decoration: underline;
}

#report-header {
  background: #cccccc;
}

.report_row_odd {
    background-color: #eeeeee;
    color: #000000;
}

.report_row_even {
    background-color: #ffffff;
    color: #000000;
}

#report.hover tr:hover {
    background-color: #ccccff;
}

#report {
    border: 1px solid #888888;
}

#report th, #report td {
    border: 0px;
}

.disabled {
    color: #888888;
}

.hoverrow tr:hover {
    background-color: #ccccff;
}

.problem {
    color: #aa2222;
}

