.hidden {
  display: none;
}

#triage_form th {
    text-align: left;
}

#product, #component {
    width: 20em;
}

#report tr.bugitem:hover {
  background: #ccccff;
}

#report td {
  padding: 1px 10px 1px 10px;
}

#report-header {
  background: #dddddd;
}

.report_row_odd {
    background-color: #F7F7F7;
    color: #000000;
}

.report_row_even {
    background-color: #FFFFFF;
    color: #000000;
}

tr.report_item:hover {
    background-color: #ccccff;
}
