/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.hidden {
  display: none;
}

#triage_form th {
    text-align: left;
}

#product, #component {
    width: 20em;
}

#triage_owners_form th {
  text-align: right;
  vertical-align: top;
}

#report {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

#report thead {
  position: sticky;
  top: 0;
  left: 0;
  background: #dddddd;
}

#report tr.bugitem:hover {
  background: #ccccff;
}

#report th,
#report td {
  padding: 4px 8px;
  text-align: left;
}

#report th.count,
#report td.count {
  width: 1em;
  text-align: center;
  white-space: nowrap;
}

#report td.count {
  color: #CCC;
}

#report td.count a {
  display: block;
  width: 100%;
}
