[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1/GPL 2.0/LGPL 2.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is Keyword Picker.
  #
  # The Initial Developer of the Original Code is America Online, Inc.
  # Portions created by the Initial Developer are Copyright (C) 2004
  # Mozilla Foundation. All Rights Reserved.
  #
  # Contributor(s):
  #   Christopher A. Aillon <christopher@aillon.com> (Original Author)
  #
  # Alternatively, the contents of this file may be used under the terms of
  # either the GNU General Public License Version 2 or later (the "GPL"), or
  # the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  # in which case the provisions of the GPL or the LGPL are applicable instead
  # of those above. If you wish to allow use of your version of this file only
  # under the terms of either the GPL or the LGPL, and not to allow others to
  # use your version of this file under the terms of the MPL, indicate your
  # decision by deleting the provisions above and replace them with the notice
  # and other provisions required by the GPL or the LGPL. If you do not delete
  # the provisions above, a recipient may use your version of this file under
  # the terms of any one of the MPL, the GPL or the LGPL.
  #
  # ***** END LICENSE BLOCK *****
  #%]

[%############################################################################%]
[%# Keyword Picker                                                           #%]
[%############################################################################%]
[%#                                                                          #%]
[%# If you edit this file, you might also need to edit js/keyword-chooser.js #%]
[%#                                                                          #%]
[%############################################################################%]

<div id="keyword-chooser" style="display: none">
  <table>
    <tr>
      <td valign="top">
        Available&nbsp;Keywords:<br>
        <select id="keyword-list" size="5" multiple>
        [% FOREACH kwd = valid_keywords %]
          [% UNLESS sel_keywords && lsearch(sel_keywords, kwd) != -1 %]
           <option value="[% kwd FILTER html %]">[% kwd FILTER html %]</option>
          [% END %]
        [% END %]
        </select>
      </td>
      <td valign="middle">
        <button onclick="document.getElementById('keyword-chooser').chooserElement.chooser.choose(); return false;">-></button><br>
        <button onclick="document.getElementById('keyword-chooser').chooserElement.chooser.unchoose(); return false;"><-</button>
      </td>
      <td valign="top">
        Bug&nbsp;Keywords:<br>
        <select id="bug-keyword-list" size="5" multiple>
        [% FOREACH kwd = valid_keywords %]
          [% IF sel_keywords && lsearch(sel_keywords, kwd) != -1 %]
           <option value="[% kwd FILTER html %]">[% kwd FILTER html %]</option>
          [% END %]
        [% END %]
        </select>
      </td>
      <td valign="middle">
        <button type="button" onclick="document.getElementById('keyword-chooser').chooserElement.chooser.ok(); return false">OK</button>
        <br>
        <button type="button" onclick="document.getElementById('keyword-chooser').chooserElement.chooser.cancel(); return false" style="margin-top:3px;">Cancel</button>
      </td>
    </tr>
  </table>
</div>

<script type="text/javascript">
  var validKeywords = new Array();

  [% FOREACH kwd = valid_keywords %]
    validKeywords[validKeywords.length] = "[% kwd FILTER html %]";
  [% END %]

  InitializeKeywordChooser(validKeywords);
</script>
