[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<nav class="org-links">
  <h1><a href="https://www.mozilla.org/">Mozilla</a></h1>
  <ul>
    <li><a href="https://www.mozilla.org/privacy/websites/" target="_blank">Privacy</a></li>
    <li><a href="https://www.mozilla.org/privacy/websites/#cookies" target="_blank">Cookies</a></li>
    <li><a href="https://www.mozilla.org/about/legal/" target="_blank">Legal</a></li>
  </ul>
</nav>
