[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<div id="header-external-links" class="dropdown first">
  <button type="button" id="header-external-menu-button" class="dropdown-button minor" title="Mozilla"
          aria-label="Mozilla" aria-expanded="false" aria-haspopup="true" aria-controls="header-external-menu">
    <img src="[% 'extensions/BMO/web/images/moz-fav-bw-rgb.svg' FILTER version %]" width="32" height="32" alt="">
  </button>
  <ul class="dropdown-content right" id="header-external-menu" role="menu" style="display:none;">
    <li role="presentation">
      <a href="https://www.mozilla.org/" role="menuitem" tabindex="-1">Mozilla Home</a>
    </li>
    <li role="separator"></li>
    <li role="presentation">
      <a href="https://www.mozilla.org/privacy/websites/" role="menuitem" tabindex="-1">Privacy</a>
    </li>
    <li role="presentation">
      <a href="https://www.mozilla.org/privacy/websites/#cookies" role="menuitem" tabindex="-1">Cookies</a>
    </li>
    <li role="presentation">
      <a href="https://www.mozilla.org/about/legal/" role="menuitem" tabindex="-1">Legal</a>
    </li>
  </ul>
</div>
