[% IF message_tag == "employee_incident_creation_failed" %]
  The [% terms.bug %] was created successfully, but the dependent 
  Employee Incident [% terms.bug %] creation failed. The error has 
  been logged and no further action is required at this time.
[% END %]
