[% PROCESS global/header.html.tmpl
  title = "Add OAuth2 Client"
  onload = "document.forms['f'].client_id.focus()"
%]

<form name="f" method="post" action="[% basepath FILTER none %]admin/oauth/create">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right"><label for="description">Client Description:</label></th>
      <td><input id="description" size="20" maxlength="20" name="description"></td>
    </tr>
    <tr>
      <th align="right"><label for="id">Client ID:</label></th>
      <td>[% id FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><label for="secret">Client Secret:</label></th>
      <td>[% secret FILTER html %]</td>
    </tr>
    <tr>
      <th class="field_label"><label for="scopes">Scopes:</label></th>
      <td>
        At least one required<br>
        <table>
        [% FOREACH scope = scopes %]
          <tr>
            <td>
              <input id="scope_[% scope.id FILTER html %]"
                     name="scopes" type="checkbox" value="[% scope.id FILTER html %]">
            </td>
            <td>
              [% scope.description FILTER html %]
            </td>
          </tr>
        [% END %]
        </table>
      </td>
    </tr>
  </table>
  <input type="submit" id="create" value="Add">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="id" value="[% id FILTER html %]">
  <input type="hidden" name="secret" value="[% secret FILTER html %]">
</form>

[% PROCESS global/footer.html.tmpl %]
