[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  RETURN UNLESS template.name == 'bug/show-modal.html.tmpl'
    || template.name == 'bug/process/results.html.tmpl';
  RETURN UNLESS user.is_insider
    || Param('edit_comments_group') && user.in_group(Param('edit_comments_group'));

  # Expose strings used in JavaScript
  js_BUGZILLA.string.InlineCommentEditor = {
    cancel => 'Cancel',
    cancel_tooltip => 'Discard the changes',
    edited => 'Edited',
    fetch_error => 'Raw comment could not be loaded. Please try again later.',
    hide_revision => 'Hide This Revision',
    loading => 'Loading…',
    revision_count => [ '%d revision', '%d revisions' ],
    save => 'Update Comment',
    save_error => 'Updated comment could not be saved. Please try again later.',
    save_tooltip => 'Save the changes',
    saving => 'Saving…',
    toolbar => 'Comment Editor Toolbar',
  };
%]
