[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "PhabBugz"
   desc = "Configure Phabricator Integration"
%]

[%
   param_descs = {
     phabricator_enabled     => 'Enable Phabricator Integration',
     phabricator_base_uri    => 'Phabricator Base URI',
     phabricator_api_key     => 'Phabricator User API Key',
     phabricator_auth_callback_url => 'Phabricator Auth Delegation URL',
     phabricator_app_id      => 'app_id for API Keys delegated to Phabricator',
   }
%]
