[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "Account Verification"
  allow_mobile = 1
%]

<h1>Account Verification</h1>

<p>
  <b>[% reason FILTER html %]</b> requires verification.<br>
  Please enter your verification code from your TOTP application. If your device has been lost or stolen, you
  may use one of your pregenerated recovery codes.
</p>
<div class="verify-totp">
  <form method="POST" action="[% postback.action FILTER none %]">
    [% FOREACH field IN postback.fields.keys %]
      <input type="hidden" name="[% field FILTER html %]" value="[% postback.fields.item(field) FILTER html %]">
    [% END %]
    <input type="[% is_mobile_browser ? "number" : "text" %]" name="code" id="code"
           placeholder="123456" maxlength="9" pattern="\d{6,9}" size="10"
           autocomplete="off" required autofocus><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

[% INCLUDE global/footer.html.tmpl %]
