[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "Account Verification"
%]

<h1>Account Verification</h1>

<p>
  Please enter your verification code from your TOTP application:
</p>

<form method="POST" action="token.cgi">
<input type="hidden" name="a" value="mfa">
<input type="hidden" name="t" value="[% token FILTER html %]">
<input type="text" name="code" id="code"
       placeholder="123456" maxlength="6" pattern="\d{6}" size="10"
       autocomplete="off" required autofocus><br>
<br>
<input type="submit" value="Submit">
</form>

[% INCLUDE global/footer.html.tmpl %]
