[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "Change Password" %]
[% PROCESS global/header.html.tmpl %]

<p>
  To change your password, enter a new password twice:
</p>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th align="right">New Password:</th>
      <td>
        <input type="password" name="password">
        (minimum [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters)
      </td>
    </tr>
    
    <tr>
      <th align="right">New Password Again:</th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>
    
    <tr>
      <th align="right">&nbsp;</th>
      <td>
        <input type="submit" id="update" value="Submit">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
