[% IF flag && flag.status == '?' && flag.type.name == 'review' && attachment && attachment.ispatch %]

Splinter Review
[%+ urlbase FILTER none %][% Param('splinter_base') %]&bug=[% bug.bug_id FILTER uri %]&attachment=[% attachment.id FILTER uri %]
[%- END %]

