[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla Main Page"
   header = "Main Page" 
   header_addl_info = "version " _ (Bugzilla.params.bugzilla_version || constants.BUGZILLA_VERSION)
   style_urls = [ 'skins/standard/index.css' ]
   no_yui = 1
%]

<div id="page-index">
  <table>
    <tr>
      <td>
        <h1 id="welcome"> Welcome to [% terms.Bugzilla %]</h1>
        <div class="intro">[% Hook.process('intro') %]</div>
        <a id="enter_bug" class="bz_common_actions"
           href="enter_bug.cgi"><span>File [% terms.aBug %]</span></a>
        <a id="query" class="bz_common_actions" 
           href="query.cgi"><span>Search</span></a>
        <a id="account" class="bz_common_actions"
           [% IF user.id %]
             href="userprefs.cgi"><span>User Preferences</span></a>
           [% ELSIF Param('createemailregexp')
                    && user.authorizer.user_can_create_account
            %]
             href="createaccount.cgi"><span>Open a New Account</span></a>
           [% ELSE %]
             href="?GoAheadAndLogIn=1"><span>Log In</span></a>
           [% END %]

        <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
          <div>
            <input id="quicksearch_main" type="text" name="quicksearch"
              placeholder="Enter [% terms.abug %] number or some search terms"
              title="Quick Search">
            <input id="find" type="submit" value="Quick Search">
            <ul class="additional_links" id="quicksearch_links">
              <li>
                <a href="page.cgi?id=quicksearch.html">Quick Search help</a>
              </li>
              <li class="bz_default_hidden" id="quicksearch_plugin">
                |
                <a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')">
                 Install the Quick Search plugin
                </a>
              </li>
            </ul>
            <ul class="additional_links">
              <li>
                <a href="page.cgi?id=etiquette.html">[%- terms.Bugzilla %] Etiquette</a>
              </li>
              <li>
                | <a href="https://developer.mozilla.org/en/Bug_writing_guidelines">[%- terms.Bug %] Writing Guidelines</a>
              </li>
              [% Hook.process('additional_links') %]
            </ul>
          </div>
        </form>
        <div class="outro">[% Hook.process('outro') %]</div>
      </td>
    </tr>
  </table>
</div>

[% PROCESS global/footer.html.tmpl %]
