User-agent: *
Disallow: [% basepath FILTER none %]
Crawl-delay: 30

[% IF NOT Bugzilla.localconfig.urlbase.matches("bugzilla-dev") %]

Allow: [% basepath FILTER none %]$
Allow: [% basepath FILTER none %]index.cgi

Allow: [% basepath FILTER none %]page.cgi
Disallow: [% basepath FILTER none %]page.cgi*id=voting*
Disallow: [% basepath FILTER none %]page.cgi*id=productdashboard*
Disallow: [% basepath FILTER none %]page.cgi*id=user_activity*

Allow: [% basepath FILTER none %]show_bug.cgi
Disallow: [% basepath FILTER none %]show_bug.cgi*ctype=*
Disallow: [% basepath FILTER none %]show_bug.cgi*format=multiple*

Allow: [% basepath FILTER none %]describecomponents.cgi
Allow: [% basepath FILTER none %]describekeywords.cgi
Disallow: [% basepath FILTER none %]showdependency*
Disallow: [% basepath FILTER none %]banmyipforever.cgi

[% FILTER remove('#.*') %]
[% Hook.process("end") %]
[% END %]

[% END %]
