[% IF Param('user_info_class').split(',').contains('Persona')
      && Param('persona_includejs_url') %]
<p>
  <img src="extensions/Persona/web/images/persona_sign_in.png" onclick="persona_sign_in()">
</p>
[% END %]
