[% IF Param('user_info_class').split(',').contains('Persona')
      && Param('persona_includejs_url') %]
<script type="text/javascript">
  YAHOO.util.Event.addListener('login_link[% qs_suffix FILTER js %]','click', function () {
      var login_link = YAHOO.util.Dom.get('persona_mini_login[% qs_suffix FILTER js %]');
      YAHOO.util.Dom.removeClass(login_link, 'bz_default_hidden');
  });
  YAHOO.util.Event.addListener('hide_mini_login[% qs_suffix FILTER js %]','click', function () {
      var login_link = YAHOO.util.Dom.get('persona_mini_login[% qs_suffix FILTER js %]');
      YAHOO.util.Dom.addClass(login_link, 'bz_default_hidden');
  });
</script>
<span id="persona_mini_login[% qs_suffix FILTER html %]" class="bz_default_hidden">
  <img src="extensions/Persona/web/images/sign_in.png" height="22px" width="75px" align="absmiddle" onclick="persona_sign_in()"> or
</span>
[% END %]
