[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF comment.author.is_new %]
<span
  class="new_user"
  title="
[%- comment.author.comment_count FILTER html %] comment[% "s" IF comment.author.comment_count != 1 -%]
, created [%
IF comment.author.creation_age == 0 %]today[%
ELSIF comment.author.creation_age > 365 %]more than a year ago[%
ELSE %][% comment.author.creation_age FILTER html %] day[% "s" IF comment.author.creation_age != 1 %] ago[% END %]."
  >
(New to [% terms.Bugzilla %])
</span>
[% END %]
[% IF comment.is_about_attachment
      && comment.author.first_patch_bug_id == bug.id
      && comment.attachment.ispatch
%]
<span class="new_user">(First Patch)</span>
[% END %]
