[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS mozreview_enabled %]

<div class="mozreview-ad">
  Are you attaching a patch? Consider trying out
  <a href="https://reviewboard.mozilla.org/">MozReview</a>, Mozilla's
  new repository-based code-review tool.
  <a href="http://mozilla-version-control-tools.readthedocs.org/en/latest/mozreview.html">Read
    the docs</a> to get started.
</div>
