[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<style>
  .yui-skin-sam .yui-dt table {width:100%;}
</style>
  
<script type="text/javascript">
<!--
PD.options = {
  paginator: new YAHOO.widget.Paginator({ rowsPerPage: 25, alwaysVisible: false })
};
PD.column_defs = [
  { key:"id", label:"ID", sortable:true, sortOptions:{ sortFunction: PD.sortBugIdLinks } },
  { key:"count", label:"Count", sortable:true },
  { key:"bug_status", label:"Status", sortable:true },
  { key:"version", label:"Version", sortable:true },
  { key:"component", label:"Component", sortable:true },
  { key:"bug_severity", label:"Severity", sortable:true, sortOptions:{ sortFunction: PD.sortBugSeverity } },
  { key:"Summary", label:"Summary", sortable:false },
];
PD.fields = [
  { key:"id" },
  { key:"count", parser:"number" },
  { key:"bug_status" },
  { key:"version" },
  { key:"component" },
  { key:"bug_severity" },
  { key:"Summary" }
];
PD.addStatListener("duplicate_counts", "duplicate_counts_table", PD.column_defs, PD.fields, PD.options);
});
-->
</script>

<h3>Most duplicated [% terms.bugs %]</h3>

[% IF by_duplicate.size %]
  <b>[% by_duplicate.size FILTER html %]&nbsp;[% terms.Bugs %] Found</b>
  <div class="yui-skin-sam">
    <div id="duplicate_counts">
      <table id="duplicate_counts_table" cellspacing="3" cellpadding="0" border="0" width="100%">
      <thead>
        <tr bgcolor="#CCCCCC">
          [% FOREACH column = [ "ID", "Dupe Count", "Status", "Version"
                                "Component", "Severity" "Summary" ] %]
 
            <th>[% column FILTER html %]</th>
          [% END %]
        </tr>
      </thead>
      <tbody>
      [% FOREACH bug = by_duplicate %]
        [% count = loop.count() %]
        <tr class="[%+ count % 2 == 1 ? "bz_row_odd" : "bz_row_even" -%]">
          <td align="center"><a href="[% urlbase FILTER none %]show_bug.cgi?id=[% bug.id FILTER uri %]">
            [% bug.id FILTER html %]</a></td>
          <td align="center">[% bug.dupe_count FILTER html %]</td>
          <td align="center">[% bug.status FILTER html %]</td>
          <td align="center">[% bug.version FILTER html %]</td>
          <td align="center">[% bug.component FILTER html %]</td>
          <td align="center">[% bug.severity FILTER html %]</td>
          <td>[% bug.summary FILTER html %]</td>
        </tr>
      [% END %]
      </tbody>
      </table>
    </div>
  </div>
[% ELSE %]
  <b>No duplicate [% terms.bugs %] found.</b>
[% END %]
