[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<style>
  .yui-skin-sam .yui-dt table {width:100%;}
</style>
  
<script type="text/javascript">
  PD.popularity = [
    [% FOREACH bug = by_popularity %]
      {
        id: '[% bug.id FILTER js %]',
        count: '[% bug.votes FILTER js %]',
        status: '[% bug.status FILTER js %]',
        version: '[% bug.version FILTER js %]',
        component: '[% bug.component FILTER js %]',
        severity: '[% bug.severity FILTER js %]',
        summary: '[% bug.summary FILTER js %]'
      }, 
    [% END %]
  ];
</script>

<h3>Most voted on [% terms.bugs %]</h3>

[% IF by_popularity.size %]
  <b>[% by_popularity.size FILTER html %]&nbsp;[% terms.Bugs %] Found</b>
  <div class="yui3-skin-sam">
    <div id="popularity"></div>
  </div>
[% ELSE %]
  <b>No [% terms.bugs %] found.</b>
[% END %]
