[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script type="text/javascript">
<!--
  PD.roadmap = [
  [% FOREACH milestone = by_roadmap %]
    {
      name: '[% milestone.name FILTER js %]',
      percentage: '[% milestone.percentage FILTER js %]',
      link: '<a href="[% milestone.link_closed FILTER html %]">[% milestone.closed_bugs FILTER html %]</a> of <a href="[% milestone.link_total FILTER html %]"> [% milestone.total_bugs FILTER html %]</a> bugs have been closed',
    },
  [% END %]
  ];
-->
</script>

<h3>Percentage of [% terms.bug %] closure per milestone</h3>

<div class="yui3-skin-sam">
  <div id="bug_milestones"></div>
</div>
