[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<script>
  PD.summary = {};

  // global counts
  PD.summary.bug_counts = [
    { 
      name: "Total [% terms.Bugs %]",
      count: [% total_bugs || 0 FILTER js %],
      percentage: 100, 
      link: '<a href="[% bug_link_all FILTER js %]">Link</a>', 
    }, 
    {
      name: "Open [% terms.Bugs %]",
      count: [% total_open_bugs || 0 FILTER js %],
      percentage: [% open_bugs_percentage FILTER js %],
      link: '<a href="[% bug_link_open FILTER js %]">Link</a>', 
    },
    {
      name: "Closed [% terms.Bugs %]", 
      count: [% total_closed_bugs || 0 FILTER js %],
      percentage: [% closed_bugs_percentage FILTER js %],
      link: '<a href="[% bug_link_closed FILTER js %]">Link</a>',
    }
  ];
  
  // Status counts
  PD.summary.status_counts = [
    [% FOREACH col = by_status %]
      [% NEXT IF col.0 == 'CLOSED' %]
      {
        name: "[% col.0 FILTER js %]",    
        count: [% col.1 || 0 FILTER js %],
        percentage: [% col.2 || 0 FILTER js %], 
        link: '<a href="[% bug_link_all FILTER js %]&amp;bug_status=[% col.0 FILTER uri FILTER js %]">Link</a>'
      }, 
    [% END %]
  ];

  // Priority counts
  PD.summary.priority_counts = [
    [% FOREACH col = by_priority %]
      {
        name: "[% col.0 FILTER js %]",    
        count: [% col.1 || 0 FILTER js %],
        percentage: [% col.2 || 0 FILTER js %], 
        link: '<a href="[% bug_link_all FILTER js %]&amp;priority=[% col.0 FILTER uri FILTER js %]">Link</a>'
      }, 
    [% END %]
  ];

  // Severity counts
  PD.summary.severity_counts = [
    [% FOREACH col = by_severity %]
      {
        name: "[% col.0 FILTER js %]",    
        count: [% col.1 || 0 FILTER js %],
        percentage: [% col.2 || 0 FILTER js %], 
        link: '<a href="[% bug_link_all FILTER js %]&amp;bug_severity=[% col.0 FILTER uri FILTER js %]">Link</a>'
      }, 
    [% END %]
  ];

  // Assignee counts
  PD.summary.assignee_counts = [
    [% FOREACH col = by_assignee %]
      {
        name: "[% IF user.id %][% col.0.email FILTER js %][% ELSE %][% col.0.realname || 'No Name' FILTER js %][% END %]",
        count: [% col.1 || 0 FILTER js %],
        percentage: [% col.2 || 0 FILTER js %],
        link: '[% IF user.id %]<a href="[% bug_link FILTER js %]&amp;emailassigned_to1=1&amp;emailtype1=exact&amp;email1=[% col.0.email FILTER uri FILTER js %]">Link</a>[% END %]'
      },
    [% END %]
  ];
</script>

<h3>Summary of [% terms.bug %] counts</h3>

<p>
  <a href="#counts">Counts</a>
  <span class="separator"> | </span>
  <a href="#status">Status</a>
  <span class="separator"> | </span>
  <a href="#priority">Priority</a>
  <span class="separator"> | </span>
  <a href="#severity">Severity</a>
  <span class="separator"> | </span>
  <a href="#assignee">Assignee</a>
</p>

<div class="yui3-skin-sam">
  <a name="counts"></a>
  <b>[% terms.Bug %] Counts</b>
  <div id="bug_counts"></div>
  <br>
  <a name="status"></a>
  <b>Status</b>
  (<a href="#top">back to top</a>)
  <div id="status_counts"></div>
  <br>
  <a name="priority"></a>
  <b>Priority</b>
  (<a href="#top">back to top</a>)
  <div id="priority_counts"></div>
  <br>
  <a name="severity"></a>
  <b>Severity</b>
  (<a href="#top">back to top</a>)
  <div id="severity_counts"></div>
  <br>
  <a name="assignee"></a>
  <b>Assignee</b>
  (<a href="#top">back to top</a>)
  <div id="assignee_counts"></div>
</div>
