[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [% terms.Bugzilla %] Email System Test Message
X-Bugzilla-Type: admin

Dear [% terms.Bugzilla %] administrator,

This is a test email from your [% terms.Bugzilla %] system. If you can
read this, your [% terms.Bugzilla %] can send email.
