[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

This email would have contained sensitive information, but you have not set
a PGP/GPG key or SMIME certificate in the "Secure Mail" section of your user
preferences.

[% IF bug_id || email_type == 'whine' %]
In order to receive the full text of similar mails in the future, please
go to: 
[%+ urlbase %]userprefs.cgi?tab=securemail
and provide a key or certificate.

[% IF bug_id %]
You can see this bug's current state at:
[%+ urlbase %]show_bug.cgi?id=[% bug_id %]
[% END %]
[% ELSIF email_type == 'admin' %]
You will have to contact servicedesk@mozilla.com to reset your password.
[% END %]
