/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */


.tracking_flags .field_label a {
    font-weight: normal !important;
    color: #000;
}

#guided {
    margin-top: 30px;
}

#component {
    width: 25em;
}

.hidden_text {
    opacity: 0;
    filter: alpha(opacity=0);
}

#bug_create_warning {
    border: 1px solid #dddddd;
    background: #fff9db;
    color: #666458;
    padding: 5px;
}

#bug_create_warning_image {
    float: left;
    padding: 5px;
}

#bug_create_warning_text {
    margin-left: 42px;
}

#keyword_container,
#bug_mentors_autocomplete,
#container_see_also {
    width: 25em
}
