
#bug_project_flags .field_label, 
#bug_tracking_flags .field_label {
    font-weight: normal !important;
}

#guided {
    margin-top: 30px;
}

#component {
    width: 25em;
}

.hidden_text {
    opacity: 0;
    filter: alpha(opacity=0);
}

#bug_create_warning {
    border: 1px solid #dddddd;
    background: #fff9db;
    color: #666458;
    padding: 5px;
}

#bug_create_warning_image {
    float: left;
    padding: 5px;
}

#bug_create_warning_text {
    margin-left: 42px;
}
