/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

/* 
 * Custom rules for skins/standard/global.css.
 * The rules you put here override rules in that stylesheet.
 */

body {
    margin: 0;
    padding: 15px 15px 2px 15px;
}

#header .btn, #header .txt {
    font-size: 100%;
}

#header #information {
    color: #dddddd;
    font-size: small;
}

pre {
    font-size: medium;
}

#attachment_table {
    width: 50em;
}

#page-index #quicksearchForm {
    padding-top: 20px;
}

/* createaccount styling */
.support_div {
    width: 40%;
    font-size: 80%;
}

.support_div > img {
  padding: 5px 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.controller {
    font-size: 100%;
    border: 1px solid #c0c0c0;
    padding: 3px;
}

.group_secure > th > a {
    background-image: url("../../images/padlock.png");
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 18px;
}

#policy_links {
    padding-right: 5px;
    text-align: right;
}

#policy_links li {
    display: inline;
}

.highlighted {
    background: lightyellow;
}

/* user dropdown menu down-arrow */
.vcard a .fn:after, .vcard a .ln:after {
    content: ' \25BE';
}
