[%# The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is FlagTypeComment Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is
  # the Mozilla Foundation.
  # Portions created by the Initial Developer are Copyright (C) 2011
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Alex Keybl <akeybl@mozilla.com>
  #   byron jones <glob@mozilla.com>
  #%]

[% IF ftc_states %]
  <tr>
    <th>Flag Comments:</th>
    <td>add text into the comment box when flag is changed to a state</td>
  </tr>

  [% FOREACH state = ftc_states %]
    <tr>
      <td>&nbsp;</td>
      <td>
        for [% state FILTER html %]<br>
        <textarea
          id="ftc_[% type.id FILTER html %]_[% state FILTER html %]"
          name="ftc_[% type.id FILTER html %]_[% state FILTER html %]"
          cols="50" rows="2">[% ftc_flags.${type.id}.$state FILTER html %]</textarea>
      </td>
    </tr>
  [% END %]
[% END %]
