[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF user.settings.show_gravatars.value == 'On' %]
  [% IF who.last_activity_ts %]
    <a href="user_profile?login=[% who.login FILTER uri %]">
  [% END %]
  <img align="middle" src="[% who.gravatar FILTER none %]" width="32" height="32" border="0">
  [% "</a>" IF who.last_activity_ts %]
[% END %]
