[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[% PROCESS "global/variables.none.tmpl" %]
From: [% from_user FILTER none %]
To: [% attachment.attacher.email FILTER none %]
Subject: Congratulations on having your first patch approved
Date: [% date FILTER none %]
X-Bugzilla-Type: contributor-engagement

Congratulations on having your first patch approved, and thank you
for your contribution to Mozilla.

[%+ urlbase %]attachment.cgi?id=[% attachment.id FILTER uri %]&action=edit

Once the patch is correctly formatted and all the nits are addressed,
you should ask the person who reviewed your patch to push it to the
try server for testing.

Once it comes back passing all our tests, your patch will be ready
to check in!  To get your patch checked in you can add "checkin-needed"
to the Keywords field on the [% terms.bug %] summary page, and one of our helpful
Code Sheriffs will come by to merge it into the Mozilla codebase.

Contributors with commit access can set up Mercurial to make their
lives much easier. You can get learn how to get access to the Try
Server here:

https://wiki.mozilla.org/Try#Getting_access_to_the_Try_Server

And you can learn more about how Mozilla uses Mercurial here:

http://mozilla-version-control-tools.readthedocs.org/en/latest/hgmozilla/index.html

While that's underway, we'd be happy to work with you on something
new; you can take a look at our list of Good First [% terms.bugs %],
where someone who knows the code can help you get started:

http://mzl.la/1QDR0MC

... or ask someone who worked on this [% terms.bug %] with you about something you might
like to look at next. As well, you can join us on IRC (irc.mozilla.org)
in the #introduction channel, to ask for suggestions for yourself
or help new contributors find their feet.

For first time contributors this is also a good time to sign up to
the Mozilla Contributor Directory! This will give you access to
other community members' profiles, so you can connect with other
Mozillians in your city, region or country.

https://mozillians.org/

You will need someone to 'vouch' for your profile; if you don't
know any other Mozillians well, why not contact the person who
approved your patch?

Thanks again for your help. Mozilla's success depends on contributions
like yours, and the Open Web is stronger for your help.

- Josh, Kyle, Dietrich and Brian; Coding Stewards
