[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[% PROCESS "global/variables.none.tmpl" %]
From: [% from_user FILTER none %]
To: [% to_user FILTER none %]
Subject: Congratulations on having your first patch approved
Date: [% date FILTER none %]
X-Bugzilla-Type: contributor-engagement

Congratulations on having your first patch approved, and thank you for your
contribution to Mozilla.

The next step is to get the patch actually checked in to our repository. For
more information about how to make that happen, check out this post:

https://developer.mozilla.org/en-US/docs/Mercurial_FAQ#How_can_I_generate_a_patch_for_somebody_else_to_check-in_for_me.3F

While you are going through those final steps, if you're looking for a new
project to take on, have a look at our list of 'mentored' [% terms.bugs %] ([% terms.bugs %] where
someone is specifically available to help you):

https://bugzil.la/sw:mentor

Alternatively, you could join us on our IRC chat server in the #introduction
channel and ask for suggestions about what would be a good [% terms.bugs %] to work on.
There's more about using our chat server at:

http://irc.mozilla.org/

If you haven't done so already, this is also a good time to sign up to the
Mozilla Contributor Directory and create a profile for yourself. Doing this
will give you access to community members' profiles so you can reach out and
connect with other Mozillians. You will need someone to 'vouch for' your
profile; if you don't know any other Mozillians well, why not contact the
person who approved your patch?

The directory is here:

https://mozillians.org/

Thanks again for your help :-)
Josh, Kyle, Dietrich and Brian; Coding Stewards
