[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "edittable_unsupported" %]
  [% title = "Unsupported Table" %]
  You cannot edit the table '[% table FILTER html %]'.

[% ELSIF error == "edittable_nulls" %]
  [% title = "Table Contains NULLs" %]
  EditTable cannot edit the table '[% table FILTER html %]' as it contains NULL
  values.
[% END %]
