[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  PROCESS global/variables.none.tmpl;
  PROCESS global/header.html.tmpl
    title      = "$bug.id comment $comment.count Activity"
    style_urls = ['extensions/EditComments/web/styles/editcomments.css']
%]

<h4>
  Comment changes made to
  [%= "$terms.bug $bug.id comment $comment.count"
      FILTER bug_link(bug, { comment_num => comment.count })
      FILTER none %]
</h4>

<p>
  <b>Note</b>: The actual edited comment in the [% terms.bug %] view
  page will always show the original commentor's name and original timestamp.
</p>

[% FOREACH a = comment.activity %]
  <div class="edit-head">
    <div class="edit-author-when">
    [% a.original ? "Original comment" : "Revision" %]
    by [% INCLUDE bug_modal/user.html.tmpl u=a.author %]
    on [% a.time FILTER time %]
    </div>
  </div>
  <pre class="bz_comment_text">
    [%- a.original ? a.body : a.new FILTER quoteUrls(bug) -%]
  </pre>
[% END %]

[% IF comment.activity.size %]
  <p>
    [%= "Back to $terms.bug $bug.id comment $comment.count"
        FILTER bug_link(bug, { comment_num => comment.count })
        FILTER none %]
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
