[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is the Mozilla Corporation.
  # Portions created by the Initial Developer are Copyright (C) 2008 the 
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

<p>Some [% terms.bugs %] in this [% terms.Bugzilla %] are in groups the administrator has 
deemed 'secure'. This means emails containing information about those [% terms.bugs %] 
will only be sent encrypted. Enter your PGP/GPG public key or 
SMIME certificate here to receive full update emails for such [% terms.bugs %].</p>

<p>If you are a member of a secure group, or if you enter a key here, your password reset email 
will also be sent to you encrypted. If you are a member of a secure group and do not enter a key, 
you will not be able to reset your password without the assistance of an administrator.</p>

<p><a href="page.cgi?id=securemail/help.html">More help is available</a>.</p>

[% Hook.process('moreinfo') %]

<textarea id="public_key" name="public_key" cols="72" rows="12">
  [%- public_key FILTER html %]</textarea>
