[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE
  # none
  # 
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% title = BLOCK %]
  Create a new [% terms.Bugzilla %] account
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  To create a [% terms.Bugzilla %] account, all you need to do is to enter
[% IF Param('emailsuffix') == '' %]
  a legitimate email address.
[% ELSE %]
  an account name which when combined with [% Param('emailsuffix') %]
  corresponds to an address where you receive email.
[% END %]
  You will receive an email at this address to confirm the creation of your
  account. <b>You will not be able to log in until you receive the email.</b>
  If it doesn't arrive within a reasonable amount of time, you may contact
  the maintainer of this [% terms.Bugzilla %] installation
  at <a href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a>.
</p>

<p>
  A user account is required to report new [% terms.bugs %] or to comment into
  existing ones, as you may be contacted for more information if needed.
  This also lets other users clearly identify who is the author of comments
  or changes made into [% terms.bugs %]. <b>Note that your email address will
  <u>never</u> be displayed to logged out users. Only registered users will be
  able to see it.</b>
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>PRIVACY NOTICE:</b> [% terms.Bugzilla %] is an open [% terms.bug %]
  tracking system. Activity on most [% terms.bugs %], including email
  addresses, will be visible to registered users. We <b>recommend</b> using a
  secondary account or free web email service (such as Gmail, Yahoo,
  Hotmail, or similar) to avoid receiving spam at your primary email address.
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>
          [% IF Param('emailsuffix') %]
            Login:
          [% ELSE %]
            Email address:
          [% END %]
        </b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="hidden" id="token" name="token" value="[% issue_hash_token(['create_account']) FILTER html %]">
  <input type="submit" id="send" value="Send">
</form>

[% PROCESS global/footer.html.tmpl %]
