[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl title = "Reset Password" %]

[% IF user.authorizer.can_change_password %]
  <p>
    If you have an account, but have forgotten your password, enter your
    [% IF Param('emailsuffix') %]
      login name
    [% ELSE %]
      email address
    [% END %]
    below and submit a request to change your password. An email with details
    on how to reset your password will be sent.
  </p>

  <form id="forgot_password" method="get" action="token.cgi">
    <input type="hidden" name="a" value="reqpw">
    <input id="loginname" [% IF !Param('emailsuffix') %]type="email"[% END %]
           name="loginname" autofocus required>
    <input type="hidden" id="token" name="token"
           value="[% issue_hash_token(['reqpw']) FILTER html %]">
    <input type="submit" id="request" value="Reset Password">
  </form>
[% ELSE %]
  <p>Sorry, but you cannot reset your password.</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
