[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS
    user.review_request_count
    || user.feedback_request_count
    || user.needinfo_request_count
%]

<span id="badge" title="Flags requested of you:
  [%- " review (" _ user.review_request_count _ ")" IF user.review_request_count -%]
  [%- " feedback (" _ user.feedback_request_count _ ")" IF user.feedback_request_count -%]
  [%- " needinfo (" _ user.needinfo_request_count _ ")" IF user.needinfo_request_count -%]
">
  <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type">
    [%- user.review_request_count + user.feedback_request_count + user.needinfo_request_count ~%]
  </a>
</span>
