[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "reviewer_required" %]
  [% title = "Reviewer Required" %]
  You must provide a reviewer for review requests.

[% ELSIF error == "reviewer_inactive" %]
  [% title = "Reviewer Is Inactive" %]
  You can't ask <em>[% reviewer.identity FILTER html %]</em> for a review
  because they have not logged in to [% terms.Bugzilla %] within the last
  [%+ timeout FILTER none %] days.

[% ELSIF error == "reviewer_suggestions_param_required" %]
  [% title = "Parameter Required" %]
  You must provide either a bug_id, or a product (and optionally a
  component).

[% ELSIF error == "invalid_flag_type_id" %]
  [% title = "Invalid Flag Type ID" %]
  The flag type id [% type_id FILTER html %] is invalid.

[% ELSIF error == "flag_activity_parameters_required" %]
  [% title = "Parameters Required" %]
  You may not search flag state activity without any search terms.

[% ELSIF error == "reviews_blocked" %]
  [% title = "Request Blocked" %]
  [% requestee.identity FILTER html %] is not currently accepting
  '[% flagtype FILTER html %]' requests.

[% ELSIF error == "mentor_limit_exceeded" %]
  [% title = "Too Many Mentors" %]
  You cannot add more than [% limit FILTER html %] mentors to a [% terms.bug %].

[% END %]
