[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/comment-moz-project-review.txt.tmpl" %]

Is there a privacy policy for this new feature/product?:
[%+ cgi.param('privacy_policy_project_link') %]
What assistance do you need from the privacy team (if any)?:
[%+ cgi.param('privacy_policy_project_assistance') %]
