[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/comment-moz-project-review.txt.tmpl" %]

Security Review Questions:

Affects Products: [% cgi.param('sec_affects_products') %]
Review Due Date: [% cgi.param('sec_review_date') %]
Review Invitees: [% cgi.param('sec_review_invitees') %]
Extra Information:
[%+ cgi.param('sec_review_extra') %]
