[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/comment-moz-project-review.txt.tmpl" %]

Legal Questions:

Priority: [% cgi.param('legal_priority') %]
Other Party: [% cgi.param('legal_other_party') %]
What help do you need from Legal?:
[%+ cgi.param('legal_help_from_legal') %]
[% IF cgi.param('legal_vendor_services_where') %]
Vendor Services from Where: 
[% IF cgi.param('legal_vendor_services_where') == 'A single country' %]
[%- cgi.param('legal_vendor_single_country') %]
[% ELSE %]
[%- cgi.param('legal_vendor_services_where') %]
[% END %]
[% END %]
[% IF cgi.param('separate_party') == 'Yes' && cgi.param('relationship_type') == 'Vendor/Services' %]
SOW Details:
Legal Vendor Name: [% cgi.param('legal_sow_vendor_name') %] 
Vendor Address:
[%+ cgi.param('legal_sow_vendor_address') %] 
Vendor Email for Notices: [% cgi.param('legal_sow_vendor_email') %] 
Mozilla Contact: [% cgi.param('legal_sow_vendor_mozcontact') %] 
Vendor Contact and Email Address: [% cgi.param('legal_sow_vendor_contact') %] 
Description of Services:
[%+ cgi.param('legal_sow_vendor_services') %] 
Description of Deliverables:
[%+ cgi.param('legal_sow_vendor_deliverables') %] 
Start Date: [% cgi.param('legal_sow_start_date') %] 
End Date: [% cgi.param('legal_sow_end_date') %] 
Rate of Pay: [% cgi.param('legal_sow_vendor_payment') %] 
Basis for Payment: [% cgi.param('legal_sow_vendor_payment_basis') %] 
Average/Maximum Hours: [% cgi.param('legal_sow_vendor_hours') %] 
Payment Schedule: [% cgi.param('legal_sow_vendor_payment_schedule') %] 
Total Not to Exceed Amount: [% cgi.param('legal_sow_vendor_total_max') %] 
Special Terms:
[%+ cgi.param('legal_sow_vendor_special_terms') %] 
Product Line: [% cgi.param('legal_sow_vendor_product_line') %] 
[% END %]
