[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/initial-questions-comment.txt.tmpl" %]

>> Vendor Security Review Questions

Review Invitees:
[%+ cgi.param('sec_review_invitees') %]

Extra Information:
[%+ cgi.param('sec_review_extra') %]
