[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS "bug/create/comment-moz-project-review.txt.tmpl" %]

Data Safety Questions:

User Data: [% cgi.param('data_safety_user_data') %]
How many involved?: [% cgi.param('data_safety_user_count') %]
How many users do you anticipate to be involved?: [% cgi.param('data_safety_user_count_anticipated') %]
Type of Data:
[%+ cgi.param('data_safety_data_type') %]
Data Reason: 
[%+ cgi.param('data_safety_data_reason') %]
Community Benefit:
[%+ cgi.param('data_safety_community_benefit') %]
Data Collection:
[%+ cgi.param('data_safety_community_collection') %]
Data Retention: [% cgi.param('data_safety_retention') %]
Data Retention Length: [% cgi.param('data_safety_retention_length') %]
Separate Party: [% cgi.param('data_safety_separate_party') %]
Separate Party Data Type:
[%+ cgi.param('data_safety_separate_party_data') %]
Separate Party Data Communication:
[%+ cgi.param('data_safety_separate_party_data_communication') %]
Who are the separate parties?:
[%+ cgi.param('data_safety_separate_party_who') %]
Community Visibility and Input: [% cgi.param('data_safety_community_visibility') %]
Communication Channels:
[%+ cgi.param('data_safety_communication_channels') %]
Public Communication Plan:
[%+ cgi.param('data_safety_communication_plan') %]
