#reps-form {
  width: 700px;
  border-spacing: 0px;
  border: 4px solid #e0e0e0;
}

#reps-form th, #reps-form td {
  padding: 5px;
}

#reps-form .even th, #reps-form .even td {
  background: #e0e0e0;
}

#reps-form th {
  text-align: left;
}

#reps-form textarea {
  font-family: Verdana, sans-serif;
  font-size: small;
  width: 590px;
}

#reps-form .mandatory {
  color: red;
  font-size: 80%;
}

#reps-form .missing {
  box-shadow: #FF0000 0 0 1.5px 1px;
}

#reps-form .hidden {
  display: none;
}

#reps-form .subTH {
  padding-left: 2em;
}

#reps-form .missing {
  background: #FFC1C1;
}

.yui-calcontainer {
  z-index: 2;
}
