/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#reps-form {
  width: 700px;
  border: 1px solid var(--primary-region-border-color);
  border-radius: var(--primary-region-border-radius);
  border-spacing: 0;
  background-color: var(--primary-region-background-color);
  box-shadow: var(--primary-region-box-shadow);
}

#reps-form th,
#reps-form td {
  padding: 8px;
  vertical-align: top;
}

#reps-form th {
  text-align: left;
}

#reps-form textarea {
  width: 590px;
}

#reps-form textarea.small {
  width: 295px;
}

#reps-form .mandatory {
  color: var(--required-label-color);
  font-size: var(--font-size-small);
}

label.required:before {
  color: var(--required-label-color);
  content: "* ";
}

#reps-form .hidden {
  display: none;
}

#reps-form .subTH {
  padding-left: 2em;
}

#reps-form .missing {
  border-color: var(--error-message-foreground-color);
  background-color: var(--error-message-background-color);
}

.yui-calcontainer {
  z-index: 2;
}
