[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # realname: string. The user's real name, if any.
  # login_change_date: string. The date the email change will be complete. (optional)
  # new_login_name:    string. The user's new Bugzilla login whilst not confirmed. (optional)
  #%]

[%# BMO - add hook for displaying user-profile link %]
[% Hook.process('start') %]

<table>
  <tr>
    <th align="right" width="150">Your real name:</th>
    <td>
      <input size="35" name="realname" value="[% realname FILTER html %]">
      <i>optional, but encouraged</i>
    </td>
  </tr>

  [%# BMO - moved field hook from end of file to here to group with other account fields %]
  [% Hook.process('field') %]

  [% SET can_change = [] %]
  [% IF user.authorizer.can_change_password %]
    [% can_change.push('password') %]
  [% END %]
  [% IF user.authorizer.can_change_email && Param('allowemailchange') %]
    [% can_change.push('email address') %]
  [% END %]

  [% IF can_change.size %]
    <tr>
      <td></td>
      <td><hr></td>
    </tr>
    <tr>
      <td colspan="3">
        Your current password is required to
        confirm [% can_change.join(' or ') FILTER html %]
        changes.
      </td>
    </tr>
    <tr>
      <th align="right">Current password:</th>
      <td>
        <input type="hidden" name="old_login" value="[% user.login FILTER html %]">
        <input type="password" name="old_password">
        <a href="#" id="forgot-password">I forgot my password</a>
      </td>
    </tr>
    [% IF user.authorizer.can_change_password %]
      <tr>
        <th align="right">New password:</th>
        <td>
          <input type="password" name="new_password1">
        </td>
      </tr>

      <tr>
        <th align="right">Confirm new password:</th>
        <td>
          <input type="password" name="new_password2">
        </td>
      </tr>
    [% END %]

    [% IF user.authorizer.can_change_email && Param('allowemailchange') %]
      [% IF login_change_date %]
        [% IF new_login_name %]
          <tr>
            <th align="right">Pending email address:</th>
            <td>[% new_login_name FILTER html %]</td>
          </tr>
          <tr>
            <th align="right">Change request expires:</th>
            <td>[% login_change_date FILTER time %]</td>
          </tr>
        [% ELSE %]
          <tr>
            <th align="right">Confirmed email address:</th>
            <td>[% user.login FILTER html %]</td>
          </tr>
          <tr>
            <th align="right">Completion date:</th>
            <td>[% login_change_date FILTER time %]</td>
          </tr>
        [% END %]
      [% ELSE %]
        <tr>
          <th align="right">New email address:</th>
          <td>
            <input size="35" name="new_login_name">
          </td>
        </tr>
      [% END %]
    [% END %]
    <tr>
      <td></td>
      <td><hr></td>
    </tr>
  [% END %]

  <tr>
    <td></td>
    <td>
      <a href="#" id="account-disable-toggle"><span id="account-disable-spinner">&#9656;</span> Disable My Account</a>
    </td>
  </tr>
  <tr id="account-disable" style="display:none">
    <td></td>
    <td>
      <p>
        Your contributions on bugzilla.mozilla.org will still be visible;
        however, your email address and name will be removed in most locations.
        We are not able to remove your details that are part of comment text.
      </p>
      <p>
        <input type="checkbox" id="account-disable-confirm">
        I acknowledge that my account will not be functional after it has been
        disabled.
      </p>
      <input type="hidden" name="account_disable" id="account_disable">
      <button type="button" id="account-disable-button" disabled>Disable Account</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><hr></td>
  </tr>

</table>

[% tab_footer = BLOCK %]
  <form action="token.cgi" method="post" id="forgot-form">
    <input type="hidden" name="loginname" value="[% user.login FILTER html %]">
    <input type="hidden" name="a" value="reqpw">
    <input type="hidden" name="token" value="[% issue_hash_token(['reqpw']) FILTER html %]">
  </form>
[% END %]
