[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # has_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user has.
  #           desc => Descriptions of the permissions the user has.
  # set_bits: array of hashes. May be empty.
  #           name => Names of the permissions the user can set for
  #           other people.
  #           desc => Descriptions of the permissions the user can set for
  #           other people.
  #%]

<table align="center">
  <tr>
    <td>
      [% IF has_bits.size %]
        You have the following permission bits set on your account:
        <table align="center">
          [% FOREACH bit_description = has_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
        </table>

        [% FOREACH privs = ["editcomponents", "canconfirm", "editbugs"] %]
          [% SET products = ${"local_$privs"} %]
          [% IF products && products.size %]
            <br>
            <p>
              You also have local '[% privs FILTER html %]' privileges
              for the following products:
            </p>
            <p>
              [% FOREACH product = products %]
                [% product.name FILTER html %]<br>
              [% END %]
            </p>
          [% END %]
        [% END %]

      [% ELSE %]
        There are no permission bits set on your account.
      [% END %]

      [% IF user.in_group('editusers') %]
        <br>
        You have editusers privileges.  You can turn on and off
        all permissions for all users.
      [% ELSIF set_bits.size %]
        <br>
        And you can turn on or off the following bits for
        <a href="editusers.cgi">other users</a>:
          <table align="center">
          [% FOREACH bit_description = set_bits %]
            <tr>
              <td>[% bit_description.name FILTER html %]</td>
              <td>[% bit_description.desc FILTER html_light %]</td>
            </tr>
          [% END %]
          </table>
      [% END %]

      [% IF user.in_group('bz_sudoers') %]
        <br>
        You are a member of the <b>bz_sudoers</b> group, so you can 
        <a href="relogin.cgi?action=prepare-sudo">impersonate someone else</a>.
      [% END %]
    </td>
  </tr>
</table>
