[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[
  [% SET count = 0 %]
  [% FOREACH type = types %]
    [% SET count = count + type.members.size %]
  [% END %]
  [% SET i = 0 %]
  [% FOREACH type = types %]
    [% FOREACH member = type.members %]
      [% SET i = i + 1 %]
      { "login": "[% member.login FILTER email FILTER js %]",
        [% IF type.name == "direct" %]
          "membership": "direct",
        [% ELSE %]
          "membership": "indirect",
          "group": [% type.name FILTER js %]",
        [% END %]
        [% IF include_disabled %]
          "disabled": "[% member.is_enabled ? "false" : "true" %]",
        [% END %]
        "lastseen": "[% member.lastseen FILTER js %]"
      }[% "," UNLESS i == count %]
    [% END %]
  [% END %]
]
