[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "Release Tracking Report"
  style_urls = [ "extensions/BMO/web/styles/reports.css",
                 "js/jquery/plugins/datetimepicker/datetimepicker.css" ]
  javascript_urls = [ "extensions/BMO/web/js/release_tracking_report.js" ]
  jquery = [ "datetimepicker" ]
%]

<noscript>
<h1>JavaScript is required to use this report.</h1>
</noscript>

<script>
var flags_data = $.parseJSON("[% flags_json FILTER js %]");
var products_data = $.parseJSON("[% products_json FILTER js %]");
var fields_data = $.parseJSON("[% fields_json FILTER js %]");
var default_query = '[% default_query FILTER js %]';
</script>

<form action="page.cgi" method="get" onSubmit="return onFormSubmit()">
<input type="hidden" name="id" value="release_tracking_report.html">
<input type="hidden" name="q" id="q" value="">
<table>

<tr>
  <th>Approval:</th>
  <td>
    Show [% terms.bugs %] where
    <select id="flag" onChange="onFlagChange()">
      [% FOREACH flag_name = flag_names %]
        <option value="[% flag_name FILTER html %]">[% flag_name FILTER html %]</option>
      [% END %]
    </select>

    was changed to (and is currently)
    <select id="flag_value" onchange="serialiseForm()">
      <option value="?">?</option>
      <option value="-">-</option>
      <option value="+">+</option>
    </select>

    between
    <span id="fixed_range">
      <select id="range" onChange="serialiseForm()">
        [% FOREACH range = ranges %]
          <option value="[% range.value FILTER html %]">
            [% range.label FILTER html %]
          </option>
        [% END %]
      </select>
    </span>
    <span id="custom_range" style="display:none;">
      <input class="date_field" name="from" id="from" onChange="serialiseForm()">
      <img class="date_field-img" id="from-img" src="extensions/BugModal/web/calendar.png" width="16" height="16">
      and
      <input class="date_field" name="to" id="to" onChange="serialiseForm()">
      <img class="date_field-img" id="to-img" src="extensions/BugModal/web/calendar.png" width="16" height="16">
    </span>
    <input type="checkbox" id="is_custom" onchange="selectRangeType()" [% "checked" IF is_custom %]>
    <label for="is_custom">Custom</label>
  </td>
</tr>

<tr>
  <th>Status:</th>
  <td>
    for the product
    <select id="product" onChange="onProductChange()">
    </select>
  </td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>
    <select id="op" onChange="serialiseForm()">
      <option value="and">All selected tracking fields (AND)</option>
      <option value="or">Any selected tracking fields (OR)</option>
    </select>
    [
      <a href="javascript:void(0)" onClick="selectAllFields()">All</a> |
      <a href="javascript:void(0)" onClick="selectNoFields()">None</a>
    ]
    [
      <a href="javascript:void(0)" onClick="invertFields()">Invert</a>
    ]
    <br>
    <span id="tracking_span">
    </span>
  </td>
</tr>
    
<tr>
  <td>&nbsp;</td>
  <td colspan="2">
    <input type="submit" value="Search">
    <input type="submit" value="Reset" onClick="onFormReset(); return false">
    <a href="?" id="bookmark">Bookmarkable Link</a>
  </td>
</tr>
</table>
</form>

<p>
  <i>"fixed" in the status field checks for the "verified" status as well as "fixed".</i>
</p>

[% INCLUDE global/footer.html.tmpl %]
