[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl
   title = "$terms.Bugzilla Data For Researchers"
%]

<h2>[% terms.Bugzilla %] Data For Researchers</h2>

<p>Sanitized dumps of the contents of Bugzilla (with protected classes of bugs including,<br> 
  but not limited to, security, legal and HR removed) are available to interested researchers.<br> 
  Please contact Mike Hoye - <a href="mailto:mhoye@mozilla.com">mhoye@mozilla.com</a> 
  - for information.</p>

[% INCLUDE global/footer.html.tmpl %]
