[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # bug: Bugzila::Bug; the master bug of the sightings to list.
  #%]

[% master_bug = bug %]
[% IF bug.master_bug_id %]
  [% master_bug = bug.master_bug %]
[% END %]

[% sightings = master_bug.sightings %]
[% IF sightings.size == 0 %]
  [% RETURN %]
[% END %]
<table id="sighting_table" class="bz_sighting_table">
  <tr>
    <th>
      [% field_descs.sighting FILTER html %]
    </th>
    <th>
      [% field_descs.bug_status FILTER html %]
    </th>
  </tr>

  [% PROCESS render_sighting_row target = master_bug tag = "th" %]

  [% FOREACH sighting = sightings %]
    [% PROCESS render_sighting_row target = sighting tag = "td" %]
  [% END %]
</table>

[% BLOCK render_sighting_row %]
    <tr id="s[% target.id FILTER html %]">
      <[% tag FILTER html %]>
        [% target.bug_id FILTER bug_link(target) FILTER none %]
      </[% tag FILTER html %]>
      <[% tag FILTER html %]>
        [% PROCESS bug/status.html.tmpl %]
      </[% tag FILTER html %]>
    </tr>
[% END %]
