[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS template.name == 'list/list.html.tmpl' %]

[% style_urls.push('extensions/Bitly/web/styles/bitly.css') %]
[% javascript_urls.push('extensions/Bitly/web/js/bitly.js') %]
[% yui.push('container') %]
