[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<a href="rest/bug?include_fields=id,summary,status&amp;
  [% IF quicksearch ~%]
    quicksearch=[% quicksearch FILTER uri %]
  [% ELSE %]
    [% cgi.canonicalise_query('list_id', 'query_format') FILTER none %]"
  [% END %]"
  title="Query as a REST API request">REST</a> |
