[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN IF NOT tracking_flags.size %]
<td>
  <table class="tracking_flags">
  [% FOREACH type = tracking_flag_types %]
    [% flag_list = [] %]
    [% FOREACH flag = tracking_flags %]
      [% flag_list.push(flag) IF flag.flag_type == type.name %]
    [% END %]
    [% IF flag_list.size %]
      <tr>
        <th style="text-align:right">
          [% type.description FILTER html %]:
        </th>
      </tr>
      [% INCLUDE bug/tracking_flags.html.tmpl
         flag_list = flag_list
         new_bug   = 1 %]
    [% END %]
  [% END %]
  </table>
</td>
