[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS tracking_flag_components %]

<script type="text/javascript">
  $(function() {
    var tracking_flag_components = [% tracking_flag_components FILTER none %];
    var highest_status_firefox = '[% highest_status_firefox FILTER js %]';

    $('#component')
      .click(function() {
        // First, we disable all flags.
        $('table.tracking_flags select').attr('disabled', true);
        // Now enable flags available for the selected component.
        var component = $('#component').val();
        if (!component || !tracking_flag_components[component])
          return;
        $.each(tracking_flag_components[component], function(i, v) {
          $('#' + v).attr('disabled', false);
        });
      }).click();

  [% IF highest_status_firefox %]
    $('#version, #bug_status')
      .change(function() {
        var version = $('#version').val();
        if ($('#bug_status').val() != 'UNCONFIRMED'
            && (
              version.toLowerCase() == 'trunk'
              || version == highest_status_firefox + ' Branch'
              || version == 'Firefox ' + highest_status_firefox
            ))
        {
          $('#cf_status_firefox' + highest_status_firefox).val('affected');
        }
        else {
          $('#cf_status_firefox' + highest_status_firefox).val('---');
        }
      }).change();
  [% END %]
  });
</script>
