[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Log in to $terms.Bugzilla"
%]

[% USE Bugzilla %]

<h2 class="center">
  [% terms.Bugzilla %] needs a legitimate login and password to continue
</h2>

<form id="login_form" name="login" action="[% urlbase FILTER html %][% target FILTER html %]"
      method="POST" [% IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
  <table>
    <tr>
      <th>
        <label for="Bugzilla_login">
          [% IF Param('emailsuffix') %]
            Login:
          [% ELSE %]
            Email&nbsp;Address:
          [% END %]
        </label>
      </th>
      <td>
        <input id="Bugzilla_login" name="Bugzilla_login"
               [%- ' type="email"' UNLESS Param('emailsuffix') %] autofocus required>
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>

    <tr>
      <th><label for="Bugzilla_password">Password:</label></th>
      <td>
        <input type="password" id="Bugzilla_password" name="Bugzilla_password" required>
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' || 
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <th>
          <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
                 [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
        </th>
        <td>
          <label for="Bugzilla_remember">Remember my login</label>
        </td>
      </tr>
    [% END %]

    <tr>
      <th>
        <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
               checked="checked">
      </th>
      <td>
        <label for="Bugzilla_restrictlogin">Restrict this session to this IP address
        (using this option improves security)</label>
      </td>
    </tr>

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" name="GoAheadAndLogIn" value="Log In" id="log_in">
      </td>
    </tr>
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="hidden" name="Bugzilla_login_token"
         value="[% get_login_request_token() FILTER html %]">

  [% Hook.process('additional_methods') %]

  <div class="links">
    [% can_create_account = 0 %]
    [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
      <span><a href="createaccount.cgi">Create a New Account</a></span>
      [% can_create_account = 1 %]
    [% END %]

    [% IF user.authorizer.can_change_password %]
      [% "|" IF can_create_account %]
      <span><a href="createaccount.cgi?request_new_password=1">Forgot Password</a></span>
    [% END %]
  </div>

  <hr>
  <div class="info">
    <p>
      Note: you should make sure cookies are enabled for this site. 
      Otherwise, you will be required to log in frequently.
    </p>

    [% IF can_create_account %]
      <p>
        [% IF Param("requirelogin") %]
          A user account is required because this Bugzilla
          installation is only accessible to authenticated users.
        [% ELSIF target.match("_bug\.cgi$") %]
          A user account is required to file a new [% terms.bug %] or to comment
          into existing ones so that you can be contacted if more information is
          needed.
        [% END %]
      </p>
    [% END %]
  </div>
</form>

[% PROCESS global/footer.html.tmpl %]
