[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "invalid_phabricator_uri" %]
  [% title = "Invalid Phabricator URI" %]
  You must provide a valid Phabricator URI.

[% ELSIF error == "invalid_phabricator_api_key" %]
  [% title = "Invalid Phabricator API Key" %]
  You must provide a valid Phabricator API Key.

[% ELSIF error == "invalid_phabricator_projects" %]
  [% title = "Invalid Phabricator Projects" %]
  One or more Phabricator projects selected are invalid.

[% ELSIF error == "invalid_phabricator_revision_id" %]
  [% title = "Invalid Phabricator Revision ID" %]
  You must provide a valid Phabricator revision ID.

[% ELSIF error == "phabricator_not_enabled" %]
  [% title = "Phabricator Support Not Enabled" %]
  The Phabricator to Bugzilla library, PhabBugz,
  is not enabled in Bugzilla.

[% ELSIF error == "phabricator_invalid_request_params" %]
  [% title = "Incomplete Information Provided by Phabricator" %]
  The parameters 'user_id' and '[% terms.bug %]_id' must be provided.

[% ELSIF error == "phabricator_unauthorized_user" %]
  [% title = "Unauthorized User" %]
  You do not have permission to use this endpoint.

[% END %]
