/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#enter_bug { 
    background: url(bugzilla-papericon.png) no-repeat;
}
#query {
    background: url(bugzilla-magnifier.png) no-repeat;
}
#account {
    background: url(bugzilla-person-alternate.png) no-repeat;
    margin-right: 0;
}
#get_help {
    background: url(bugzilla-questionmark2.png) no-repeat !important;
}
