[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS mozreview %]

<table class="mozreview-table">
  <thead>
    <tr>
      <th>MozReview Requests</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        [% INCLUDE moz_review/table.html.tmpl %]
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr class="mozreview-hide-discarded-row bz_default_hidden">
      <td class="mozreview-hide-discarded">
        <a class="mozreview-hide-discarded-link"
           href="#"><span class="mozreview-discarded-action">Show</span>
          discarded requests</a>
      </td>
    </tr>
  </tfoot>
</table>
