[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% RETURN UNLESS mozreview %]

<br>
<table
   class="mozreview-table"
   data-mozreview-url="[% Bugzilla.params.mozreview_base_url FILTER html %]">
  <thead>
    <tr>
      <th>MozReview Requests</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <table class="mozreview-requests">
          <thead>
            <th>Commit</th>
            <th>Status</th>
            <th>Open Issues</th>
            <th>Last Updated</th>
          </thead>
          [% FOREACH rrid IN review_request_ids %]
            [%# rrid is guaranteed to be an integer %]
            <tbody class="mozreview-request"
                   data-rrid="[% rrid FILTER none %]">
              <tr class="mozreview-loading-row">
                <td colspan="4">Loading...</td>
              </tr>
              <tr class="mozreview-loading-error-row bz_default_hidden">
                <td colspan="4">Error loading review
                  request <span class="mozreview-load-error-rrid"></span>:
                  <span class="mozreview-load-error-string"></span></td>
              </tr>
            </tbody>
          [% END %]
        </table>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr class="mozreview-hide-discarded-row bz_default_hidden">
      <td class="mozreview-hide-discarded">
        <a class="mozreview-hide-discarded-link"
           href="#"><span class="mozreview-discarded-action">Show</span>
          discarded requests</a>
      </td>
    </tr>
  </tfoot>
</table>
