[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
Thank you filing a [% terms.bugs %] on Firefox! We appreciate you taking the time out of
your day to enhance the quality of our favorite open web browser.

Wait one second though! Before this [% terms.bugs %] is filed, we need you to confirm this
is a real e-mail account. So, please click on the link below to confirm that it
is!

[% token_url FILTER none %] 

If you'd like to get involved with the Mozilla Community in other ways such as
localization, testing, development and design, please look at our Get Involved
page:

http://www.mozilla.org/contribute/

Thank You For Your Help,
The Firefox Development Team
