[% IF error == "persona_account_too_powerful" %]
  [% title = "Account Too Powerful" %]
  Your account is a member of a group which is not permitted to use Persona to
  log in. Please log in with your [% terms.Bugzilla %] username and password.
  <br><br>
  (Persona logins are disabled for accounts which are members of certain
  particularly sensitive groups, while we gain experience with the technology.)
[% ELSIF error == "persona_server_fail" %]
  An error occurred during communication with the Persona servers:
  <br>
  [% reason FILTER html %]
[% END %]
