/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.ih_inlinehistory {
  padding: 10px;
  color: var(--secondary-label-color);
  background-color: var(--primary-region-header-background-color);
  font-weight: normal;
}

.bz_comment.ih_history {
  padding: 5px 5px 0 5px;
}

.ih_history_item {
  margin-bottom: 5px;
  color: var(--secondary-label-color);
}

.ih_hidden {
  display: none;
}

.ih_deleted {
  text-decoration: line-through;
}

.ih_history {
  padding: 0 !important;
}

.ih_history .bz_comment_head {
  padding-bottom: 3px;
}

.ih_history_item:not(.ih_hidden) ~ .ih_history_item:not(.ih_hidden) {
  margin-top: 20px;
}

.ih_history_change {
  background: var(--primary-region-background-color);
  border-top: 1px solid var(--primary-region-border-color);
  border-bottom: 1px solid var(--primary-region-border-color);
  padding: 10px;
  position: relative;
}
