[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  group_correct_visibility = {};
  FOREACH g = product.group_controls.values;
    group_correct_visibility.${g.name} =
      (g.membercontrol == constants.CONTROLMAPNA) || (g.othercontrol == constants.CONTROLMAPNA) ? 0 : 1;
  END;
%]

<tr>
  <th align="right">Default Security Group:</th>
  <td>
    <select required name="security_group_id" id="security_group_id">
      <option value=""></option>
      [% FOREACH g IN security_groups  %]
        <option value="[% g.id FILTER html %]"
                data-group-correct-visibility="[% group_correct_visibility.${g.name} FILTER none %]"
                [% " selected" IF product.default_security_group_obj.id == g.id %]>
          [% g.name FILTER html %]
        </option>
      [% END %]
    </select>
    <span id="security_group_warning" style="color:red; display:none;">
      This security group needs to be set to SHOWN/SHOWN
    </span>
    <script type="text/javascript">
      var toggleGroupWarning = function() {
        var correct_shown = $('#security_group_id option:selected').data('group-correct-visibility');
        if ($('#security_group_id').val() === '' || correct_shown) {
          $('#security_group_warning').hide();
        }
        else {
          $('#security_group_warning').show();
        }
      };
      $('#security_group_id').change(toggleGroupWarning);
      $(document).ready(toggleGroupWarning);
    </script>
  </td>
</tr>

<tr>
  <th align="right">Default Platform:</th>
  <td>
    [% INCLUDE default_select
        field_name   = 'default_platform_id'
        field_value  = product.default_platform_id
        field_values = bug_fields.rep_platform.legal_values
    %]
    [%= INCLUDE default_select
        field_name   = 'default_op_sys_id'
        field_value  = product.default_op_sys_id
        field_values = bug_fields.op_sys.legal_values
    %]
  </td>
</tr>

[% BLOCK default_select %]
  <select name="[% field_name FILTER html %]">
    <option value="" [% " selected" IF field_value == "" %]>Detect</option>
    [% FOREACH v IN field_values %]
      [% NEXT UNLESS v.is_active %]
      <option value="[% v.id FILTER html %]" [% " selected" IF field_value == v.id %]>
        [% v.value FILTER html %]
      </option>
    [% END %]
  </select>
[% END %]
