[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF changes.default_platform_id.defined %]
  <p>Default Platform updated</p>
[% END %]
[% IF changes.default_op_sys_id.defined %]
  <p>Default Op-Sys updated</p>
[% END %]
