[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "forbidden_method" %]
  The requested method '[% method FILTER html %]' is not allowed to be called using the current API Key.
[% ELSIF error == "mozreview_attachment_bug_mismatch" %]
  You tried to update attachment [% attachment.id FILTER html %]
  as part of adding or updating attachments on [% bug.id FILTER html %].
  That attachment actually belongs to [% terms.bug %] [% attachment.bug_id FILTER html %].
[% END %]
