/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

/* Highlight the row for the bug being voted on */
tr.bz_bug_being_voted_on {
  background-color: var(--grid-subheader-background-color);
}

tr.bz_bug_being_voted_on td {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--grid-border-color);
}

#votes_container {
  white-space: nowrap;
}

p.votes_change_saved {
  color: var(--positive-message-foreground-color);
}
