[%# ***** BEGIN LICENSE BLOCK *****
  # Version: MPL 1.1
  #
  # The contents of this file are subject to the Mozilla Public License Version
  # 1.1 (the "License"); you may not use this file except in compliance with
  # the License. You may obtain a copy of the License at
  # http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS IS" basis,
  # WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  # for the specific language governing rights and limitations under the
  # License.
  #
  # The Original Code is the GuidedBugEntry Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is
  # the Mozilla Foundation.
  # Portions created by the Initial Developer are Copyright (C) 2011
  # the Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Byron Jones <glob@mozilla.com>
  #
  # ***** END LICENSE BLOCK ***** */
  #%]

[% INCLUDE product_block
   name="Firefox"
   icon="firefox.png"
%]
[% INCLUDE product_block
   name="Fennec Native"
   caption="Firefox for Mobile (Android)"
   icon="fennec.png"
%]
[% INCLUDE product_block
   name="Thunderbird"
   icon="thunderbird.png"
%]
[% INCLUDE product_block
   name="Mozilla Services"
   icon="dino.png"
%]
[% INCLUDE product_block
   name="SeaMonkey"
   icon="seamonkey.png"
%]
[% INCLUDE product_block
   name="Mozilla Localizations"
   icon="dino.png"
%]
[% INCLUDE product_block
   name="Mozilla Labs"
   icon="labs.png"
%]
[% INCLUDE product_block
   name="Calendar"
   icon="sunbird.png"
%]
[% INCLUDE product_block
   name="Core"
   icon="core.png"
%]
