[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% WRAPPER product_block
   name="Firefox"
   icon="firefox.png"
%]
For [% terms.bugs %] in Firefox, the Mozilla Foundation's web browser.

(<a href="https://www.mozilla.org/en-US/firefox/desktop/">more info</a>)
[% END %]
[% INCLUDE product_block
   name="Firefox for Android"
   icon="firefox_android.png"
%]
[% INCLUDE product_block
   name="Firefox for iOS"
   icon="firefox_ios.png"
%]
[% INCLUDE product_block
   name="Webmaker"
   icon="webmaker.png"
%]
[% INCLUDE product_block
   name="Thunderbird"
   icon="thunderbird.png"
%]
