[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% INCLUDE product_block
   name="Firefox"
   icon="firefox.png"
%]
[% INCLUDE product_block
   name="Firefox OS"
   icon="firefox.png"
%]
[% INCLUDE product_block
   name="Firefox for Android"
   icon="firefox.png"
%]
[% INCLUDE product_block
   name="Firefox for Metro"
   icon="firefox.png"
%]
[% INCLUDE product_block
   name="Marketplace"
   icon="marketplace.png"
%]
[% INCLUDE product_block
   name="Webmaker"
   icon="webmaker.png"
%]
[% INCLUDE product_block
   name="Thunderbird"
   icon="thunderbird.png"
%]
[% INCLUDE product_block
   name="SeaMonkey"
   icon="seamonkey.png"
%]
[% INCLUDE product_block
   name="Core"
   icon="component.png"
%]
[% INCLUDE product_block
   name="Mozilla Localizations"
   icon="localization.png"
   caption="Localizations"
%]
[% INCLUDE product_block
   name="Mozilla Services"
   icon="sync.png"
   caption="Services"
%]
