[%#
  # The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Component Watching Extension
  #
  # The Initial Developer of the Original Code is the Mozilla Foundation
  # Portions created by the Initial Developers are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s):
  #   Byron Jones <bjones@mozilla.com>
  #%]

[%# initialise product to component mapping #%]

[% SET selectable_products = user.get_selectable_products %]

<script>
var Dom = YAHOO.util.Dom;
var useclassification = false;
var first_load = true;
var last_sel = [];
var cpts = new Array();
[% n = 0 %]
[% FOREACH prod = selectable_products %]
  cpts['[% n %]'] = [
    [%- FOREACH comp = prod.components %]'[% comp.name FILTER js %]'[% ", " UNLESS loop.last %] [%- END -%] ];
  [% n = n+1 %]
[% END %]
</script>
<script type="text/javascript"
  src="[% 'js/productform.js' FILTER mtime FILTER html %]">
</script>

<script>
function onSelectProduct() {
  var component = Dom.get('component');
  selectProduct(Dom.get('product'), component);
  // selectProduct only supports __Any__ on both elements
  // we only want it on component, so add it back in
  try {
    component.add(new Option('__Any__', ''), component.options[0]);
  } catch(e) {
    // support IE
    component.add(new Option('__Any__', ''), 0);
  }
}

YAHOO.util.Event.onDOMReady(onSelectProduct);
</script>

<p>
Select the components you want to watch.  To watch all components in a product,
watch "__Any__".
</p>

<table border="0" cellpadding="3" cellspacing="0">
<tr>
  <td align="right">Product</td>
  <td>
    <select name="add_product" id="product" onChange="onSelectProduct()">
    [% FOREACH product IN selectable_products %]
      <option>[% product.name FILTER html %]</option>
    [% END %]
    </select>
  </td>
</tr>
<tr>
  <td align="right" valign="top">Component</td>
  <td>
    <select name="add_component" id="component" multiple size="5">
      <option value="">__Any__</option>
    [% FOREACH product IN selectable_products %]
      [% FOREACH component IN product.components %]
        <option>[% component.name FILTER html %]</option>
      [% END %]
    [% END %]
    </select>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" id="add" name="add" value="Add"></td>
</tr>
</table>

<p>
Use <a href="userprefs.cgi?tab=email">Email Preferences</a> to filter which
notification emails you receive.
</p>

<hr>
<p>
You are currently watching:
</p>

[% IF watches.size %]

<table border="0" cellpadding="5" cellspacing="0">
<tr>
  <td>&nbsp;</td>
  <td><b>Product</b></td>
  <td><b>Component</b></td>
</tr>
[% FOREACH watch IN watches %]
  <tr>
  [% IF (watch.component) %]
    <td><input type="checkbox" name="del_[% watch.product.id FILTER uri %]_[% watch.component.id FILTER uri %]" value="1"></td>
    <td>[% watch.component.product.name FILTER html %]</td>
    <td>
      <a href="buglist.cgi?product=[% watch.product.name FILTER uri -%]
               &component=[% watch.component.name FILTER uri %]&resolution=---">
      [% watch.component.name FILTER html %]
      </a>
    </td>
  [% ELSE %]
    <td><input type="checkbox" name="del_[% watch.product.id FILTER uri %]" value="1"></td>
    <td>[% watch.product.name FILTER html %]</td>
    <td>
      <a href="describecomponents.cgi?product=[% watch.product.name FILTER uri %]">
      __Any__
      </a>
    </td>
  [% END %]
  </tr>
[% END %]
</table>

<p>
Select the items you want to stop watching.
</p>

[% ELSE %]

<p>
<i>You are not watching any components.</i>
</p>

[% END %]

