[% PROCESS "global/header.html.tmpl"
   title           = "Backend validation problems"
   style_urls      = ['skins/standard/signup.css']
%]
[% v = c.stash.v %]

[% PROCESS global/footer.html.tmpl %]
