[%# INTERFACE:
  # verify_url: random string used to authenticate the transaction.
  # expiration_ts: expiration date of the token.
  # email: email address of the new account.
  #%]

[% PROCESS global/variables.none.tmpl %]

From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]: complete account signup
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] has received a request to create a user account
using your email address ([% email %]).

To continue creating an account using this email address, visit the
following link by [% expiration_ts FILTER time("%B %e, %Y at %H:%M %Z") %]:

[%+ verify_url %]

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
PRIVACY NOTICE: [% terms.Bugzilla %] is an open [% terms.bug %] tracking system. Activity on most
[%+ terms.bugs %], including email addresses, will be visible to the public. We recommend
using a secondary account or free web email service (such as Gmail, Yahoo,
Hotmail, or similar) to avoid receiving spam at your primary email address.
[% END %]

If you do not wish to create an account, or if this request was made in
error you can do ignore it.
