[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<div id="prod_comp_search_main">
  <div id="prod_comp_search_autocomplete">
    <div id="prod_comp_search_label">
      File [% terms.Bug %]:
      <img id="prod_comp_throbber" src="extensions/BMO/web/images/throbber.gif"
           class="hidden" width="16" height="11">
    </div>
    <input id="prod_comp_search" type="text" size="60">
    <div id="prod_comp_search_autocomplete_container"></div>
  </div>
</div>
<script type="text/javascript">
  if(typeof(YAHOO.bugzilla.prodCompSearch) !== 'undefined' 
     && YAHOO.bugzilla.prodCompSearch != null) 
  {
    YAHOO.bugzilla.prodCompSearch.init(
      "prod_comp_search",
      "prod_comp_search_autocomplete_container",
      "[% format FILTER js %]",
      "[% cloned_bug_id FILTER js %]");
    [% IF target == "describecomponents.cgi" %]
      YAHOO.bugzilla.prodCompSearch.autoComplete.itemSelectEvent.subscribe(function (e, args) {
        var oData = args[2];
        var url = "describecomponents.cgi?product=" + encodeURIComponent(oData[0]) +
                  "&component=" +  encodeURIComponent(oData[1]) + 
                  "#" + encodeURIComponent(oData[1]);
        var format = YAHOO.bugzilla.prodCompSearch.format;
        if (format) {
          url += "&format=" + encodeURIComponent(format);
        }
        window.location.href = url;
      });
    [% END %]
  }
</script>
