[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

<!doctype html>
<html>
<head>
  <title>Security [% terms.Bugs %] Report for the week of [% report_week FILTER html %]</title>
  <base href="[% urlbase FILTER txt %]">
</head>
<body>

<h3>Sec-Critical + Sec-High [% terms.Bugs %] by Team</h3>
<table style="border-spacing: 0">
  <tr>
    <th style="padding: 0px 15px 10px 0px;">Team</th>
    <th style="padding: 0px 15px 10px 0px; text-align: right;">
        Open<br>[% results.reverse.0.date.strftime('%m/%d') FILTER html %]
    </th>
    <th style="padding: 0px 15px 10px 0px; text-align: right;">Closed<br />Last Week</th>
    <th style="padding: 0px 15px 10px 0px; text-align: right; border-right: 1px solid grey;">Added<br />Last Week</th>
    [% FOREACH result IN results.reverse %]
      [% NEXT IF loop.count < 2 %]
      [% LAST IF loop.count > 4 %]
      <th style="padding: 0px 15px 10px [% IF loop.count == 2 %] 10px [% ELSE %] 0px [% END %]; text-align: right; [% IF loop.count == 1 %] border-right: 1px solid grey; [% END %]">
        Open<br>[% result.date.strftime('%m/%d') FILTER html %]
      </th>
    [% END %]
  </tr>
  [% FOREACH team IN teams %]
    <tr>
      <td style="padding: 0px 15px 10px 0px;">[% team FILTER html %]</td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;">
          [% IF results.reverse.0.bugs_by_team.$team.open.size %]
            <a style="text-decoration: none;" href="[% build_bugs_link(results.reverse.0.bugs_by_team.$team.open) FILTER html %]">
              [% results.reverse.0.bugs_by_team.$team.open.size FILTER html %]
            </a>
          [% ELSE %]
            0
          [% END %]
        </td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;
                [% IF deltas.by_team.$team.closed.size %] background-color: var(--positive-message-background-color) [% END %]">
        [% IF deltas.by_team.$team.closed.size %]
          <a style="text-decoration: none;"
             href="[% build_bugs_link(deltas.by_team.$team.closed) FILTER html %]">
            -[% deltas.by_team.$team.closed.size FILTER html %]
          </a>
        [% ELSE %]
          0
        [% END %]
      </td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;  border-right: 1px solid grey;
                [% IF deltas.by_team.$team.added.size %] background-color: var(--error-message-background-color) [% END %]">
        [% IF deltas.by_team.$team.added.size %]
          <a style="text-decoration: none;" href="[% build_bugs_link(deltas.by_team.$team.added) FILTER html %]">
            +[% deltas.by_team.$team.added.size FILTER html %]
          </a>
        [% ELSE %]
          0
        [% END %]
      </td>
      [% FOREACH result IN results.reverse %]
        [% NEXT IF loop.count < 2 %]
        [% LAST IF loop.count > 4 %]
        <td style="padding: 0px 15px 10px [% IF loop.count == 2 %] 10px [% ELSE %] 0px [% END %]; text-align: right; [% IF loop.count == 1 %] border-right: 1px solid grey; [% END %]">
          [% IF result.bugs_by_team.$team.open.size %]
            <a style="text-decoration: none;" href="[% build_bugs_link(result.bugs_by_team.$team.open) FILTER html %]">
              [% result.bugs_by_team.$team.open.size FILTER html %]
            </a>
          [% ELSE %]
            0
          [% END %]
        </td>
      [% END %]
    </tr>
  [% END %]
</table>
<br/>

<h3>[% terms.Bugs %] By Severity</h3>
<table style="border-spacing: 0">
  <tr>
    <th style="padding: 0px 15px 10px 0px;">Category</th>
    <th style="padding: 0px 15px 10px 0px; text-align: right;">
        Open<br>[% results.reverse.0.date.strftime('%m/%d') FILTER html %]
    </th>
    <th style="padding: 0px 15px 10px 0px; text-align: right;">Closed<br />Last Week</th>
    <th style="padding: 0px 15px 10px 0px; text-align: right;">Added<br />Last Week</th>
    <th style="padding: 0px 15px 10px 0px; text-align: right; border-right: 1px solid grey;">
      Median Age<br/>of Open [% terms.Bugs %]<br>
    </th>
    [% FOREACH result IN results.reverse %]
      [% NEXT IF loop.count < 2 %]
      [% LAST IF loop.count > 4 %]
      <th style="padding: 0px 15px 10px [% IF loop.count == 2 %] 10px [% ELSE %] 0px [% END %]; text-align: right;  [% IF loop.count == 1 %] border-right: 1px solid grey; [% END %]">
        Open<br>[% result.date.strftime('%m/%d') FILTER html %]
      </th>
    [% END %]
  </tr>
  [% FOREACH keyword IN sec_keywords %]
    <tr>
      <td style="padding: 0px 15px 10px 0px;">[% keyword FILTER html %]</td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;">
          [% IF results.reverse.0.bugs_by_sec_keyword.$keyword.open %]
            <a style="text-decoration: none;" href="[% build_bugs_link(results.reverse.0.bugs_by_sec_keyword.$keyword.open) FILTER html %]">
              [% results.reverse.0.bugs_by_sec_keyword.$keyword.open.size FILTER html %]
            </a>
          [% ELSE %]
            0
          [% END %]
        </td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;
                [% IF deltas.by_sec_keyword.$keyword.closed.size %] background-color: var(--positive-message-background-color) [% END %]">
        [% IF deltas.by_sec_keyword.$keyword.closed.size %]
          <a style="text-decoration: none;" href="[% build_bugs_link(deltas.by_sec_keyword.$keyword.closed) FILTER html %]">
            -[% deltas.by_sec_keyword.$keyword.closed.size FILTER html %]
          </a>
        [% ELSE %]
          0
        [% END %]
      </td>
      <td style="padding: 0px 15px 10px 0px; text-align: right;
                 [% IF deltas.by_sec_keyword.$keyword.added.size %] background-color: var(--error-message-background-color) [% END %]">
        [% IF deltas.by_sec_keyword.$keyword.added.size %]
          <a style="text-decoration: none;" href="[% build_bugs_link(deltas.by_sec_keyword.$keyword.added) FILTER html %]">
            +[% deltas.by_sec_keyword.$keyword.added.size FILTER html %]
          </a>
        [% ELSE %]
          0
        [% END %]
      </td>
      <td style="padding: 0px 15px 10px 0px; text-align: right; border-right: 1px solid grey; ">
        [% results.-1.bugs_by_sec_keyword.$keyword.median_age_open FILTER format("%.0f") FILTER html %] days
      </td>
      [% FOREACH result IN results.reverse %]
        [% NEXT IF loop.count < 2 %]
        [% LAST IF loop.count > 4 %]
        <td style="padding: 0px 15px 10px [% IF loop.count == 2 %] 10px [% ELSE %] 0px [% END %]; text-align: right;  [% IF loop.count == 1 %] border-right: 1px solid grey; [% END %]">
          [% IF result.bugs_by_sec_keyword.$keyword.open.size %]
            <a style="text-decoration: none;" href="[% build_bugs_link(result.bugs_by_sec_keyword.$keyword.open) FILTER html %]">
              [% result.bugs_by_sec_keyword.$keyword.open.size FILTER html %]
            </a>
          [% ELSE %]
            0
          [% END %]
        </td>
      [% END %]
    </tr>
  [% END %]
</table>

<p>
To narrow down open [% terms.bugs %] click on the link and at the bottom of the search results use the
'Edit Search' functionality to filter by component and so on. This will filter only the open [% terms.bugs %]
counted in the report (as long as you do not modify the '[% terms.Bugs %] numbered' section of the search).
Keep in mind that you will only be able to see [% terms.bugs %] that you are allowed to see. Also keep in mind that
this report treats marking a [% terms.bug %] as 'stalled' the same as closing it.
</p>

<p>Attached to this email are some graphs with stats for the past 12 months.</p>

<p>This report was generated from the live Bugzilla instance. In rare cases, historical statistics may vary from prior reports if [% terms.bugs %] were reclassified after those reports were generated.</p>

[% IF missing_products.size %]
  <p>The following products requested on this report are no longer active in BMO:&nbsp;
  [% FOREACH missing_product IN missing_products %]
    [% missing_product FILTER html %][% ", " FILTER html IF not loop.last %]
  [% END %]
  <p>
[% END %]

[% IF missing_components.size %]
  <p>The following components requested on this report are no longer active in BMO:&nbsp;
  [% FOREACH missing_component IN missing_components %]
    [% missing_component FILTER html %][% ", " FILTER html IF not loop.last %]
  [% END %]
  </p>
[% END %]

[% IF missing_products.size || missing_components.size %]
  <p>Please file a [% terms.bug %] in bugzilla.mozilla.org::Administration to update the team list.</p>
[% END %]

</body>
</html>
