[% IF error == "browserid_account_too_powerful" %]
   [% title = "Account Too Powerful" %]
   Your account is a member of a group which is not permitted to use 
   BrowserID to log in. Please log in with your [% terms.Bugzilla %] username
   and password.
   <br><br>
   (BrowserID logins are disabled for accounts which are members of certain
    particularly sensitive groups, while we gain experience with the
    technology.)
[% END %]
