[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS flag && flag.type.name == 'needinfo' && flag.status == '?' %]
---
--- This request has set a needinfo flag on the [% terms.bug %].
--- You can clear it by logging in and replying in a comment.
---
