[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  PROCESS "global/field-descs.none.tmpl";
  requestee = requests.item(recipient.login).requestee;
  summary   = requests.item(recipient.login).summary;
  types     = requests.item(recipient.login).types;
%]

Overdue requests requiring action from you:
[%+ summary.requestee %]

[%+ PROCESS requests report="requestee" request_list=requestee %]

[% BLOCK requests %]
[% FOREACH type IN types.item(report) %]
:: [% type FILTER upper FILTER html %] requests

[% FOREACH request IN request_list.item(type) %]
[[% terms.Bug %] [%+ request.bug.id %]] [% request.bug.short_desc %]
  [% IF report == "requestee" %]
  [%+ request.flag.age %] from [% request.setter.realname || request.setter.login %]
  [% ELSE %]
  [%+ request.flag.age %] to [% request.requestee.realname || request.requestee.login %]
  [% END %]
  [%+ urlbase %]show_bug.cgi?id=[% request.bug.id +%]
  [% IF request.attachment && request.attachment.ispatch %]
  Review: [% urlbase %]review?bug=[% request.bug.id %]&attachment=[% request.attachment.id %]
  [% END %]
  [% IF report == "requestee" %]
  Defer: [% urlbase %]request_defer?flag=[% request.flag.id %]
  [% END %]

[% END %]
[% END %]
[% END %]

::

[% IF requestee.item('review').size || requestee.item('feedback').size %]
Guidance on handling requests:
  https://wiki.mozilla.org/BMO/Handling_Requests
[% END %]

See all your overdue requests:
  [%+ urlbase %]request.cgi?action=queue&requestee=[% recipient.login FILTER uri %]&group=type

Opt out of these emails:
  [%+ urlbase %]userprefs.cgi#request_nagging

--
You are receiving this mail because: you have overdue requests.

@@body-headers@@
