[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF error == "tum_auth_failure" %]
  You are not authorized to use this feature.

[% ELSIF error == "tum_updates_disabled" %]
  Issue reporting is temporarily disabled; please wait a few minutes and try again.

[% ELSIF error == "tum_account_disabled" %]
  The account associated with '[% user.login FILTER none %]' is disabled:
  [% user.disabledtext FILTER none %]

[% ELSIF error == "tum_too_many_attachments" %]
  More than [% max FILTER none %] attachments were provided.

[% ELSIF error == "tum_attachment_too_large" %]
  [% filename FILTER none %] is larger than [% max FILTER none %]k.

[% ELSIF error == "tum_missing_fields" %]
  [% name FILTER none %] is missing the following mandatory field
  [%~ "s" IF missing.size > 1 %]: [%%]
  [% FOREACH field = missing %]
    [% field FILTER none %]
    [%~ ", " UNLESS loop.last() %]
  [% END %]

[% ELSIF error == "tum_rate_exceeded" %]
  You cannot report more than [% max FILTER none %] issues per minute.

[% ELSIF error == "tum_invalid_component" %]
  The product [% product FILTER none %] is missing the component [% name FILTER none %].

[% END %]
