[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Bradley Baetz <bbaetz@student.usyd.edu.au>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #                 Kohei Yoshino <kohei.yoshino@gmail.com>
  #%]

[%# INTERFACE:
  # product: object. The product for which we want to display component
  # descriptions.
  # component: string. The name of the component to hilight in the browser
  #%]

[% title = BLOCK %]
  Components for [% product.name FILTER html %]
[% END %]

[% DEFAULT
  style_urls = [ "skins/standard/describecomponents.css" ]
  javascript_urls = []
  title = title
  show_default_people = 1
%]

[% Hook.process('start') %]

[% PROCESS global/header.html.tmpl
  style_urls = style_urls
  javascript_urls = javascript_urls
  title = title
%]

<section class="product">
  <header>
    <h1>[% product.name FILTER html %]</h1>
    <p>[% product.description FILTER html_light %]</p>
    [% Hook.process('product_header') %]
  </header>
  <div class="instructions">
    <p>Select a component to see open [% terms.bugs %] in that component:</p>
  </div>
  <div class="list">
    [% FOREACH comp = product.components %]
      [% INCLUDE describe_comp %]
    [% END %]
  </div>
</section>

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# BLOCK for components                                                      %]
[%############################################################################%]

[% BLOCK describe_comp %]
  <section id="[% comp.name FILTER html %]" class="component[%- IF comp.name == component_mark %] highlight[% END %]">
    <header>
      <h2><a href="buglist.cgi?product=[%- product.name FILTER uri %]&amp;component=
                   [%- comp.name FILTER uri %]&amp;resolution=---">[% comp.name FILTER html %]</a></h2>
    </header>
    <div>
      <p class="description">[% comp.description FILTER html_light %]</p>
      [% IF show_default_people %]
      <ul>
        <li>Assignee: [% INCLUDE global/user.html.tmpl who = comp.default_assignee %]</li>
        [% IF Param("useqacontact") %]
        <li>QA: [% INCLUDE global/user.html.tmpl who = comp.default_qa_contact %]</li>
        [% END %]
      </ul>
      [% END %]
    </div>
    <footer>
      [% Hook.process('component_footer', 'reports/components.html.tmpl') %]
    </footer>
  </section>
[% END %]
