[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # keywords: array keyword objects. May be empty. Each has has four members:
  #   id: id of the keyword
  #   name: the name of the keyword
  #   description: keyword description. Can contain some limited HTML code.
  #   bug_count: number of bugs with that keyword
  # caneditkeywords: boolean. True if this user can edit keywords
 %]

[% PROCESS global/header.html.tmpl
  title = "$terms.Bugzilla Keyword Descriptions"
  style_urls = ['skins/standard/admin.css']
%]

[% FOREACH keyword = keywords %]
  [% IF loop.index % 50 == 0 %]
    [% IF loop.index != 0 %]
       </table>
    [% END %]

    <table border="1" cellpadding="4" cellspacing="0">
      <tr class="column_header">
        <th>Name</th>
        <th>Description</th>
        <th>Open [% terms.Bugs %]</th>
        <th>Total [% terms.Bugs %]</th>
      </tr>
  [% END %]

  <tr id="[% keyword.name FILTER html %]">
    <th>
        [% keyword.name FILTER html %]
    </th>
    <td>[% keyword.description FILTER html_light %]</td>
    <td align="center">
      [% IF keyword.bug_count > 0 %]
        <a href="buglist.cgi?keywords=[% keyword.name FILTER uri %]&amp;resolution=---">
          Search</a>
      [% ELSE %]
        none
      [% END %]
    </td>
    <td align="right">
      [% IF keyword.bug_count > 0 %]
        <a href="buglist.cgi?keywords=[% keyword.name FILTER uri %]">
          [% keyword.bug_count %]</a>
      [% ELSE %]
        none
      [% END %]
    </td>
  </tr>
[% END %]

[% IF keywords.size > 0 %]
  </table>
[% END %]

[% IF caneditkeywords %]
  <p>
    <a href="editkeywords.cgi">Edit keywords</a>.
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
