[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  UNLESS cc_list.size;
    'None';
    RETURN;
  END;
%]

[% FOREACH cc IN cc_list %]
  <div class="cc-user" data-n="[% loop.count FILTER none %]">
    [% IF bug.user.canedit OR bug.cc.contains(user.login) %]
      <a href="#" id="ccr-[% loop.count FILTER none %]" class="cc-remove"
        data-n="[% loop.count FILTER none %]" data-login="[% cc.login FILTER html %]"
        title="Remove" style="visibility:hidden">&nbsp;&#x2716;&nbsp;</a>
    [% END %]
    [% INCLUDE bug_modal/user.html.tmpl
          u  = cc
          id = "ccu-" _ loop.count
          gravatar_size = 20
          nick_only = 1
    %]
  </div>
[% END %]
