[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # comment: comment object
  # bug: bug object
  #%]

<div id="add-comment">

  [% IF bug && !bug.check_can_change_field('longdesc', 0, 1) %]
    <div id="new-comment-notice">
      You are not allowed to make an additional comment on this [% terms.bug %].
    </div>
    [% RETURN %]
  [% END %]

  [% IF bug && user.is_insider %]
    <div id="add-comment-private"
      title="Make comment visible only to members of the '[% Param('insidergroup') FILTER html %]' group"
    >
      <input type="checkbox" name="comment_is_private" id="add-comment-private-cb"
          value="1" comment_id="[% comment.count FILTER none %]">
      <label for="add-comment-private-cb">Private</label>
    </div>
  [% END %]

  <ul id="comment-tabs" role="tablist">
    <li id="comment-edit-tab" data-focus="comment" role="tab" tabindex="0" aria-controls="comment-edit-tabpanel" aria-selected="true">
      Add Comment
    </li>
    [%~ ~%]
    <li id="comment-preview-tab" role="tab" tabindex="-1" aria-controls="comment-preview-tabpanel" aria-selected="false">
      Preview
      <img id="preview-throbber" src="extensions/BugModal/web/throbber.gif" width="16" height="11" style="display:none">
    </li>
    <!-- <li id="comment-guide-tab" role="tab" tabindex="-2" aria-controls="comment-guide-tabpanel" aria-selected="false">
      <a href="page.cgi?id=etiquette.html" target="_blank" tabindex="-1">
      Comments Subject to Etiquette and Contributor Guidelines</a>
    </li> -->
  </ul>
<!--   <div id="bugzilla-etiquette">
    
  </div> -->

  <div id="comment-edit-tabpanel" class="comment-tabpanel" role="tabpanel" aria-labelledby="comment-edit-tab">
    <textarea rows="5" [%+ UNLESS disable_cols %] cols="80" [% END +%] name="comment" id="comment" aria-labelledby="comment-edit-tab"></textarea>
  </div>
  <div id="comment-preview-tabpanel" class="comment-tabpanel" role="tabpanel" aria-labelledby="comment-preview-tab" style="display:none">
    <pre id="comment-preview" class="comment-text"></pre>
  </div>
</div>
