[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%#
  # field: (field object) bug_fields.$field_name object
  # field_type: (const) constants.FIELD_TYPE_*
  # no_label: (boolean) don't output label
  # label: (string) field label text (default: field_descs.${$field.name}
  # view_only: (boolean) don't allow editing (default: determined from bug.check_can_change_field)
  # edit_only: (boolean) always render the edit ui
  # container: (boolean) output just a label and the content (eg. for multiple fields next to one label)
  # name: (string) field name (default: field.name)
  # prefix: (string) string to prepend to 'name' and 'id' attributes (default: empty)
  # value: (string) visible value (default: bug.$name)
  # values: (array of string) list of value objects (FIELD_TYPE_SINGLE_SELECT and _BUG_URLS only) (default: lazy-load on edit)
  # inline: (boolean) output field as a table-cell instead of as a stand-alone div (default: false)
  # no_indent: (boolean) don't indent the field (left-padding) (default: false)
  # full_width: (boolean) the field takes up the complete page width (default: false)
  # short_width: (boolean) the field shouldn't take up much space at all (default: false)
  # hide_on_view: (boolean) hide field from read-only view (default: false)
  # hide_on_edit: (boolean) hide content when in edit mode (default: false)
  # append_content: (boolean) when called as a WRAPPER, the content will be appended to the
  #                 edit html instead of replacing it.  forces edit_only (default: false);
  # default: (string) default value (eg. used as a placeholder in user fields)
  # help: (string) optional url that describes the field (requires a label to be defined and visible)
  # action: (hash) show a button to the right of the edit field (user fields only currently).  keys:
  #   id: (string) optional button id
  #   class: (string) optional button class
  #   caption: (string) button caption
  #   hidden: (boolean) don't show the button (default: false)
  # label_for: (string) optional label for identifier
  #%]

[%
IF field_type.defined && !field;
  RETURN;
END;
IF !name.defined;
  name = field.name;
END;
IF !value.defined;
  value = bug.$name;
END;
IF hide_on_edit;
  view_only = 1;
END;
IF view_only || container;
  editable = 0;
END;
IF !editable.defined;
  editable = bug.check_can_change_field(name, 0, 1);
END;
IF append_content;
  edit_only = 1;
END;
IF inline && !label.defined;
  no_label = 1;
END;
IF !no_label && !label.defined;
  label = field_descs.${field.name};
END;
IF field_type == "";
  field_type = -1;
END;
field_name = name;
IF prefix.defined;
  name = prefix _ name;
END;
# date picker fields should always be short
IF field_type == constants.FIELD_TYPE_DATE
    || field_type == constants.FIELD_TYPE_DATETIME;
  short_width = 1;
END;
# determine if a field is set
IF field_type == constants.FIELD_TYPE_BUG_URLS || field_type == constants.FIELD_TYPE_BUG_LIST;
  has_value = values.size > 0;
ELSIF field_type == constants.FIELD_TYPE_MULTI_SELECT || field_type == constants.FIELD_TYPE_USERS;
  has_value = value.size > 0;
ELSE;
  has_value = value != "";
END;
# switch to view mode if edit-only and the current user cannot edit
IF !editable && edit_only;
  edit_only = 0;
END;
IF hide_on_view && hide_on_edit;
  RETURN;
END;
%]

<div class="field
            [%~ " indent" IF no_label && !no_indent %]
            [%~ " inline" IF inline %]
            [%~ " edit-hide" IF hide_on_edit %]
            [%~ " edit-show" IF hide_on_view && !hide_on_edit %]"
  [% IF name %] id="field-[% name FILTER html %]"[% END %]
  [% IF hide_on_view %] style="display:none"[% END %]
>
  [% IF label.defined && !no_label %]
    <div class="name">
      [%~ IF help.defined %]
        <a href="[% help FILTER none %]" id="[% name FILTER html %]-help-link" class="help">
        [% aria_labelledby_id = "${name}-help-link" %]
        [% aria_labelledby_html = BLOCK %]aria-labelledby="[% aria_labelledby_id FILTER html %]"[% END %]
      [% END %]
      [%~ IF label_for %]
        <label for="[% label_for FILTER html %]">
      [% END %]
      [%~ label _ ":" FILTER html IF label %]
      [%~ IF label_for %]
        </label>
      [% END ~%]
      [%~ IF help.defined %]
        </a>
      [% END %]
    </div>
  [% END %]

  [%# read-only html %]
  [% UNLESS edit_only %]
    <div class="[% "value" IF !container %][% " edit-hide" IF editable %][% " container" IF container %]">
      [% IF name %]
        <span id="field-value-[% name FILTER html %]">
      [% END %]
      [% IF content.defined %]
        [% content FILTER none %]
      [% ELSIF !editable && !has_value %]
        ---
      [% ELSE %]
        [% SWITCH field_type %]

          [% CASE constants.FIELD_TYPE_USER %]
            [%# users %]
            [% INCLUDE bug_modal/user.html.tmpl u=value %]

          [% CASE constants.FIELD_TYPE_BUG_URLS %]
            [%# see also %]
            [% INCLUDE bug_urls values=values edit=0 %]

          [% CASE constants.FIELD_TYPE_BUG_LIST %]
            [%# bug lists (generally dependancies) %]
            [% INCLUDE bug_list values=values edit=0 %]

          [% CASE constants.FIELD_TYPE_TEXTAREA %]
            [%# text areas %]
            <span class="multiline-value">[% value FILTER html FILTER html_line_break %]</span>

          [% CASE constants.FIELD_TYPE_MULTI_SELECT %]
            [%# multi-select %]
            [% value.join(", ") FILTER html %]

          [% CASE constants.FIELD_TYPE_DATETIME %]
            [%# datetime %]
            [% value FILTER time %]

          [% CASE constants.FIELD_TYPE_DATE %]
            [%# date %]
            [% value FILTER time("%Y-%m-%d") %]

          [% CASE constants.FIELD_TYPE_BUG_ID %]
            [%# bug id %]
            [% value FILTER bug_link(value, use_alias => 1) FILTER none %]

          [% CASE %]
            [%# every else %]
            [% value FILTER html %]

        [% END %]
      [% END %]
      [% IF name %]
        </span>
      [% END %]
    </div>
  [% END %]

  [%# edit html %]
  [% IF editable %]
    [% "MISSING NAME" UNLESS name %]
    <div class="value edit edit-show [% " wide" IF full_width %][% " short" IF short_width %]"
      [% UNLESS edit_only +%] style="display:none"[% END %]>
      [% SWITCH field_type %]

        [% CASE constants.FIELD_TYPE_SINGLE_SELECT %]
          [%# single value select %]
          <input type="hidden" id="[% name FILTER html %]-dirty">
          <select name="[% name FILTER html %]" id="[% name FILTER html %]" [% aria_labelledby_html FILTER none %]>
            [% IF values.defined %]
              [% FOREACH v IN values %]
                [% NEXT IF NOT v.is_active AND NOT value.contains(v.name).size %]
                [% NEXT IF NOT bug.check_can_change_field(name, bug.${field_name}, v.name) %]
                <option value="[% v.name FILTER html %]"
                        id="v[% v.id FILTER html %]_[% name FILTER html %]"
                        [% " selected" IF value.contains(v.name).size %]
                >[% v.name FILTER html %]</option>
              [% END %]
            [% ELSE %]
              <option value="[% value FILTER html %]" selected>[% value FILTER html %]</option>
            [% END %]
          </select>

        [% CASE constants.FIELD_TYPE_MULTI_SELECT %]
          [%# multi value select %]
          <input type="hidden" id="[% name FILTER html %]-dirty">
          <select name="[% name FILTER html %]" id="[% name FILTER html %]" multiple size="5" [% aria_labelledby_html FILTER none %]>
            [% IF values.defined %]
              [%# not implemented %]
            [% ELSE %]
              [% FOREACH v IN value %]
                <option value="[% v FILTER html %]" selected>[% v FILTER html %]</option>
              [% END %]
            [% END %]
          </select>

        [% CASE constants.FIELD_TYPE_FREETEXT %]
          [%# normal input field %]
          <input name="[% name FILTER html %]" id="[% name FILTER html %]" value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>
        [% CASE constants.FIELD_TYPE_USER %]
          [% IF action && !action.hidden %]
            <button class="field-button minor [%= action.class FILTER html IF action.class %]"
              data-field="[% name FILTER html %]"
              [% IF action.id %]id="[% action.id FILTER html %]"[% END %]>
              [% action.caption FILTER html %]
            </button>
            <div class="field-edit-container">
          [% END %]
          [%# single user %]
          [% INCLUDE global/userselect.html.tmpl
              id = name
              name = name
              value = value.login
              classes = [ "bz_userfield" ]
              placeholder = default
              aria_labelledby = aria_labelledby_id
            %]
          [% IF action && !action.hidden %]
            </div>
          [% END %]

        [% CASE constants.FIELD_TYPE_USERS %]
          [%# multiple users %]
          <input type="hidden" name="defined_[% name FILTER html %]" value="[% value.join(", ") FILTER html %]">
          [% INCLUDE global/userselect.html.tmpl
              id = name
              name = name
              value = value.join(", ")
              classes = [ "bz_userfield" ]
              placeholder = default
              multiple = 5
              aria_labelledby = aria_labelledby_id
            %]

        [% CASE constants.FIELD_TYPE_KEYWORDS %]
          [%# keywords %]
          <input type="text" id="[% name FILTER html %]" name="[% name FILTER html %]"
            value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>

        [% CASE constants.FIELD_TYPE_BUG_URLS %]
          [%# see also %]
          [% INCLUDE bug_urls values=values edit=1 %]

        [% CASE constants.FIELD_TYPE_BUG_LIST %]
          [%# bug lists %]
          [% INCLUDE bug_list values=values edit=1 %]

        [% CASE constants.FIELD_TYPE_TEXTAREA %]
          [%# text area %]
            <button type="button" class="minor edit-textarea-btn [%= "edit-textarea-set-btn" IF value != "" %]"
              id="[% name FILTER html %]-edit">Edit</button>
            [% IF content.defined && !append_content %]
              <span id="[% name FILTER html %]-view">[% content FILTER none %]</span>
            [% ELSE %]
              <span class="multiline-value" id="[% name FILTER html %]-view">[% value FILTER html FILTER html_line_break %]</span>
            [% END %]
            <textarea id="[% name FILTER html %]" name="[% name FILTER html %]"
              rows="10" cols="10" style="display:none" [% aria_labelledby_html FILTER none %]>[% value FILTER html %]</textarea>

        [% CASE constants.FIELD_TYPE_DATETIME %]
          [%# datetime %]
          <input class="cf_datetime" name="[% name FILTER html %]" id="[% name FILTER html %]"
            value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>
          <img class="cf_datetime-img" id="[% name FILTER html %]-img"
            src="extensions/BugModal/web/calendar.png" width="16" height="16">

        [% CASE constants.FIELD_TYPE_DATE %]
          [%# date %]
          <input class="cf_date" name="[% name FILTER html %]" id="[% name FILTER html %]"
            value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>
          <img class="cf_date-img" id="[% name FILTER html %]-img"
            src="extensions/BugModal/web/calendar.png" width="16" height="16">

        [% CASE constants.FIELD_TYPE_INTEGER %]
          [%# integer %]
          <input type="number" name="[% name FILTER html %]" id="[% name FILTER html %]"
            value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>

        [% CASE constants.FIELD_TYPE_BUG_ID %]
          [%# bug id %]
          <input type="text" name="[% name FILTER html %]" id="[% name FILTER html %]"
            value="[% value FILTER html %]" [% aria_labelledby_html FILTER none %]>

        [% CASE %]
          [%# error %]
          ('[% name FILTER html %]' [[% field_type FILTER html %])] not supported)

      [% END %]

      [% IF append_content && content.defined %]
        [% content FILTER none %]
      [% END %]
    </div>
  [% END %]
</div>

[%# bug-urls, currently just see-also %]
[% BLOCK bug_urls %]
  [% FOREACH url IN values %]
    <div>
      [% IF url.isa('Bugzilla::BugUrl::Bugzilla::Local') %]
        [% url.target_bug_id FILTER bug_link(url.target_bug_id, use_alias => 1) FILTER none %]
      [% ELSE %]
        <a href="[% url.name FILTER html %]"
           title="[% url.name FILTER truncate(256) FILTER html %]"
        >[% url.name FILTER truncate(40) FILTER html %]</a>
      [% END %]
      [% IF edit %]
          <label>
            <input type="checkbox" name="remove_see_also" value="[% url.name FILTER html %]">
            Remove
          </label>
      [% END %]
    </div>
  [% END %]

  [% IF edit %]
    <button type="button" id="[% name FILTER html %]-btn" class="bug-urls-btn minor">Add</button>
    <input id="[% name FILTER html %]" name="[% name FILTER html %]" style="display:none">
  [% END %]
[% END %]

[%# bug lists, depencancies, blockers %]
[% BLOCK bug_list %]
  [% IF NOT edit %]
    [% FOREACH b IN values %]
      [% INCLUDE bug/link.html.tmpl bug=b link_text=b.id use_alias=1  %]
      [% ", " UNLESS loop.last %]
    [% END %]
  [% ELSE %]
    <input type="text" id="[% name FILTER html %]" name="[% name FILTER html %]"
           value="[% values.pluck('id').join(", ") FILTER html %]" [% aria_labelledby_html FILTER none %]>
  [% END %]
[% END %]
