[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]


[%
  search = user.recent_search_for(bug);
  RETURN UNLESS search;
  last_bug_list = search.bug_list;
  this_bug_idx = lsearch(last_bug_list, bug.id);
%]

<div id="search-nav">
  <span id="search-nav-label">[% terms.Bug %] List:</span>
  ([% this_bug_idx + 1 %] of [% last_bug_list.size %])
  [% INCLUDE nav_link text="&#10096;&#10096; First" bug_id=last_bug_list.first %]
  [% IF this_bug_idx > 0 %]
    [% INCLUDE nav_link text="&#10096; Prev" bug_id=last_bug_list.item(this_bug_idx - 1) %]
  [% ELSE %]
    [% INCLUDE nav_link text="&#10096; Prev" bug_id="" %]
  [% END %]
  [% IF this_bug_idx + 1 < last_bug_list.size %]
    [% INCLUDE nav_link text="Next &#10097;" bug_id=last_bug_list.item(this_bug_idx + 1) %]
  [% ELSE %]
    [% INCLUDE nav_link text="Next &#10097;" bug_id="" %]
  [% END %]
  [% INCLUDE nav_link text="Last &#10097;&#10097;" bug_id=last_bug_list.last %]
  <a id="search-nav-reget" href="buglist.cgi?regetlastlist=[% search.id FILTER uri %]">Last search results</a>
</div>

[% BLOCK nav_link %]
  [% IF bug_id == "" %]
    <span class="search-nav-disabled">[% text FILTER none %]</span>
  [% ELSE %]
    <a class="search-nav-link" href="show_bug.cgi?id=[% bug_id FILTER uri %]&amp;list_id=[% search.id FILTER uri %]">
      [%~ text FILTER none ~%]
    </a>
  [% END %]
[% END %]
