[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "File a $terms.Bug" 
   javascript_urls = [ "extensions/ProdCompSearch/web/js/prod_comp_search.js" ]
   style_urls = [ "extensions/ProdCompSearch/web/styles/prod_comp_search.css" ]
%]

<div id="prod_comp_search_main">
  [% PROCESS prodcompsearch/form.html.tmpl 
     query_header = "File a $terms.Bug:"
  %]
</div>

[% PROCESS global/footer.html.tmpl %]
