[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Guy Pyrzak
  # Portions created by the Initial Developer are Copyright (C) 2010 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): Guy Pyrzak <guy.pyrzak@gmail.com>
  #                 Reed Loden <reed@reedloden.com>
  #
  #%]
[%# INTERFACE:
  #   field: a Bugzilla::Field object
  #   value: the value or values that should be used to prepopulate the field
  #   accesskey: the access key used to access the field more quickly
  #   onchange: js to run when the change event fires on the field
  #   type_selected: used by the free text to indicate which type of text
  #                  search was selected for a particular field
  #%]
  
[% SWITCH field.type %]
  [% CASE [ constants.FIELD_TYPE_FREETEXT,
            constants.FIELD_TYPE_TEXTAREA, 
            constants.FIELD_TYPE_UNKNOWN ] %]
    [% INCLUDE "bug/field-label.html.tmpl"
      field = field
      tag_name = "span"
      editable = 1
    %]
    [% INCLUDE "search/type-select.html.tmpl"
       name = field.name _ "_type",
       types = types, 
       selected = type_selected
    %]    
    <input name="[% field.name FILTER html %]" 
           id="[% field.name FILTER html %]" size="40"
           [% IF onchange %] onchange="[% onchange FILTER html %]"[% END %]
           value="[% value FILTER html %]">              
  [% CASE constants.FIELD_TYPE_KEYWORDS %]
    [% INCLUDE "bug/field-label.html.tmpl"
      field = field
      tag_name = "span"
      editable = 1
    %]
    [% INCLUDE "search/type-select.html.tmpl"
       name = field.name _ "_type",
       types = types, 
       selected = type_selected
    %]
    <div id="keyword_container">
       <input name="[% field.name FILTER html %]" 
              id="[% field.name FILTER html %]" size="40"
              [% IF onchange %] onchange="[% onchange FILTER html %]"[% END %]
              value="[% value FILTER html %]">
       <div id="keyword_autocomplete"></div>
    </div>
    <script type="text/javascript" defer="defer">
      YAHOO.bugzilla.keyword_array = [
        [%- FOREACH keyword = all_keywords %]
          [%-# %]"[% keyword.name FILTER js %]"
          [%- "," IF NOT loop.last %][% END %]];
      YAHOO.bugzilla.keywordAutocomplete.init('[% field.name FILTER js %]',
                                              'keyword_autocomplete');
    </script>
  [% CASE constants.FIELD_TYPE_DATETIME %]
    [% INCLUDE "bug/field-label.html.tmpl"
      field = field
      tag_name = "span"
      editable = 1
    %]
    from <input name="[% field.name FILTER html %]from" 
                id="[% field.name FILTER html %]" 
                size="10" maxlength="10"
                value="[% value.0 FILTER html %]" 
                onchange="updateCalendarFromField(this);[% onchange FILTER html %]">
         <button type="button" class="calendar_button"
                        id="button_calendar_[% field.name FILTER html %]"
                        onclick="showCalendar('[% field.name FILTER js %]')">
           <span>Calendar</span>
         </button>
         <span id="con_calendar_[% field.name FILTER html %]"></span>               
    to <input name="[% field.name FILTER html %]to" 
              id="[% field.name FILTER html %]to" size="10" maxlength="10"
              value="[% value.1 FILTER html %]" 
              onchange="updateCalendarFromField(this);[% onchange FILTER html %]">
       <button type="button" class="calendar_button"
                      id="button_calendar_[% field.name FILTER html %]to"
                      onclick="showCalendar('[% field.name FILTER js %]to')">
         <span>Calendar</span>
       </button>
    <small>(YYYY-MM-DD or relative dates)</small>
    
    <span id="con_calendar_[% field.name FILTER html %]to"></span>
    <script type="text/javascript">
      createCalendar('[% field.name FILTER js %]');
      createCalendar('[% field.name FILTER js %]to');
    </script>
  [% CASE [ constants.FIELD_TYPE_SINGLE_SELECT, 
            constants.FIELD_TYPE_MULTI_SELECT ] %]
    <div id="container_[% field.name FILTER html %]" class="search_field_grid">      
      [% INCLUDE "bug/field-label.html.tmpl"
        field = field
        editable = 1
        tag_name = "span"
      %]
      <select name="[% field.name FILTER html%]" 
              id="[% field.name FILTER html %]" 
        [% IF onchange %] onchange="[% onchange FILTER html %]"[% END %]
        multiple="multiple" size="7">
        [% legal_values = ${field.name} %]
        [% IF field.name == "component" %]
          [% legal_values = ${"component_"} %]
        [% END %]
        [% FOREACH current_value = legal_values %]
          [% SET v = current_value.name OR '---' -%]
          [% SET display = display_value(field.name, current_value.name) %]
          <option [% IF v != display %]value="[% v FILTER html %]"[% END ~%]
            id="v[% current_value.id FILTER html %]_[% field.name FILTER html %]"
            [% ' selected="selected"' IF value.contains( v ) %]>
            [%~ display FILTER html ~%]
          </option>
        [% END %]
      </select>
    </div>

    [% IF value_controllers.${field.name}.defined %]
      <script type="text/javascript"><!--
        [%+ FILTER collapse %]
          [% FOREACH accessor = value_controllers.${field.name}.keys %]
            [% PROCESS controller_js %]
          [% END %]
        [%~ END ~%]
      // --></script>
    [% END %]
    [% IF duplicates.${field.name}.keys.size %]
      [% SET field_dups = duplicates.${field.name} %]
      [% SET dup_counts = duplicate_count.${field.name} %]
      <script type="text/javascript">
       [%+ FILTER collapse %]
          bz_option_duplicates['[% field.name FILTER js %]'] = {
            [% FOREACH dup = field_dups.keys %]
              [% dup FILTER js %]:[% field_dups.$dup.id FILTER js %]
              [%~ ',' UNLESS loop.last %]
            [% END ~%]
          };
          bz_option_duplicate_count['[% field.name FILTER js %]'] = {
            [% FOREACH dup_target = dup_counts.keys %]
              [% dup_target FILTER js %]:[% dup_counts.$dup_target FILTER js %]
              [%~ ',' UNLESS loop.last %]
            [% END %]
          };
        [% END %]
      </script>
    [% END %]

  [% END %]
[%# END OF SWITCH %]

[% BLOCK controller_js %]
  [%# If there are selected values already, we need to fire the
    # "change" event once the page has loaded, so we can set all
    # the values in all the other <select>s properly.
    #%]
  YAHOO.util.Event.onDOMReady(function() {
      var field = document.getElementById('[% field.name FILTER js %]');
      if (field.selectedIndex != -1) bz_fireEvent(field, 'change');
  });

  [% SET sub_field = value_controllers.${field.name}.$accessor %]
  [% FOREACH legal_value = legal_values %]
    [% SET controlled_ids = [] %]
    [% FOREACH sub_value = legal_value.$accessor %]
      [% controlled_ids.push(sub_value.id) %]
    [% END %]
    [% NEXT IF !controlled_ids.size %]
      showValueWhen('[% sub_field.name FILTER js %]',
                    [[% controlled_ids.join(',') FILTER js %]],
                    '[% field.name FILTER js %]',
                    [% legal_value.id FILTER js %],
                    true);
  [% END %]
[% END %]
