[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. However, to use it, you need to fulfill
  # the interfaces of the templates it contains.
  #%]

[% js_data = BLOCK %]
var queryform = "reportform"
[% END %]

[% PROCESS global/header.html.tmpl
  title = "Generate Tabular Report"
  onload = "doOnSelectProduct(0)"
  yui = [ 'autocomplete', 'calendar' ]
  javascript = js_data
  javascript_urls = [ "js/util.js", "js/TUI.js", "js/field.js" ]
  style_urls = [ "skins/standard/search_form.css" ]
  doc_section = "reporting.html#reports"
%]

[% PROCESS "search/search-report-select.html.tmpl" %]

<p>
  Choose one or more fields as your axes, and then refine your set of 
  [% terms.bugs %] using the rest of the form.
</p>

[% button_name = "Generate Report" %]

<form method="get" action="report.cgi" name="reportform" id="reportform">

<table align="center">
  <tr>
    <td>
    </td>
    <td align="center">
      <b>Horizontal Axis:</b>
      [% PROCESS select name = 'x_axis_field' %]
    </td>
  </tr>

  <tr>
    <td valign="middle" align="center">
      <b>Vertical Axis:</b><br>
      [% PROCESS select name = 'y_axis_field' %]
    </td>
    <td width="150" height="150">
      <table border="1" width="100%">
        <tr>
          <td align="center" valign="middle" height="150">
            <b>Multiple Tables:</b><br>
            [% PROCESS select name = 'z_axis_field' %]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<hr>

  [% PROCESS search/form.html.tmpl %]

  [% PROCESS "search/boolean-charts.html.tmpl" %]

  <div id="knob">
    <input type="submit" id="[% button_name FILTER css_class_quote %]"
         value="[% button_name FILTER html %]">
    <input type="hidden" name="format" value="table">
    <input type="hidden" name="action" value="wrap">
  </div>
</form>

[% PROCESS global/footer.html.tmpl %]
