[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Search " _ terms.Bugs _ " using Google"
%]

[% WRAPPER search/tabs.html.tmpl %]

<p>
  Use the <a href="http://www.google.com">Google</a> search engine to search
  for [% terms.Bugzilla +%] [%+ terms.bugs %]. Find the [% terms.bugs %] you are
  looking for by entering words that best describe it.
</p>

<p>
  For example, if the [% terms.bug %] you are looking for is a browser crash when
  you go to a secure web site with an embedded Flash animation, you might search
  for "crash secure SSL flash".
</p>

<p>
  <span style="color:red;">*</span>
  Google only indexes publicly viewable [% terms.bugs %] and all may not be represented.
<p>

<form method="get" action="https://www.google.com/search">
<input type="hidden" name="sitesearch" value="bugzilla.mozilla.org">
  <nobr>
    <input type="text" name="q" size="60" maxlength="255" value="">
    <input type="submit" value="Search">
  </nobr>
</form>

[% END %]

[% PROCESS global/footer.html.tmpl %]

