[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<h2>Other Reports</h2>

<ul>
  <li>
    <strong>
      <a href="[% urlbase FILTER none %]page.cgi?id=user_activity.html">User Changes</a>
    </strong> - Show changes made by an individual user.
  </li>
  <li>
    <strong>
      <a href="[% urlbase FILTER none %]page.cgi?id=triage_reports.html">Triage Report</a>
    </strong> - Report on UNCONFIRMED [% terms.bugs %] to assist triage.
  </li>
  <li>
    <strong>
      <a href="[% urlbase FILTER none %]page.cgi?id=release_tracking_report.html">Release Tracking Report</a>
    </strong> - For triaging release-train flag information.
  </li>
  [% IF user.in_group('editusers') || user.in_group('infrasec') %]
    <li>
      <strong>
        <a href="[% urlbase FILTER none %]page.cgi?id=group_admins.html">Group Admins</a>
      </strong> - Lists the administrators of each group.
    </li>
    <li>
      <strong>
        <a href="[% urlbase FILTER none %]page.cgi?id=group_membership.html">Group Membership Report</a>
      </strong> - Lists the groups a user is a member of.
    </li>
    <li>
      <strong>
        <a href="[% urlbase FILTER none %]page.cgi?id=group_members.html">Group Members Report</a>
      </strong> - Lists the users of groups.
    </li>
  [% END %]
  [% IF user.in_group('admin') || user.in_group('infrasec') %]
    <li>
      <strong>
        <a href="[% urlbase FILTER none %]page.cgi?id=product_security_report.html">Product Security Report</a>
      </strong> - Show each product's default security group and visibility.
    </li>
  [% END %]
  [% IF user.in_group('admin') || user.in_group('infra') %]
    <li>
      <strong>
        <a href="[% urlbase FILTER none %]page.cgi?id=email_queue.html">Email Queue</a>
      </strong> - TheSchwartz queue
    </li>
  [% END %]
</ul>

