[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Old style custom field based tracking flags %]
[% old_tracking_flags = [] %]
[% old_project_flags  = [] %]
[% FOREACH field = Bugzilla.active_custom_fields(product=>bug.product_obj,component=>bug.component_obj,type=>2) %]
  [% NEXT IF field.type == constants.FIELD_TYPE_EXTENSION %]
  [% NEXT IF NOT user.id AND bug.${field.name} == "---" %]
  [% NEXT IF cf_flag_disabled(field.name, bug) %]
  [% IF cf_is_project_flag(field.name) %]
    [% old_project_flags.push(field) %]
  [% ELSE %]
    [% old_tracking_flags.push(field) %]
  [% END %]
[% END %]

[%# Add in the new tracking flags that are type tracking or project %]
[% new_tracking_flags = [] %]
[% new_project_flags  = [] %]
[% IF tracking_flags.size %]
  [% FOREACH flag = tracking_flags %]
    [% IF flag.flag_type == 'tracking' %]
      [% new_tracking_flags.push(flag) %]
    [% END %]
    [% IF flag.flag_type == 'project' %]
      [% new_project_flags.push(flag) %]
    [% END %]
  [% END %]
[% END %]

[% IF old_project_flags.size || new_project_flags.size %]
  <tr>
    <td class="field_label">
      <label>Project Flags:</label>
    </td>
    <td>
      [% IF bug.check_can_change_field('flagtypes.name', 0, 1) %]
        <table class="tracking_flags">
        [% FOREACH field = old_project_flags %]
          [% NEXT IF NOT user.id AND field.value == "---" %]
          <tr id="row_[% field.name FILTER js %]">
            <td>
              <label for="[% field.name FILTER html %]">
                [% field_descs.${field.name} FILTER html %]:
              </label>
            </td>
            <td>
              [% PROCESS bug/field.html.tmpl value = bug.${field.name}
                                             editable = user.id
                                             no_tds = 1 %]
              [% IF user.id %]
                <span id="ro_[% field.name FILTER html %]" class="bz_default_hidden">
                  [% bug.${field.name} FILTER html %]
                </span>
              [% END %]
            </td>
          </tr>
        [% END %]
        [% INCLUDE bug/tracking_flags.html.tmpl
           flag_list = new_project_flags %]
        </table>
      [% ELSE %]
        [% FOREACH field = old_project_flags %]
          [% NEXT IF bug.${field.name} == "---" %]
          [% field_descs.${field.name} FILTER html %]: [% bug.${field.name} FILTER html %]<br>
        [% END %]
        [% FOREACH flag = project_flags %]
          [% NEXT IF flag.bug_flag.value == '---' %]
          [% flag.description FILTER html %]: [% flag.bug_flag.value FILTER html %]<br>
        [% END %]
      [% END %]
    </td>
  </tr>
[% END %]

[% IF old_tracking_flags.size || new_tracking_flags.size %]
  <tr>
    <td class="field_label">
      <label>Tracking Flags:</label>
    </td>
    <td>
      [% IF bug.check_can_change_field('flagtypes.name', 0, 1) %]
        [% IF user.id %]
          <span id="edit_tracking_flags_action">
            (<a href="#" name="tracking" class="edit_tracking_flags_link">edit</a>)
          </span>
        [% END %]
        <table class="tracking_flags">
        [% FOREACH field = old_tracking_flags %]
          [% NEXT IF NOT user.id AND field.value == "---" %]
          <tr id="row_[% field.name FILTER js %]">
            <td>
              <label for="[% field.name FILTER html %]">
                [% field_descs.${field.name} FILTER html %]:
              </label>
            </td>
            <td>
              [% PROCESS bug/field.html.tmpl
                 value    = bug.${field.name}
                 editable = user.id
                 no_tds   = 1
              %]
              [% IF user.id %]
                <span id="ro_[% field.name FILTER html %]" class="bz_default_hidden">
                  [% bug.${field.name} FILTER html %]
                </span>
              [% END %]
            </td>
          </tr>
        [% END %]
        [% INCLUDE bug/tracking_flags.html.tmpl
           flag_list = new_tracking_flags %]
        </table>
      [% ELSE %]
        [% FOREACH field = old_tracking_flags %]
          [% NEXT IF bug.${field.name} == "---" %]
          [% field_descs.${field.name} FILTER html %]: [% bug.${field.name} FILTER html %]<br>
        [% END %]
        [% FOREACH flag = new_tracking_flags %]
          [% NEXT IF flag.status == '---' %]
          [% flag.description FILTER html %]: [% flag.bug_flag.value FILTER html %]<br>
        [% END %]
      [% END %]
    </td>
  </tr>
  <script type="text/javascript">
    TrackingFlags.flags['tracking'] = {};
    [% FOREACH field = old_tracking_flags %]
      TrackingFlags.flags['tracking']['[% field.name FILTER js %]'] = '[% bug.${field.name} FILTER js %]';
    [% END %]
    [% FOREACH flag = new_tracking_flags %]
      TrackingFlags.flags['tracking']['[% flag.name FILTER js %]'] = '[% flag.bug_flag.value FILTER js %]';
    [% END %]
    TrackingFlags.types.push('tracking');
  </script>
[% END %]

[%# Last, display any new style flags that are not type tracking or project %]
[% IF tracking_flags.size %]
  [% FOREACH type = tracking_flag_types %]
    [% NEXT IF type.name == 'tracking' || type.name == 'project' %]
    [% flag_list = [] %]
    [% FOREACH flag = tracking_flags %]
      [% flag_list.push(flag) IF flag.flag_type == type.name %]
    [% END %]
    [% IF flag_list.size %]
      <tr>
        <td class="field_label">
          <label>[% type.description FILTER html %]:</label>
        </td>
        <td>
          [% IF bug.check_can_change_field('flagtypes.name', 0, 1) %]
            [% IF user.id && type.collapsed %]
              <span id="edit_[% type.name FILTER html %]_flags_action">
                (<a href="#" name="[% type.name FILTER html %]" class="edit_tracking_flags_link">edit</a>)
              </span>
            [% END %]
            <table class="tracking_flags">
            [% INCLUDE bug/tracking_flags.html.tmpl
               flag_list = flag_list %]
            </table>
            [% IF type.collapsed %]
              <script type="text/javascript">
                TrackingFlags.flags['[% type.name FILTER js %]'] = {};
                [% FOREACH flag = flag_list %]
                  TrackingFlags.flags['[% type.name FILTER js %]']['[% flag.name FILTER js %]'] = '[% flag.bug_flag.value FILTER js %]';
                [% END %]
                TrackingFlags.types.push('[% type.name FILTER js %]');
            </script>
            [% END %]
          [% ELSE %]
            [% FOREACH flag = flag_list %]
              [% NEXT IF flag.status == '---' %]
              [% flag.description FILTER html %]: [% flag.bug_flag.value FILTER html %]<br>
            [% END %]
          [% END %]
        </td>
      </tr>
    [% END %]
  [% END %]
[% END %]

<script type="text/javascript">
  hide_tracking_flags();
</script>
