/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

.column_header {
    background-color: #66f;
}

.warningmessages, .criticalmessages {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 1ex 1ex 1ex 4ex;
    margin: 1ex;
}

.warningmessages {
    border-color: yellow;
}

.criticalmessages {
    border-color: red;
}

.alert {
    color: red;
    background-color: inherit;
}

.confirmation {
    background-color: red;
    padding: 3ex;
    width: 70%;
}

p.areyoureallyreallysure {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

tr.disabled {
    background-color: lightgrey;
}

td.admin_links {
    width: 50%;
    padding: 1em;
    vertical-align: top;
}

td.admin_links dt {
    margin-top: 1em;
}

td.admin_links dt.forbidden, td.admin_links dd.forbidden {
    font-size: smaller;
    font-style: italic;
    color: #aaa;
}

td.admin_links dt.forbidden a, td.admin_links dd.forbidden a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.col-header {
    width: 8em;
}

.checkbox-cell {
    border: 1px black solid;
}

/* Grey-green color */
.open-status {
    color: #286;
}

/* Brown-red color */
.closed-status {
    color: #a63;
}

/* Dark green color */
.checked {
    background-color: #5b4;
}

/* Dark red color */
td.forbidden {
    background-color: #811;
}

/* Light green color */
td.set {
    background-color: #efe;
}

/* Light red color */
td.unset {
    background-color: #fee;
}

tr.highlight:hover {
    background-color: yellow;
}

th.title {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

#edit_custom_field tr {
    vertical-align: top;
}

#edit_custom_field th {
    text-align: right;
}

#edit_custom_field th.narrow_label {
    white-space: normal;
}

#flag_types_bugs tr th, #flag_types_attachments tr th {
    text-align: left;
}

#flag_types_bugs .inactive, #flag_types_attachments .inactive {
    color: #787878;
}

#flag_types_bugs .multiplicable, #flag_types_attachments .multiplicable {
    display: block;
}
