/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

.warningmessages,
.criticalmessages {
  margin: 1ex;
  border-style: solid;
  border-width: 1px;
  padding: 1ex 1ex 1ex 4ex;
  background-color: var(--warning-message-background-color);
}

.warningmessages {
  border-color: var(--warning-message-border-color);
}

.criticalmessages {
  border-color: var(--error-message-foreground-color);
}

.alert {
  color: var(--error-message-foreground-color);
  background-color: inherit;
}

p.areyoureallyreallysure {
  color: var(--error-message-foreground-color);
  font-size: var(--font-size-x-large);
  font-weight: bold;
}

tr.param_disabled {
  background-color: var(--disabled-control-foreground-color);
}

td.admin_links {
  width: 50%;
  padding: 1em;
  vertical-align: top;
}

td.admin_links dt {
  margin: 16px 0 4px;
  font-size: var(--font-size-h3);
}

td.admin_links dd {
  margin: 4px 0 16px;
  line-height: var(--line-height-comfortable);
}

td.admin_links .forbidden {
  opacity: .4;
}

td.admin_links .forbidden a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.col-header {
  width: 8em;
}

.checkbox-cell {
  border: 1px solid var(--grid-border-color);
}

#workflow_form table {
  background-color: var(--grid-background-color);
}

#workflow_form th,
#workflow_form td {
  border: 1px solid var(--grid-border-color);
  padding: 4px 8px;
}

#workflow_form th {
  background-color: var(--grid-header-background-color);
}

.open-status {
  color: var(--bug-status-color-open);
}

.closed-status {
  color: var(--bug-status-color-closed);
}

td.forbidden {
  background-color: var(--error-message-background-color);
}

th.title {
  font-size: var(--font-size-h3);
  text-align: center;
  vertical-align: middle;
}

#edit_custom_field tr {
  vertical-align: top;
}

#edit_custom_field th {
  text-align: right;
}

#edit_custom_field th.narrow_label {
  white-space: normal;
}

#report th {
  text-align: left;
}

#report-header {
  background-color: var(--grid-header-background-color);
}

.report_information {
  font-style: italic;
}

/**
 * User Preferences Page
 */

#prefmain {
  margin: 1em 0;
}

#prefnav {
  width: 15em;
  float: left;
}

#prefcontent {
  margin-left: 16em;
  border-radius: var(--primary-region-border-radius);
  padding: 32px;
  min-height: 30em;
  background-color: var(--primary-region-background-color);
  box-shadow: var(--primary-region-box-shadow);
}

#prefcontent #message {
  margin-bottom: 16px;
}

#prefcontent h2 {
  margin: 0 0 16px;
}

#prefnav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#prefnav li {
  padding: 8px 0 8px 8px;
  border-left: 4px solid transparent;
}

#prefnav li a {
  display: block;
  color: inherit;
  text-decoration: none;
}

#prefnav li.selected {
  border-color: var(--selected-tab-border-color);
  color: var(--selected-tab-foreground-color);
  font-weight: 500;
}

.category_header {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-size-h3);
}

.setting_label {
  text-align: right;
}

#public_key {
  font-size-adjust: .5;
  font-family: var(--font-family-monospace);
}

/**
 * Two-Factor Authentication
 */

#mfa {
  margin-bottom: 1em;
}

#mfa-confirm {
  margin-top: 2em;
}

#mfa-container {
  margin-bottom: 2em;
}

#mfa-totp-throbber {
  width: 300px;
  height: 280px;
}

.mfa-totp-popup {
  border-radius: var(--primary-region-border-radius);
  padding: 16px;
  background: var(--primary-region-background-color);
  box-shadow: var(--primary-region-box-shadow);
}

.mfa-totp-popup ul {
  padding: 0 0 0 2em;
}

.mfa-totp-popup-close {
  float: right;
}

#mfa-enable-totp-frame {
  border: none;
  width: 300px;
  height: 220px;
}

#mfa-enroll-embedded,
#mfa-recovery-embedded {
  background: none;
  padding: 0;
}

.mfa-buttons button {
  margin-top: 4px;
}

.mfa-buttons blockquote {
  margin-top: 4px;
  font-style: italic;
}

#mfa-recovery-frame {
  display: block;
  margin-top: 8px;
  margin-left: 2em;
  border: none;
  width: 300px;
  height: 200px;
}

#mfa-container label {
  display: inline-block;
  width: 155px;
  text-align: right;
  font-weight: bold;
}

#mfa-container #duo-logo {
  float: left;
  margin-right: 1em;
}

#mfa-duo-user-label {
  cursor: help;
}

.mfa-api-blurb,
.mfa-disable-blurb {
  width: 70%;
}

.mfa-protected {
  margin: 0 4px;
  vertical-align: middle;
}

body.mfa-warning #mfa-select button {
  outline: none;
  border-color: #FF5300;
  border-width: 1px;
}

.flex {
  display: flex;
  flex-flow: row;
}

.flex-left {
  flex: 1;
  min-width: 500px;
}

.flex-right {
  flex: 2;
}

/**
 * Print media
 */

@media print {

  #prefnav,
  #prefcontent #update,
  #prefcontent #message {
    display: none;
  }

  #prefcontent {
    margin-left: 0 !important;
    box-shadow: none !important;
  }
}
