/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Marc Schumann <wurblzap@gmail.com>
  */

.warningmessages, .criticalmessages {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 1ex 1ex 1ex 4ex;
    margin: 1ex;
}

.warningmessages {
    border-color: yellow;
}

.criticalmessages {
    border-color: red;
}

.alert {
    color: red;
    background-color: inherit;
}

p.areyoureallyreallysure {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

tr.param_disabled {
    background-color: lightgrey;
}

td.admin_links {
    width: 50%;
    padding: 1em;
    vertical-align: top;
}

td.admin_links dt {
    margin-top: 1em;
}

td.admin_links dt.forbidden, td.admin_links dd.forbidden {
    font-size: smaller;
    font-style: italic;
    color: #aaa;
}

td.admin_links dt.forbidden a, td.admin_links dd.forbidden a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.col-header {
    width: 8em;
}

.checkbox-cell {
    border: 1px black solid;
}

/* Grey-green color */
.open-status {
    color: #286;
}

/* Brown-red color */
.closed-status {
    color: #a63;
}

/* Dark green color */
.checked {
    background-color: #5b4;
}

/* Dark red color */
td.forbidden {
    background-color: #811;
}

/* Light green color */
td.set {
    background-color: #efe;
}

/* Light red color */
td.unset {
    background-color: #fee;
}

tr.highlight:hover {
    background-color: yellow;
}

th.title {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

#edit_custom_field tr {
    vertical-align: top;
}

#edit_custom_field th {
    text-align: right;
}

#edit_custom_field th.narrow_label {
    white-space: normal;
}

#report {
    border: 1px solid #888888;
}

#report td, #report th {
    padding: 3px 10px 3px 3px;
    border: 0px;
}

#report th {
    text-align: left;
}

#report-header {
    background-color: #cccccc;
}

.report_row_odd {
    background-color: #eeeeee;
    color: #000000;
}

.report_row_even {
    background-color: #ffffff;
    color: #000000;
}

#report.hover tr:hover {
    background-color: #ccccff;
}

.report_information {
    font-style: italic;
}

#account-disable-button {
    background-color: #a91300;
    background-image: linear-gradient(#da5132, #a91300);
    color: #fff;
}

#account-disable-button:hover {
    color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #e64926;
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #e64926;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #e64926;
}

#account-disable-button[disabled] {
    opacity: 0.2;
    cursor: default;
}

input[disabled] {
    background-color: transparent !important;
}

/* User Preferences Page */

#prefmain {
    margin: 1em 0;
}

#prefnav {
    width: 15em;
    float: left;
}

#prefcontent {
    margin-left: 16em;
    padding: .2em 1.5em 1.5em 1.5em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFF none repeat scroll 0% 0%;
    min-height: 30em;
}

#prefnav, #prefcontent {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

#prefnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#prefnav li {
    padding: .6em 1em;
    background: rgba(255, 255, 255, 0.5);
}

#prefnav li a {
    display: block;
    text-decoration: none;
}

#prefnav li a:hover {
    text-decoration: underline;
}

#prefnav li.selected {
    font-weight: bold;
    background: #fff;
}

/* mfa */

#mfa {
    margin-bottom: 1em;
}

#mfa-confirm {
    margin-top: 2em;
}

#mfa-container {
    margin-bottom: 2em;
}

#mfa-totp-throbber {
    width: 300px;
    height: 280px;
}

.mfa-totp-popup {
    background: #fff;
    padding: 10px 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.mfa-totp-popup ul {
    padding: 0 0 0 2em;
}

.mfa-totp-popup-close {
    float: right;
}

#mfa-enable-totp-frame {
    border: none;
    width: 300px;
    height: 220px;
}

#mfa-enroll-embedded, #mfa-recovery-embedded {
    background: none;
    padding: 0;
}

#mfa-recovery {
    margin-top: 4px;
}

#mfa-recovery-frame {
    display: block;
    margin-top: 8px;
    margin-left: 2em;
    border: none;
    width: 300px;
    height: 200px;
}

label.mfa-totp {
    display: inline-block;
    width: 155px;
    text-align: right;
    font-weight: bold;
}
