/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

.warningmessages, .criticalmessages {
    background-color: white;
    border: 1px solid;
    padding: 1ex 1ex 1ex 4ex;
    margin: 1ex;
}

.warningmessages {
    border-color: yellow;
}

.criticalmessages {
    border-color: red;
}

.alert {
    color: red;
    background-color: inherit;
}

.confirmation {
    background-color: red;
    padding: 3ex;
    width: 70%;
}

p.areyoureallyreallysure {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

#admin_table, #flag_types_bugs, #flag_types_attachments {
    border-collapse: collapse;
    border: 1px solid black;
}

#admin_table th, #flag_types_bugs th, #flag_types_attachments th {
    white-space: normal !important;
}

#admin_table th, #admin_table td,
#flag_types_bugs th , #flag_types_bugs td,
#flag_types_attachments th, #flag_types_attachments td {
    border: 1px solid black;
    padding: 0.3em;
}

table.no-border th, table.no-border td {
    border: 0 !important;
}

table.no-border th {
    text-align: left;
}

tr.disabled {
    background-color: lightgrey;
}

td.admin_links {
    width: 50%;
    padding: 1em;
    vertical-align: top;
}

td.admin_links dt {
    margin-top: 1em;
}

td.admin_links dt.forbidden, td.admin_links dd.forbidden {
    font-size: smaller;
    font-style: italic;
    color: #aaa;
}

td.admin_links dt.forbidden a, td.admin_links dd.forbidden a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.col-header {
    width: 8em;
}

.checkbox-cell {
    border: 1px black solid;
}

/* Grey-green color */
.open-status {
    color: #286;
}

/* Brown-red color */
.closed-status {
    color: #a63;
}

/* Dark green color */
.checked {
    background-color: #5b4;
}

/* Dark red color */
td.forbidden {
    background-color: #811;
}

/* Light green color */
td.set {
    background-color: #efe;
}

/* Light red color */
td.unset {
    background-color: #fee;
}

tr.highlight:hover {
    background-color: yellow;
}

th.title {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

td.max-width {
    width: 100%;
}

#flag_types_bugs .inactive, #flag_types_attachments .inactive {
    color: #787878;
}

#flag_types_bugs .multiplicable, #flag_types_attachments .multiplicable {
    display: block;
}

#flagtype_form div.inline {
    white-space: nowrap;
}

#flagtype_form label, #grant_table label {
    font-weight:bold;
}

table.whining_list, #group_settings_desc {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

#group_settings_desc th, #group_settings_desc td {
    border: 1px solid black;
    padding: 0.3em;
}

table.whining_list th, table.whining_list td,
#admin_table_edit th, #admin_table_edit td {
    padding: 0.3em;
}

table.whining_list th {
    text-align: right;
    font-weight: normal !important;
    white-space: normal !important;
}

table.whining_list th.subtitle {
    font-weight: bold !important;
    text-align: left !important;
}

table.schedule_list th, table.search_list th {
    text-align: center;
    font-weight: bold !important;
}

#settings #update {
    margin-top: 2em;
}

#grant_table td, #grant_table th {
    text-align: center;
    padding: 0.5em;
}

#grant_table th {
    padding: 2em 3em 0.5em 3em;
}

#grant_table tr:first-child th {
    padding-top: 0.5em;
}

#mass-remove {
    max-width: 50%;
}

#mass-remove legend {
    white-space: nowrap;
}
