 /* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Myk Melez <myk@mozilla.org>
  *                 Joel Peshkin <bugreport@peshkin.net>
  *                 Erik Stambaugh <erik@dasbistro.com>
  *                 Marc Schumann <wurblzap@gmail.com>
  *                 Guy Pyrzak <guy.pyrzak@gmail.com>
  *                 Kohei Yoshino <kohei.yoshino@gmail.com>
  */

table.attachment_entry th {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}

table.attachment_entry td {
    text-align: left;
    vertical-align: baseline;
    padding-bottom: 5px;
}

table#flags th,
table#flags td,
table#attachment_flags th,
table#attachment_flags td {
    text-align: left;
    vertical-align: baseline;
    font-size: small;
}

/* Rules used to view patches in diff mode. */

.file_head {
  font-weight: bold;
  font-size: 1em;
  background-color: #c3c3c3;
  border: 1px solid black;
}

.file_head a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1.1em;
}

.file_collapse {
  display: none;
}

.section_head {
  background-color: #f0f0f0;
  border: 1px solid black;
  text-align: left;
}

table.file_table {
  table-layout: fixed;
  width: 100%;
  empty-cells: show;
  border-spacing: 0px;
  border-collapse: collapse;
  /* draw border below last open context section in listing */
  border-bottom: 1px solid black;
}

tbody.file pre {
  display: inline;
  font-size: 0.9em;
}

tbody.file pre:empty {
  display: block;
}

.changed {
  background-color: lightblue;
}

.added {
  background-color: lightgreen;
}

.removed {
  background-color: #FFCC99;
}

.num {
  background-color: #ffe9ae;
  text-align:right;
  padding: 0 0.3em;
  width: 3em;
}

table.attachment_info th {
    text-align: right;
    vertical-align: top;
}

table.attachment_info td {
    text-align: left;
    vertical-align: top;
}

/* Text displayed when the attachment is not viewable by the web browser */
#noview {
    text-align: left;
    vertical-align: middle;
}

#attachment_attributes div {
    padding-bottom: 0.4em;
}

#attachment_attributes label,
#attachment_attributes span.label,
#attachment_actions span.label
{
    font-weight: bold;
}

#attachment_attributes .block {
    display: block;
}

#attachment_actions {
    clear: both;
    margin-bottom: 1ex;
}

#attachment_comments_and_flags {
    display: flex;
    overflow: hidden;
    clear: both;
    margin: 16px 0;
}

#attachment_comments_and_flags #attachment_flags {
    display: flex;
}

#attachment_comments_and_flags > *,
#attachment_comments_and_flags #attachment_flags > * {
    flex: auto;
}

#attachment_information_read_only .title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#attachment_information_read_only .title #bz_edit {
    font-size: 0.7em;
}

#attachment_information_read_only .details {
    font-size: 90%;
}

#attachment_info.read #attachment_information_edit {
    display: none;
}

#attachment_info.edit #attachment_information_read_only {
    display: none;
}

#attachment_info.edit #attachment_view_window {
    float: left;
    width: 80%;
}

#attachment_info.edit #attachment_information_edit {
    width: 20%;
}

#attachment_info.edit #attachment_information_edit input.text,
#attachment_info.edit #attachment_information_edit textarea {
    width: 90%;
}

#attachment_isobsolete {
    padding-right: 1em;
}

#attachment_information_edit {
    float: left;
}

#smallCommentFrame {
  margin: 0 0 0 16px;
}

#smallCommentFrame #comment,
#smallCommentFrame #comment_preview {
    display: block;
    box-sizing: border-box;
    width: 100% !important;
}

textarea.bz_private {
    border: 1px solid #F8C8BA;
}

#update {
    clear: both;
    display: block;
}

div#update_container {
    clear: both;
    padding: 1.5em 0;
}

#attachment_flags p {
    padding-bottom: 0;
    margin-bottom: 0;
}

#editFrame, #viewDiffFrame, #viewFrame {
    height: 400px;
    width: 95%;
    margin-left: 2%;
    overflow: auto;
}

.viewall_frame {
    width: 75%;
    height: 350px;
}

.details span.bz_private{
  border-left: 1px solid darkred;
  padding-left: 0.5em;
}

.no_javascript .bz_hide, .no_javascript .bz_edit {
    display: none;
}

#hidden_obsolete_message {
   text-align: left;
   width: 75%;
   margin: 0  auto;
   font-weight: bold
}

/**
 * AttachmentForm
 */

#att-selector [hidden] {
  display: none;
}

#att-selector label[role="button"] {
  border-bottom: 1px solid #277AC1;
  color: #277AC1;
  cursor: pointer;
  pointer-events: auto;
}

#att-selector .icon::before {
  line-height: 100%;
  font-family: "Material Icons";
  font-style: normal;
}

#att-dropbox {
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 4px;
  width: 560px;
  background-color: #FFF;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all .2s;
}

#att-dropbox.invalid {
  border-color: #F33;
  background-color: #FEE;
  box-shadow: 0 0 4px #F33;
}

#att-dropbox.dragover {
  border-color: #277AC1;
  background-color: #DCE9F5;
  box-shadow: 0 0 4px #277AC1;
}

#att-dropbox.invalid header,
#att-dropbox.invalid #att-textarea,
#att-dropbox.dragover header,
#att-dropbox.dragover #att-textarea {
  background-color: transparent;
}

#att-dropbox header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #C0C0C0;
  border-radius: 4px 4px 0 0;
  padding: 8px;
  font-size: 14px;
  font-style: italic;
  background-color: #F3F3F3;
  pointer-events: none;
  transition: all .2s;
}

#att-dropbox header .icon {
  display: inline-block;
  margin: 2px 8px 0 0;
  color: #999;
  transition: all .2s;
}

#att-dropbox.invalid header .icon {
  color: #F33;
}

#att-dropbox.dragover header .icon {
  color: #277AC1;
}

#att-dropbox header .icon::before {
  font-size: 24px;
  content: "\E2C3";
}

#att-dropbox > div {
  position: relative;
  min-height: 160px;
}

#att-data {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  outline: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  resize: none;
}

#att-data:invalid {
  display: block; /* To display the validation message */
}

#att-textarea {
  margin: 0;
  border: 0;
  border-radius: 0 0 4px 4px;
  padding: 8px;
  width: 100%;
  height: 160px;
  min-height: 160px;
  font: 13px/1.2 "Droid Sans Mono", Menlo, Monaco, "Courier New", Courier, monospace;
  white-space: pre;
  resize: vertical;
  transition: all .2s;
}

#att-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 4px 4px;
  padding: 8px;
  pointer-events: none;
}

#att-preview figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

#att-preview [itemprop="name"] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 0 4px #000;
  color: #FFF;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .4));
}

#att-preview [itemprop="text"] {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  font: 13px/1.2 "Droid Sans Mono", Menlo, Monaco, "Courier New", Courier, monospace;
  color: #333;
}

#att-preview [itemprop="image"] {
  max-width: 100%;
}

#att-preview [itemprop="text"]:empty,
#att-preview [itemprop="text"]:not(:empty) ~ .icon,
#att-preview [itemprop="image"][src=""],
#att-preview [itemprop="image"]:not([src=""]) ~ .icon {
  display: none;
}

#att-preview [itemprop="image"] ~ .icon::before {
  font-size: 100px;
  color: #999;
  content: "\E24D";
}

#att-remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 4px;
  pointer-events: auto;
}

#att-remove-button .icon::before {
  font-size: 16px;
  color: #666;
  content: "\E5C9";
}

#att-error-message {
  box-sizing: border-box;
  margin: 8px 4px 0;
  padding: 0 8px;
  width: 560px;
  text-align: center;
  font-style: italic;
}

#att-error-message:empty {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  #attachment_comments_and_flags,
  #attachment_comments_and_flags #attachment_flags {
    display: block;
  }

  #smallCommentFrame {
    margin: 16px 0 0 0;
  }
}
