/* colorize bugs in various groups */

body[class*=bz_group_] {
    background-color: #e0e0ff;
    border-left: solid red 2px;
    padding-left: 13px;
}

body[class*=bz_group_] #bugzilla-body {
    background-color: inherit;
}

body.bz_group_infrasec {
    background-color: #ffcc99;
}

body.bz_group_webtools-security,
body.bz_group_websites-security,
body.bz_group_bugzilla-security {
    background-color: #ffeeee;
}

body.bz_group_client-services-security,
body.bz_group_cloud-services-security {
    background-color: #ffff80;
}

body[class*=core-security] {
    background-color: #ffe0b0;
}

body[class*=bz_group_] {
    background-color: inherit;
    background-image: url(../../images/noise.png), -moz-linear-gradient(#d7d7ff, #f0f0ff 400px);
    background-image: url(../../images/noise.png), -webkit-linear-gradient(#d7d7ff, #f0f0ff 400px);
    background-image: url(../../images/noise.png), linear-gradient(#d7d7ff, #f0f0ff 400px);
}

body[class*=core-security],
body.bz_group_infrasec {
    background-image: url(../../images/noise.png), -moz-linear-gradient(#ffe0b0, #fff4e3 400px);
    background-image: url(../../images/noise.png), -webkit-linear-gradient(#ffe0b0, #fff4e3 400px);
    background-image: url(../../images/noise.png), linear-gradient(#ffe0b0, #fff4e3 400px);
}

body.bz_group_webtools-security,
body.bz_group_websites-security,
body.bz_group_bugzilla-security {
    background-image: url(../../images/noise.png), -moz-linear-gradient(#ffcccc, #fff0f0 400px);
    background-image: url(../../images/noise.png), -webkit-linear-gradient(#ffcccc, #fff0f0 400px);
    background-image: url(../../images/noise.png), linear-gradient(#ffcccc, #fff0f0 400px);
}

body.bz_group_client-services-security,
body.bz_group_cloud-services-security {
    background-image: url(../../images/noise.png), -moz-linear-gradient(#ffffa3, #ffffe3 400px);
    background-image: url(../../images/noise.png), -webkit-linear-gradient(#ffffa3, #ffffe3 400px);
    background-image: url(../../images/noise.png), linear-gradient(#ffffa3, #ffffe3 400px);
}

