/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

[role="button"] {
  outline: 0;
  border: 0;
  padding: 0 !important;
  color: inherit;
  background: none transparent !important;
  box-shadow: none !important;
  font-size: inherit;
  font-weight: normal;
  transition: none;
}

[role="button"] * {
  pointer-events: none;
}

[role="tree"] {
  display: block;
  margin: 16px 0 0 22px;
  padding: 0;
}

[role="tree"] ul {
  display: block;
  margin: 0;
  padding: 0 0 0 44px;
}

[role="tree"] li {
  display: block;
  margin: 8px 0;
  padding: 0;
  list-style-type: none;
}

[role="tree"] .icon::before {
  font-family: 'Material Icons';
  font-size: 18px;
  line-height: 100%;
  vertical-align: top;
}

[role="treeitem"][aria-expanded] {
  margin-left: -22px;
}

[role="treeitem"][aria-expanded="true"] > .expander .icon {
  transform: rotate(90deg);
}

[role="treeitem"][aria-expanded="false"] > .expander .icon {
  transform: rotate(0);
}

[role="treeitem"][aria-expanded="false"] [role="group"] {
  display: none;
}

.expander {
  width: 18px;
  height: 18px;
}

.expander .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  transform-origin: center;
  transition: transform .2s;
}

.expander .icon::before {
  content: '\E037';
}

.tree-link .icon::before {
  content: '\E0B8';
}

.duplicate-highlighter[aria-pressed="true"] {
  color: rgb(var(--accent-color-red-1));
}

.duplicate-highlighter .icon::before {
  content: '\E417';
}

.summary.highlight .bug-link {
  background-color: var(--selected-control-background-color) !important;
  font-weight: 500 !important;
}

.summ_info {
  display: none; /* change to inline if you would like to see the full bug details displayed in the list */
  font-size: 75%;
}
