/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

ul.tree {
    padding-left: 0em;
    margin-left: 1em;
    display: block;
}

ul.tree ul {
    padding-top: 3px;
    display: block;
}

ul.tree li { 
    /* see http://www.kryogenix.org/code/browser/aqlists/ for idea */
    padding-top: 3px; 
    text-indent: -1.2em; 
    padding-left: 0.5em; 
    padding-bottom: 3px;
    list-style-type: none;
    background: url("dependency-tree/bug-item.png") no-repeat;
}

ul.tree li a.b {
    padding-left: 30px; 
    margin-right: -14px; 
    text-decoration: none;
}

ul.tree li a.b_open {
    background: url("dependency-tree/tree-open.png") center no-repeat;
    cursor: pointer;
}

ul.tree li a.b_closed {
    background: url("dependency-tree/tree-closed.png") center no-repeat;
    cursor: pointer;
}

ul.tree a.tree_link img {
    border: 0;
}

.summ_info {
    /* change to inline if you would like to see the full bug details
     * displayed in the list */
    display: none; 
    font-size: 75%;
}

.hint {
    font-size: 90%;
    margin: 0.2em;
    padding: 0.1em;
}

.hint h3, .hint ul {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.summ A, .summ_deep A {
    text-decoration: none;
    color: darkblue;
}

.summ_deep {
}

.summ_h A {
    background-color: #ffffaa;
    color: #333;
    font-weight: bold;
}
