/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#duplicates_table .resolved {
  color: var(--secondary-label-color);
  text-decoration: line-through;
}

#duplicates_table thead tr th {
  vertical-align: middle;
}

#duplicates_table tbody td {
  text-align: center;
}

#duplicates_table tbody td.short_desc {
  text-align: left;
}
