/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#duplicates_table {
  border-collapse: collapse;
}

#duplicates_table .resolved {
  background-color: #d9d9d9; 
  color: black;
}

#duplicates_table thead tr {
  background-color: #ccc;
  color: black;
}

#duplicates_table thead tr th {
  vertical-align: middle;
}

#duplicates_table td, #duplicates_table th {
  border: 1px solid black;
  padding: .1em .25em;
}

#duplicates_table tbody td {
  text-align: center;
}
#duplicates_table tbody td.short_desc {
  text-align: left;
}
