/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* global (begin) */
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url(global/opensans.woff) format('woff');
    }

    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(global/opensans-semibold.woff) format('woff');
    }

    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url(global/opensans-bold.woff) format('woff');
    }

    body {
        font-family: sans-serif;
        color: #404040;
        background: #f6f4ec;
        background-image: url(global/noise.png);
        background-image: url(global/noise.png), -moz-linear-gradient(#d7d3c8, #f6f4ec 400px);
        background-image: url(global/noise.png), -webkit-linear-gradient(#d7d3c8, #f6f4ec 400px);
        background-image: url(global/noise.png), linear-gradient(#d7d3c8, #f6f4ec 400px);
        background-repeat: repeat, repeat-x;
        padding: 15px 15px 2px 15px;
        margin: 0;
    }

    body, td, th, input, dt, #titles {
        font-family: Verdana, sans-serif;
        font-size: small;
    }

    body, td, th, input, select, option, optgroup, .text_input {
        font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

    /* header and footer are required for IE8. IE9+ support them natively.
     * main is required for all IE versions and KHTML-based browsers.
     * Other browsers support them natively already. */
    header, main, footer {
        display: block;
    }

    /* monospace is much smaller than Verdana by default, so we make it a bit bigger. */
    pre, code, kbd {
        font-size: medium;
    }

    #bugzilla-body {
        background: none;
        border: none;
        color: #404040;
        margin: 10px auto 15px;
        padding: 0;
        width: 99%
        clear: both;
    }

    #bugzilla-body th {
        font-weight: bold;
        vertical-align: top;
    }

/* global (end) */

/* header (begin) */
    #header {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #e5e3dc;
        background: -moz-linear-gradient(#e5e3dc, #ecebe5);
        background: -webkit-linear-gradient(#e5e3dc, #ecebe5);
        background: linear-gradient(#e5e3dc, #ecebe5);
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 2px solid rgb(255, 255, 255);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        margin: -15px -15px 0 -15px;
        margin-bottom: 1em;
        color: transparent;
    }

    #header .subheader {
        text-align: left;
        padding-left: 10px;
    }

    #header .wrapper {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: -1px auto 0px;
        width: 99%;
    }

    #header .wrapper:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }

    #header a, #header a:visited, #footer a, #footer a:visited {
        color: #0095dd;
        text-decoration: none;
    }

    #header a:hover, #footer a:hover {
        color: #00539f;
    }

    #header form, #header form input,
    #footer form, #footer form input
    {
        font-size: 95%;
        display: inline;
    }

    #header .form a {
        margin: 0;
    }

    #header .links {
        background: transparent;
        border: none;
        border-radius: 0;
        color: #404040;
        position: relative;
        padding: 0.5em;
        width: auto;
    }

    #lang_links_container {
        float: right;
        white-space: nowrap;
    }

    #lang_links_container .links {
        border: none;
        padding: .5em;
    }

    .lang_current {
        font-weight: bold;
    }

    #message {
        border: 1px solid green;
        margin: 0.3em 0em;
        padding: 0.3em 0.5em;
        color: green;
    }

    #bugzilla_version {
        float: right;
        color: #888;
        padding 5px 20px;
    }

    form.mini_login input.bz_login  {
        width: 10em;
    }
    form.mini_login input.bz_password {
        width: 6em;
    }
    form.mini_login input.bz_remember {
        margin: 0;
    }

/* header (end)   */

/* banner (begin) */
    #banner {
    }

/* banner (end) */

/* titles (begin) */
    #titles {
        width: 95%;
        background-color: transparent;
        color: #000;
        padding: 10px 10px 0px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;
        vertical-align: bottom;
        display: table;
    }

    #titles a {
        color: #fff;
    }

    #titles p {
        margin: 0;
        padding: 0;
    }

    #titles #title {
        font-weight: bold;
        padding: 0.5em;
        white-space: nowrap;
        display: table-cell;
    }

    #title {
        width: 150px;
        font-size: 120%;
        padding: 0px 0px 0px 5px;
    }

    #titles #subtitle {
        font-weight: normal;
        text-align: center;
        padding: 0.5em;
        display: table-cell;
   }

    #titles #information {
        font-weight: normal;
        text-align: right;
        font-size: 90%;
        padding: 0.5em;
        white-space: nowrap;
        display: table-cell;
    }

    #information {
        text-align: left;
    }

    #information p {
        float: right;
        color: #888;
        padding: 5px 20px;
    }

/* titles (end) */

/* footer (begin)
 * See also the "header" section for styles that apply
 * to both the header and footer. 
 */
    #footer {
        background: #fff;
        color: #bbb;
        width: auto;
        clear: both;
        margin-top: 1em;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    #footer #useful-links {
        padding-left: 1ex;
        padding-right: 1ex;
    }

    #footer ul {
        list-style-type: none;
    }
    #links-saved ul {
        display: inline;
    }
    #links-saved th {
        vertical-align: top;
    }

    #footer .label {
        white-space: nowrap;
        vertical-align: top;
    }

    #footer .links {
        vertical-align: top;
    }

    #footer .links .quicksearch_form {
        display: none;
    }
/* footer (end) */

/* link lists (begin) */
    ul.links {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul.links li {
        display: inline;
        white-space: nowrap;
    }
/* link lists (end) */

/* tabs (begin) */
    table.tabs {
        border-collapse: separate;
        border-spacing: 1em 0;
        width: 100%;
    }

    .tabs th, .tabs td {
        padding: 1em;
    }

    .tabs td {
        background: rgba(255,255,255,0.5);
        padding: 1em;
        text-align: center;
        border-style: none;
        font-size: 12px;
        text-transform: uppercase;
        border-color: black;
        border-width: 0px 0px 2px 0px;
    }

    .tabs td.selected {
        background: white;
        font-weight: 700;
        border-width: 2px 2px 0px 2px;
    }

    .tabs td.spacer {
        background: transparent;
    }

    .tabs a {
        color: #333;
    }

    .tabbody {
        background: white;
        padding: 1em 2em;
    }
/* tabs (end) */

/* generic (begin) */
    a {
        color: #0095dd;
        text-decoration: none;
    }

    a:visited {
        color: #636;
    }

    a:hover, #header a:hover, #footer a:hover {
        color: #00539f;
    }

    a:active {
        color: #000;
    }

    .clickable_area {
        cursor: pointer;
    }

    textarea {
        font-family: monospace;
    }

    hr {
        border: none
        height: 1px;
        color: #ccc;
        background-color: #ccc;
        margin: 1em 0;
    }

    #changeform hr {
        display: none;
    }
/* generic (end) */

#login_form {
    border: solid;
    margin: 2em auto;
    padding: 1em;
    width: 35em;
}

#login_form #Bugzilla_login, #login_form #Bugzilla_password,
#forgot_password #loginname {
    width: 25em;
}

#login_form .links {
    text-align: center;
    padding: 1em;
}

/* Links that control whether or not something is visible. */
a.controller {
    font-size: 115%;
}

div#docslinks {
    float: right;
    border: 1px solid black;
    padding: 1ex;
    font-size: 80%;
}

#docslinks h2 {
    margin: 0;
}

.rss {
    background: transparent url(../../images/rss_small.png) no-repeat;
    padding-left: 16px;
    line-height: 1.5em;
}

/**************************/
/* Bug links and statuses */
/**************************/
.links a {
    margin: 0 10px 0 10px;
}

.links .home {
    font-weight: bold;
}

.links .separator {
    display: none;
}

.bz_bug_link {
    /* Catch-all if you want common styles for all bug links */
}

.bz_bug_link.bz_status_UNCONFIRMED {
    font-style: italic;
}

.bz_obsolete {
    text-decoration: line-through;
}
.bz_inactive {
    text-decoration: line-through;
}
.bz_closed,
.bz_CLOSED td {
    text-decoration: line-through;
}
.bz_private {
    color: darkred;
    background: #f3eeee;
}
.bz_disabled {
    color: #a0a0a0;
}

/************/
/* Comments */
/************/

.bz_comment_table td {
    vertical-align: top;
}

.bz_comment_table .bz_comment {
    width: 65em !important;
}

.bz_comment pre, #comment {
    font: 13px/1.2 "Droid Sans Mono", Menlo, Monaco, "Courier New", Courier, monospace;
}

.bz_comment {
    width: 65em;
    margin: 0 0 20px;
    margin-bottom: 2em;
}

/* tbody.file pre is for the Diff view of attachments. */
pre.bz_comment_text, .uneditable_textarea, tbody.file pre {
     font-family: monospace;
     white-space: pre-wrap;
}

.bz_comment_text {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 1px 0 0 0;
    overflow: auto;
    padding: 10px;
    position: relative;
    width: auto;
}

.bz_comment_text:after, .bz_comment_text:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz_comment_text:after {
    border-bottom-color: #fff;
    border-width: 8px;
    left: 16px;
}

.bz_comment_text span.quote {
    color: #65379c;
    /* Make quoted text not wrap. */
    white-space: pre;
    overflow: auto;
    display: block;
}

.bz_comment_text span.quote, .bz_comment_text span.quote_wrapped {
    background: #eee !important;
    color: #444 !important;
    display: block !important;
    margin-top: 5px !important;
    margin-bottom: -10px !important;
    overflow: auto;
    padding: 5px !important;
}

.bz_comment_text table {
    border-collapse:collapse;
}

.bz_comment_text table, .bz_comment_text th, .bz_comment_text td {
    border: 1px solid #969696;
    padding: 2px;
}

.bz_comment_text thead, .bz_comment_text tbody {
     border-top: 2px solid black;
     border-bottom: 2px solid black;
}

.bz_comment_user, .bz_comment_time, .bz_comment_number, 
.bz_private_checkbox, .bz_comment_actions
{
    margin: 0 .5em;
}

.bz_comment_actions, .bz_comment_number, .bz_private_checkbox {
    float: right;
}

.bz_comment_actions {
    margin: 0px 0px;
}

.new_user {
    margin-left: 10px;
}

.bz_collapse_expand_comments {
    padding: 0;
    margin: 0 0 0 1em;
    list-style-type: none;
}
.bz_collapse_expand_comments li {
    margin-bottom: .5em;
    white-space: nowrap;
}
.bz_collapse_comment {
    text-decoration: none;
}

#add_comment {
    border: 1px solid #ccc;
    border-width: 1px 0;
    margin-bottom: 20px;
    padding: 10px 0;
}

#add_comment > table {
    border-collapse: collapse;
    width: 661px;
}

.bz_private_checkbox input { 
    margin: 0;
    vertical-align: middle;
}

.bz_comment_head, .bz_first_comment_head {
    font-weight: normal;
    line-height: 32px;
    padding-bottom: 2px;
    padding-left: 0px;
    margin-left: -5px;
    white-space: nowrap;
    background-color: transparent;
    padding-top: .1em;
    background-color: #e0e0e0;
}

.bz_comment_head img, .bz_first_comment_head img {
    vertical-align: middle;
}

.bz_comment_user a {
    -moz-transition: all 0.25s linear 0s;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    color: #0095dd;
    padding: 0px;
    margin: 0px;
}

.bz_comment_user a:hover {
    -moz-transition: all 0.25s linear 0s;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    background: #fff;
    border: none;
    text-decoration: none;
}

.bz_comment_user .vcard {
    font-weight: bold;
}

.bz_comment_user_images img {
    vertical-align: middle;
}

.bz_comment_hilite pre {
    background-color: lightgreen;
    margin: 0;
    padding: 1em 0;
}

.bz_comment_collapse_reason,
.bz_default_collapsed .bz_comment_number {
    font-weight: normal;
}

/** End Comments **/

/** Markdown **/
blockquote.markdown {
    border-left: 0.2em solid #CCC;
    color: #65379C;
    padding: 0 1em;
    margin-left: 0.5em;
    margin-bottom: 0em;
    white-space: normal;
}
/** End Markdown **/

.bz_default_hidden, .bz_tui_hidden, .bz_hidden_field, .bz_hidden_option {
    /* We have !important because we want elements with these classes to always
     * be hidden, even if there is some CSS that overrides it (we use these
     * classes inside JavaScript to hide things). */
    display: none !important;
}

table#flags th,
table#flags td {
    vertical-align: middle;
    text-align: left;
}

#flags label {
    font-weight: normal;
}

#email_prefs, #saved_search_prefs, #shared_search_prefs,
#bug_activity {
    border: 1px solid black;
    border-collapse: collapse;
}

#email_prefs th,
#shared_search_prefs th,
#saved_search_prefs th {
    text-align: center;
}

#email_prefs th, #email_prefs td,
#shared_search_prefs th, #shared_search_prefs td,
#saved_search_prefs th, #saved_search_prefs td,
#bug_activity td {
    border: 1px solid;
    padding: 0.3em;
}

#email_prefs th.role_header {
    width: 10%;
}

#bug_activity td {
    vertical-align: top;
}

#user_prefs th, #user_prefs td {
    padding: 0.5em;
}

#permissions {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

#permissions p {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#permissions li {
    list-style-type: none;
}

#permissions table td {
    vertical-align: top;
}

.column_header {
    background-color: transparent;
}

.column_header th {
    text-align: center;
}

.flag_select {
    min-width: 3em;
}

input.requestee {
    width: 15em;
}

#error_msg {
    font-size: x-large;
}

#error_msg a {
    color: #6070cf;
    text-decoration: underline;
}

#error_msg a:visited {
    color: #636;
}

#error_msg a:hover {
    color: #8090ef;
}

#post_err_msg, form#check {
    clear: both;
}

.warning {
  color: red;
}

.throw_error {
    background-color: red;
    color: black;
    font-size: 120%;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    float: left;
}

.label {
    font-weight: bold;
}

form.table_layout div {
    margin-bottom: 0.4em;
}

form.table_layout label {
    font-weight: bold;
    width: 8em;
    display: inline-block;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.throw_error a:visited {
    color: darkblue ;
}

dt {
    font-weight: bold;
}
body > dl > dt {
    border-top: dotted gray thin;
}
dl dl > dt {
    border-top: none;
}

/* Arrow buttons are buttons with only &uarr;, &darr;, &larr; or &rarr; on
 * them. We want these to look a little less spidery. */
.arrow_button {
    font-size: 150%;
}

/* Style of the attachment table and time tracking table */
#attachment_table {
    background: #fff;
    border-collapse: collapse;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#attachment_table th, .bz_attach_footer, .bz_time_tracking_table th {
    background: #eee;
    color: #404040;
}

#attachment_table th, .bz_attach_footer, .bz_time_tracking_table th,
.dependency_tree_controls {
    background-color: #E0E0E0;
    color: black;
}

#attachment_table .bz_attach_actions {
    white-space: nowrap;
}

#attachment_table td {
    border: none;
}

#attachment_table td, .bz_time_tracking_table th, .bz_time_tracking_table td {
    border: 1px solid #333333;
}

#attachment_table th, #attachment_table td {
    padding: 0.3em;
}

.file_table, .file-table {
    background: #ffffff;
}

.bz_attach_extra_info, .bz_info {
    font-size: smaller;
}

.bz_attach_flags, .bz_attach_footer, .bz_flags, .nowrap {
    white-space: nowrap;
}

.bz_attach_view_hide {
    float: right;
    padding-left: 1em;
}

#user_match_table {
    border-collapse: collapse;
}

#user_match_table td {
    vertical-align: top;
    border-bottom: 1px solid black;
    padding: 1em 0.5em;
}

div.user_match {
    margin-bottom: 1em;
}

.indented {
    margin-left: 3em;
}

.box {
    border: 1px solid black;
    color: black;
    background-color: #ffc;
    margin: 1em;
    padding: 0.5em 1em;
}

.collapsed,
.bz_default_collapsed .bz_private_checkbox,
.bz_default_collapsed .bz_comment_user,
.bz_default_collapsed .bz_comment_user_images,
.bz_default_collapsed .bz_comment_time,
.bz_default_collapsed .bz_comment_tags,
.bz_default_collapsed .bz_comment_text,
.bz_default_collapsed .bz_collapsed_actions
{
    display: none;
}

#serverpush_msg {
    margin-top: 20%;
    text-align: center;
    font-size: xx-large;
}

/* Rules specific for printing */
@media print {
    #header, #footer {
        display: none;
    }

    div.bz_query_buttons {
        display: none;
    }

    body {
        background-image: none;
        background-color: #fff;
    }
}

/* Smaller than standard 990 (devices and browsers) */
@media only screen and (max-width: 989px) {
    #header .links {
        float: none;
    }
}

/* Tablet Portrait size to standard 990 */
@media only screen and (min-width: 768px) and (max-width: 989px) {
    body {
        min-width: 768px;
    }

    #header .wrapper, #bugzilla-body {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 768px;
    }

    #footer > * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 768px;
    }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    table.edit_form, table.edit_form > tbody > tr > td {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 100% !important;
    }

    .bz_column_spacer {
        width: auto;
        height: 20px;
    }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        min-width: 480px;
    }

    #header .wrapper, #bugzilla-body, #attachment_table,
    .bz_comment, #add_comment > table, #comment {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 480px !important;
    }

    #footer > * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 480px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
    body {
        min-width: 100%;
    }

    #header .wrapper, #bugzilla-body, #attachment_table,
    .bz_comment, #add_comment > table, #comment {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100% !important;
    }

    #footer > * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}

/**************/
/* Bug Fields */
/**************/

.field_label {
    text-align: right;
    vertical-align: baseline;
    font-weight: bold !important;
    padding-right: 10px;
    white-space: nowrap;

}

.field_label a, .field_label b {
    color: #404040;
    font-weight: bold;
}

.field_help_link {
    cursor: help;
}
.field_value, form#Create th, form#Create td, .top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.field_value .text_input {
    width: 100%;
    min-width: 0;
}

.uneditable_textarea {
    max-width: 30em;
    font-size: medium;
}

th.required:before {
    content: "* ";
}
th.required:before, span.required_star {
    color: red;
}
input.required, select.required, span.required_explanation {
    background-color: #fff7cd;
    color: #000;
}

select[multiple], textarea, input[type=text], input[type=password], input:not([type]), .text_input, .yui-ac-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    border-radius: .25em;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 4px 3px 5px;
    color: #404040;
    vertical-align: top;
}

select[multiple], .text_input, .yui-ac-input, input {
    font-size: 1em;
}

select[multiple]:focus, textarea:focus, .text-input:focus, -yui-ac-input:focus, input:focus {
    border-color: #42a4e0;
    -webkit-box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
    -moz-box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
    box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
}

select, select[multiple] {
    font-size: 12px;
}

/* These classes are set by YUI. */
.yui-calcontainer {
    display: none;
    background-color: white;
    padding: 10px;
    border: 1px solid #404D6C;
}

.bug_urls {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

pre.field_textarea_readonly {
    margin: 2px;
    padding: 4px;
    overflow: auto;
    float: left;
    max-width: 30em;
    max-height: 7em;
    border: 1px solid #CCC;
    font-family: monospace;
    white-space: pre-wrap;
}

/* custom styles for inline instances of autocomplete input fields */
.yui-skin-sam .yui-ac-input { position:static !important;
                              vertical-align:middle !important; }
.yui-skin-sam .yui-ac-container { left:0px !important; }
.yui-skin-sam .yui-ac { display: inline-block; }
#bugzilla-body .yui-ac-content {
    max-height: 19em;
    overflow: auto;
    overflow-x: hidden;
}

#keywords_container {
    padding-top: .2em;
}


#keywords_container .yui-ac-content {
    margin-left: -1px;
}

#comment_tabs {
    margin-top: 2px;
    border-spacing: 0;
}

.comment_tab {
    display: table-cell;
    border: 1px solid silver;
    padding: 2px 1em;
    cursor: pointer;
    background: transparent;
}

.active_comment_tab {
    background: #fff;
    font-weight: bold;
}

#comment_preview {
    background: white;
    display: block;
    clear: both;
    border: 1px solid silver;
    padding: 1px;
    overflow: auto;
    margin: 0px;
}

#comment_preview_text {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 2px 2px 2px 1px;
    margin: 0px;
    width: auto;
}

.comment_preview_pre {
    white-space: pre;
}

#comment_preview_loading {
    font-style: italic;
}

#comment {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
}

/*******************/
/* Form Validation */
/*******************/

.validation_error_text {
    font-size: 120%;
    color: #B70000;
    font-weight: bold;
}

.validation_error_field, input.validation_error_field {
    border: 2px solid #B70000;
    background-color: #FFEBEB;
}

form th {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.middle {
    vertical-align: middle;
}

.inline {
    display: inline;
}

tr.shared_search {
    background-color: #fff7cd;
    color: #000;
}

.multi-columns {
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
}

/* index.cgi (begin) */

#page-index {
    padding: 0.2em 0.2em 0.15em 0.2em;
    max-width: none;
}

/* By default these contain nothing, but these CSS rules make things
   easier on customizers. */
.intro, .outro {
    text-align: center;
}

#new_release {
    border: 2px solid red;
    padding: 0.5em 1em;
    margin: 1em;
    font-weight: bold;
}

#new_release .notice {
    font-size: 80%;
    font-weight: normal;
}

#welcome-admin a {
    font-weight: bold;
}

.bz_common_actions {
    text-align: center;
}

.bz_common_actions ul {
    list-style-type: none;
    padding: 0;
}

.bz_common_actions ul li {
    display: inline;
    vertical-align: top;
}

.bz_common_actions ul li a {
    display: inline-block;
    height: 170px;
    width: 145px;
    margin: 0 2ex 2em 0;
}

.bz_common_actions ul li a span {
    position: relative;
    top: 90%;
    font-weight: bold;
}

.bz_common_actions a,
.bz_common_actions a:visited,
.bz_common_actions a:hover {
    text-decoration: none;
}

#quicksearchForm {
    clear: both;
    text-align: center;
    margin-bottom: 2em;
}

#quicksearchForm #quicksearch_main {
    width: 27em;
}

#quicksearchForm {
    margin: 0;
    padding: 0;
}

#quicksearch_top, #quicksearch_main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(global/search.png) 5px center no-repeat, #fafafa;
    background: url(global/search.png) 5px center no-repeat, -moz-linear-gradient(#fafafa, #fff);
    background: url(global/search.png) 5px center no-repeat, -webkit-linear-gradient(#fafafa, #fff);
    background: url(global/search.png) 5px center no-repeat, linear-gradient(#fafafa, #fff);
    padding: .4em 1em .45em 26px;
    width: 200px;
}

#enter_bug      { background: url(index/bugzilla-papericon.png) no-repeat; }
#query          { background: url(index/bugzilla-magnifier.png) no-repeat; }
#account        { background: url(index/bugzilla-person-alternate.png) no-repeat; }
#help           { background: url(index/bugzilla-questionmark2.png) no-repeat; }

#page-index table {
    border-collapse: collapse;
    margin: auto;
}

#page-index td:first-child {
    text-align: center;
}

#welcome {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0.8em 0;
    padding: 0;
}

#common_queries ul {
    list-style: none;
    padding-left: 1.5em;
}

#common_queries li a {
    text-decoration: none;
}

#quicksearch_links {
    margin-top: 10px;
}

.navigation {
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
}

u {
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

ul#quicksearch_links {
    margin-bottom: 1em;
}

ul.additional_links {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.additional_links li {
    display: inline;
}

ul.additional_links li.bz_default_hidden {
    display: none;
}

/* index.cgi (end) */

/* buttons (begin) */
button, input[type=submit], input[type=button], #commit, #commit_top, #header .btn, #header input[type=submit] {
    background-color: #43a6e2;
    background-image: -moz-linear-gradient(#43a6e2,#277ac1);
    background-image: -webkit-linear-gradient(#43a6e2,#277ac1);
    background-image: linear-gradient(#43a6e2,#277ac1);
    -moz-transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
    border-radius: .25em;
    border: 0px none;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    padding: .425em 1em .5em;
}

button:hover, input[type=submit]:hover, input[type=button]:hover, #commit:hover, #commit_top:hover, #header .btn:hover, #header input[type=submit]:hover {
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    -moz-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    -moz-transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
     transition: all linear 0.25s;
}

button:active, input[type=submit]:active, input[type=button]:active, #commit:active, #commit_top:active, #header .btn:active, #header input[type=submit]:active  {
    -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    -moz-transition: all linear 0.25s;
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

button[disabled], input[type=submit][disabled], input[type=button][disabled], button[disabled]:hover, input[type=submit][disabled]:hover, input[type=button][disabled]:hover, button[disabled]:active, input[type=submit][disabled]:active, input[type=button][disabled]:active {
    background-color: #bfc7cd;
    background-image: -moz-linear-gradient(#bfc7cd,#9ca3aa);
    background-image: -webkit-linear-gradient(#bfc7cd,#9ca3aa);
    background-image: linear-gradient(#bfc7cd,#9ca3aa);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.calendar_button, .calendar_button:hover {
    box-shadow: none;
    padding: 0;
}

/* buttons (end) */

/* page.cgi (begin) */

body.narrow_page #bugzilla-body > * {
    /* People have an easier time reading narrower columns of text. */
    max-width: 45em;
}

/*****************/
/* Release Notes */
/*****************/

.req_new {
    color: red;
}

.req_table {
    border-collapse: collapse;
}

.req_table td, .req_table th {
    border: 1px solid black;
    padding: .25em;
}

/********************/
/* QuickSearch Help */
/********************/

.qs_help li {
   margin-top: 1ex;
}

.qs_fields th {
    padding: 0 .25em;
}
.qs_fields th.field_nickname {
    text-align: left;
}
.qs_fields td {
    padding: .25em;
    border-top: 1px solid gray;
}
.qs_fields .field_name {
    width: 10em;
}

/***************/
/* fields.html */
/***************/

table.field_value_explanation {
    table-layout: fixed;
    border-collapse: collapse;
}

.field_value_explanation thead h2 {
    margin: 0;
}

.field_value_explanation .header_row td {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.field_value_explanation tbody td {
    border: 1px solid black;
    padding: 1em;
}

.field_value_explanation dt, .field_descriptions dt {
    margin-top: 1em;
}

.field_descriptions dt {
    font-size: 120%;
}

/* page.cgi (end) */

/* duplicates.cgi (start) */

#duplicates_table {
    border-collapse: collapse;
}

#duplicates_table .resolved {
    background-color: #d9d9d9;
    color: black;
}

#duplicates_table thead tr {
    background-color: #ccc;
    color: black;
}

#duplicates_table thead tr th {
    vertical-align: middle;
}

#duplicates_table td, #duplicates_table th {
    border: 1px solid black;
    padding: .1em .25em;
}

#duplicates_table tbody td {
    text-align: center;
}

#duplicates_table tbody td.short_desc {
    text-align: left;
}

/* duplicates.cgi (end) */


/* autocomplete */

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    color: #000;
    overflow: auto;
    cursor: pointer;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #426fd9;
    color: #FFF
}

.autocomplete-running {
    background-image: url("throbber.gif") !important;
    background-repeat: no-repeat !important;
    background-position: right 8px center !important;
}
