/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

.bz_comment_text, .uneditable_textarea, tbody.file pre {
     white-space: pre;
     word-wrap: break-word;
}

.component_table {
    margin-top: .5em;
}

form#Create #comp_desc {
    margin: .5em 1em;
}

#footer #useful-links li {
    padding-bottom: 0.8ex;
}

#footer .label {
    display: block;
    float: left;
    width: 8.2em;
    padding-bottom: 0.1ex;
}

#footer #links-actions .label {
    padding-top: 0.35em;
}

#footer .links {
    display: inline;
}

#bug_id_container, .search_field_grid, 
.search_email_fields, ul.bug_changes li { 
    zoom: 1;
    display: inline;
}

#keywords_container .yui-ac-content {
    _height: 30em; /* ie6 */
}

.bz_short_desc_column a, .bz_short_short_desc_column a {
    /* color:inherit */
    color: expression(this.parentNode.currentStyle['color']);
}
