/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* index page (begin) */

    #page-index
    {
        padding: 0.2em 0.2em 0.15em 0.2em;
        max-width: 1000px;
    }

    /* By default these contain nothing, but these CSS rules make things
       easier on customizers. */
    .intro, .outro {
        text-align: center;
    }

    /* Hide from NN4 */

    #new_release
    {
        border: 2px solid red;
        padding: 0.5em 1em;
        margin: 1em;
        font-weight: bold;
    }

    #new_release .notice
    {
        font-size: 80%;
        font-weight: normal;
    }

    #welcome-admin a
    {
        font-weight: bold;
    }

    .bz_common_actions {
        text-align: center;
    }
    .bz_common_actions ul {
        list-style-type: none;
        padding: 0;
    }
    .bz_common_actions ul li {
        display: inline;
        vertical-align: top;
    }
    .bz_common_actions ul li a {
        display: inline-block;
        height: 170px;
        width: 145px;
        margin: 0 2ex 2em 0;
    }
    .bz_common_actions ul li a span {
        position: relative;
        top: 90%;
        font-weight: bold;
    }
    .bz_common_actions a,
    .bz_common_actions a:visited,
    .bz_common_actions a:hover {
        text-decoration: none;
    }
    #enter_bug { background: url(index/file-a-bug.png)     no-repeat; }
    #query     { background: url(index/search.png)  no-repeat; }
    #account   { 
      background: url(index/new-account.png) no-repeat; 
      margin-right: 0;
    }
    
    #quicksearchForm
    {
        clear: both;
        text-align: center;
        margin-bottom: 2em;
    }
    
    #quicksearchForm #quicksearch_main
    {
        width: 27em;
    }
    
    #quicksearchForm
    {
        margin: 0;
        padding: 0;
    }
    
    #page-index table{
        border-collapse: collapse;
        margin: auto;
    }
    
    #welcome
    {
        font-size: x-large;
        font-weight: bold;
        text-align: center;
        margin: 0 0 0.8em 0;
        padding: 0;
    }
    
    ul.additional_links 
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    ul#quicksearch_links{
        margin-bottom: 1em;
    }
    
    ul.additional_links li
    {
        display: inline;
    }
    
    ul.additional_links li.bz_default_hidden
    {
        display: none;
    }
    
    input.quicksearch_help_text
    {
        color: #ccc;
    }
/* index page (end) */
