/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

 /* index page (begin) */

 #page-index {
   margin: 50px 0;
   padding: 0.2em 0.2em 0.15em 0.2em;
   max-width: none;
 }

 /* By default these contain nothing, but these CSS rules make things
    easier on customizers. */
 .intro,
 .outro {
   text-align: center;
 }

 #new_release {
   margin: 1em;
   border: 2px solid rgb(var(--accent-color-red-1));
   padding: 0.5em 1em;
   font-weight: bold;
 }

 #new_release .notice {
   font-size: var(--font-size-small);
   font-weight: normal;
 }

 #welcome-admin a {
   font-weight: bold;
 }

 #quicksearchForm {
   clear: both;
   text-align: center;
   margin-bottom: 2em;
 }

 #quicksearchForm #quicksearch_main {
   width: 27em;
 }

 #quicksearchForm {
   margin: 20px 0 0;
   padding: 0;
 }

 #page-index table {
   border-collapse: collapse;
   margin: auto;
 }

 #welcome {
   text-align: center;
   margin: 0 0 0.8em 0;
   padding: 0;
 }

 #tiles {
   display: flex;
   margin: 32px 0;
   padding: 0;
   list-style-type: none;
 }

 #tiles li {
   flex: none;
   margin: 0;
   padding: 0;
 }

 #tiles a {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   width: 160px;
   height: 160px;
   color: var(--secondary-label-color);
 }

 #tiles a:hover,
 #tiles a:focus,
 #tiles a:active {
   color: var(--hovered-link-text-color);
   text-decoration: none;
 }

 #tiles span {
   display: block;
 }

 #tiles .icon {
   width: 120px;
   height: 120px;
   font-size: 120px;
   line-height: 120px;
   font-family: "Material Icons";
   color: inherit;
 }

 #tile-docs .icon::before {
   content: "\E887";
 }

 #tile-search .icon::before {
   content: "\E8A0";
 }

 #tile-new-bug .icon::before {
   content: "\E89C";
 }

 #tile-prefs .icon::before {
   content: "\E8B8";
 }

 #tile-new-account .icon::before,
 #tile-login .icon::before {
   content: "\E853";
 }

 #tiles .label {
   margin-top: 4px;
 }

 ul.additional_links {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 ul#quicksearch_links {
   margin: 1em 0;
 }

 ul.additional_links li {
   display: inline;
 }

 ul.additional_links li.bz_default_hidden {
   display: none;
 }
