/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* This CSS is used by various informational pages in the
   template/en/default/pages/ directory. */

#main-inner {
  margin: 15px auto;
  /* People have an easier time reading narrower columns of text. */
  max-width: 50em;
}

#main-inner p,
#main-inner ul {
  font-size: var(--font-size-large);
  line-height: var(--line-height-comfortable);
}

/*****************/
/* Release Notes */
/*****************/

.req_new {
  color: rgb(var(--accent-color-red-1));
}

.req_table {
  border-collapse: collapse;
}

.req_table td,
.req_table th {
  border: 1px solid var(--grid-border-color);
  padding: .25em;
}

/********************/
/* QuickSearch Help */
/********************/

.qs_help li {
  margin-top: 1ex;
}

.qs_fields th {
  padding: 0 .25em;
}

.qs_fields th.field_nickname {
  text-align: left;
}

.qs_fields td {
  padding: .25em;
  border-top: 1px solid var(--grid-border-color);
  line-height: var(--line-height-comfortable);
}

.qs_fields .field_name {
  white-space: nowrap;
}

/***************/
/* fields.html */
/***************/

table.field_value_explanation {
  table-layout: fixed;
  border-collapse: collapse;
}

.field_value_explanation thead h2 {
  margin: 0;
}

.field_value_explanation .header_row td {
  text-align: center;
  font-size: var(--font-size-x-large);
  font-weight: bold;
}

.field_value_explanation tbody td {
  border: 1px solid var(--grid-border-color);
  padding: 1em;
}

.field_value_explanation dt,
.field_descriptions dt {
  margin-top: 1em;
}

.field_descriptions dt {
  font-size: var(--font-size-x-large);
}
