/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#menu {
  width: 16em;
  margin: 0 16px 0 0;
  border-collapse: collapse;
}

#menu a {
  color: inherit;
}

#menu td {
  padding: 8px 0 8px 8px;
  border-left: 4px solid transparent;
}

#menu td.selected_section {
  border-color: var(--selected-tab-border-color);
  color: var(--selected-tab-foreground-color);
  font-weight: 500;
}

#panel-content {
  border-radius: var(--primary-region-border-radius);
  padding: 32px;
  width: 90%;
  background-color: var(--primary-region-background-color);
  box-shadow: var(--primary-region-box-shadow);
}

#panel-content h2 {
  margin: 0 0 16px;
}

table td {
  vertical-align: top;
}

dt {
  margin: 8px 0;
  font-size: var(--font-size-h3);
}

dd {
  margin: 8px 0 16px;
}

dd dt {
  font-size: var(--font-size-h3);
}

.sortlist_separator {
  font-size: var(--font-size-small);
  font-weight: bold;
  background-color: var(--secondary-button-border-color);
}

.contribute {
  margin: 16px 16px 0 0;
  border: 1px solid var(--secondary-region-border-color);
  padding: 12px;
  background-color: var(--secondary-region-background-color);
  font-size: var(--font-size-small);
  line-height: var(--line-height-comfortable);
}
