/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#menu {
  width: 10em;
  margin-right: 0.5em;
  border: solid thin;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: center;
  color: black;
  background-color: #edf2f2;
  font-weight: normal;
}

#menu a:link, #menu a:visited {
  color: #039;
  background-color: transparent;
}

#menu a:hover, #menu a:active {
  color: red;
  background-color: transparent;
}

#menu td {
  border: solid thin;
  padding: 0.2em 0.5em;
}

div.table {
    display: inline-table;
}

div.cell {
    display: table-cell;
    vertical-align: top;
}

td.selected_section {
  color: #090;
  background-color: white;
}

td.index {
  color: black;
  background-color: #edf;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5em;
}

.sortlist_separator {
    font-weight: bold;
    font-size: 80%;
    background-color: #dddddd;
}

.contribute {
    border: 1px dotted black;
    padding: .5em;
    font-size: small;
}
