/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* describecomponents.cgi */

#components_header_table {
  margin-bottom: 1em;
}

.product_container {
  width: 65%;
}

.product_name {
  font-weight: bold;
  font-size: 150%;
  margin: 0;
}

.product_desc {
  /* This is padding instead of margin because it looks better 
   * with the scrollbar. */
  padding: 0 2em;
  font-style: italic;
  max-height: 5em;
  overflow: auto;
}

.instructions {
  font-weight: bold;
  font-size: 105%;
  padding-right: 1em;
}

.components_header {
  margin: 0;
  font-size: 140%;
  font-weight: bold;
}

.component_table {
  margin-top: -1em;
  margin-left: 2em;
}

.component_table thead th {
  padding-right: 1em;
  vertical-align: bottom;
  text-align: left;
}

.component_table td {
  border-bottom: 1px dotted gray;
}

.component_table td.component_assignee,
.component_table td.component_qa_contact
{
  border: none;
  padding-top: .5em;
}

.component_name {
  font-size: 115%;
  font-weight: bold;
  padding-right: 1em;
  vertical-align: middle;
  min-width: 8em;
}

.component_description {
  padding-bottom: .5em;
  color: #333;
}

.t1 {
  background-color: #ffffff; /* white */
}

.t2 {
  background-color: #dfefff;  /* light blue */
}

.t3 {
  background-color: #dddddd;  /* grey */
}

.t4 {
  background-color: #c3d3ed; /* darker blue */
}

.ttotal, .ttotal td {
  background-color: #cfffdf; /* light green */
}

#graphical_report {
  max-width: 100%;
  height: auto;
}

.extra_info {
  font-size: smaller;
  font-style: italic;
}