/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#summary_field {
  padding: 1em;
  margin: 1em;
  background-color: var(--secondary-region-background-color);
  white-space: nowrap;
}

#bug_id_container {
  display: inline-block;
  padding-bottom: 1ex;
  vertical-align: top;
}

#bug_id_container input {
  width: 9em;
}

.container_date_from,
.container_date_to {
  padding-bottom: 1ex;
  width: 14em;
}

.container_date_from input,
.container_date_to input {
  width: 8em;
}

#bug_id_container input {
  width: 9em;
}

#bug_id_type {
  width: inherit;
  vertical-align: middle;
}

.search_field_grid {
  margin-top: 1em;
  display: inline-block;
}

.search_field_grid .field_help_link,
.history_query .field_help_link {
  display: block;
  text-align: left;
}

#chart .section_help {
  font-size: var(--font-size-small);
  font-weight: normal;
}

.bz_search_section .field_help {
  white-space: nowrap;
}

#bug_id_container .field_help {
  display: block;
}

.search_field_row {
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.search_field_row .container_date_from,
.search_field_row .container_date_to {
  display: inline;
}

#summary_field.search_field_row {
  display: block;
}

#summary_field.search_field_row input,
#summary_field.search_field_row select {
  display: inline;
  vertical-align: middle;
}

.search_field_row .field_label,
#field_label_short_desc {
  width: 14em;
  display: inline-block;
  margin-right: 0.8em;
}

#field_label_short_desc {
  text-align: right;
  vertical-align: middle;
}

#summary_field.search_field_row {
  width: inherit;
}

#keyword_container {
  padding-bottom: 0;
}

.search_field_grid .field_label {
  display: block;
  padding-bottom: 1ex;
}

.search_field_grid select {
  width: 17em;
  height: 15ex;
}

.search_field_grid,
.search_field_row {
  padding-left: 1.5em;
}

.search_email_fields {
  display: inline-block;
  width: 14.5em;
  padding-left: 1.5em;
}

ul.bug_changes {
  margin: 0;
  padding: 0;
}

ul.bug_changes li {
  display: inline-block;
  padding-left: 1.5em;
  width: 14.5em;
  vertical-align: top;
}

ul.bug_changes select {
  width: 15em;
}

ul.bug_changes li label {
  display: block;
}

div.bz_section_title {
  display: block;
  margin-top: 2em;
  font-size: var(--font-size-h3);
}

div.bz_section_title a {
  color: inherit;
  font-weight: bold;
}

div.bz_section_title span {
  margin-left: 1em;
  font-size: var(--font-size-medium);
  font-style: italic;
}

#queryform,
#reportform {
  margin-bottom: 2em;
}

#knob {
  margin-top: 2em;
}

.hide_people_filter #people_filter_section,
.hide_history_filter #history_filter_section,
.hide_detailed_information #detailed_information_section {
  display: none;
}

.arrow {
  display: inline;
}

.bz_search_section,
ul.bz_search_section {
  margin-top: 1em;
}

.bz_simple_search_form th {
  text-align: right;
}

/* let the browser choose the select height from the "size" param */
.search_field_grid select {
  height: auto;
}
