/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#summary_field {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  background-color: #eee;
  white-space: nowrap;
}

#bug_id_container { 
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 1ex;
}

#bug_id_container input {
  width: 9em;
}

.container_date_from, 
.container_date_to {
  width: 14em;
  padding-bottom: 1ex;
}
.container_date_from input,
.container_date_to input {
  width: 8em;
}

#bug_id_type{
  width: inherit;
}

.search_field_grid {
  margin-top: 1em;
  display: inline-block;
}

.search_field_grid .field_help_link, 
.history_query .field_help_link 
{
  display: block;
  text-align: left;
}

#chart .section_help {
  font-size: 0.8em; 
  font-weight: normal
}

#bug_id_container .field_help {
  font-size: 0.75em
}

.search_field_row {
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.search_field_row .container_date_from, .search_field_row .container_date_to {
  display: inline;
}

#summary_field.search_field_row {
  display: block;
}

#summary_field.search_field_row input, 
#summary_field.search_field_row select
{
  display: inline;
  padding-bottom: 0;
  vertical-align: middle;
}

.search_field_row .field_label, #field_label_short_desc  {
  width: 14em;
  display: inline-block;
  line-height: 2em;
  margin-right: 0.8em;
}

#field_label_short_desc {
  text-align: right;
}

.field_label_sup {
  font-weight: normal;
}

#summary_field.search_field_row {
  width: inherit;
}

#keywords_container {
  padding-bottom: 0;
}

.search_field_grid .field_label,
.search_field_grid .field_label
 {
  display: block;
  padding-bottom: 1ex;
}

.search_field_grid select {
  width: 17em;
  height: 15ex;
}

.search_field_grid, .search_field_row {
  padding-left: 1.5em;
}

.search_email_fields {
  display: inline-block;
  width: 14.5em;
  padding-left: 1.5em;
}

ul.bug_changes {
  margin: 0;
  padding: 0;
}

ul.bug_changes li {
  display: inline-block;
  width: 14.5em;
  vertical-align: top;
  padding-left: 1.5em;
}

ul.bug_changes select {
  width: 15em;
}

ul.bug_changes li label {
   display: block;
}

div.bz_section_title {
  display: block;
  margin-top: 2em;
  font-size: 1.2em;
}

div.bz_section_title a {
  font-weight: bold;    
}

div.bz_section_title span {
  font-size: 0.75em;
  margin-left: 1em;    
}  

#summary_field label {
  font-weight: bold;
}

#queryform, #reportform {
  margin-bottom: 2em;
}

#knob {
  margin-top: 2em;
}

.hide_people_filter #people_filter_section, 
.hide_history_filter #history_filter_section, 
.hide_detailed_information #detailed_information_section 
{
  display: none;
}

.arrow {
  display: inline;
  width: 16px;
  height: 16px;
}

.bz_search_section, ul.bz_search_section {
  margin-top: 1em;
}

.bz_simple_search_form th {
  text-align: right;
}

#tabular_reports_menu, #graphical_reports_menu {
    width: 30em;
    margin: 2em auto;
}

#tabular_reports_menu th, #graphical_reports_menu th {
    vertical-align: middle;
    white-space: nowrap;
    padding: 0.3em;
}

#tabular_reports_menu th {
    text-align: center;
}

#graphical_reports_menu th {
    text-align: left;
}

#graphical_reports_menu label {
    font-weight: normal;
}

th#reports_menu_multiple_tables {
    text-align: center;
    width: 15em;
    height: 15em;
    border: 1px solid black;
    border-collapse: collapse;
}
