/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

td {
  vertical-align: top;
}

table.zeroitems,
table.realitems {
  margin-left: 2em;
  margin-top: 2px;
  border: 1px solid var(--primary-region-border-color);
}

tr.section_total {
  color: var(--inverted-label-color);
  background: var(--selected-button-background-color);
}

td.subtotal {
  background: var(--grid-header-background-color);
}

.zeroitems .bug_header {
  background: var(--grid-subheader-background-color);
}

.zeroitems .bug_header2 {
  background: var(--grid-subheader-background-color);
}

/* the fixed headers -- .number uses bug_header so hack it here */
.number .bug_header,
.number .bug_header2 {
  background: var(--grid-subheader-background-color);
}

.owner_header {
  background: var(--grid-subheader-background-color);
}

/* the details headers */
.number .owner_header,
.owner .bug_header {
  background: var(--grid-background-color);
}

.number .owner_header2,
.owner .bug_header2 {
  background: var(--grid-subheader-background-color);
}
