/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

td { vertical-align: top }

table.zeroitems, table.realitems {
    margin-left: 2.0em;
    margin-top: 2px;
    border: 1px solid black;
    border: 1px solid black;
}

tr.section_total {
    background: #000000;
    color: #ffffff;
}

td.subtotal {
    background: #B0C0D9;
}

.zeroitems .bug_header { background: #d0e0f0 }
.zeroitems .bug_header2 { background: #f9f9f9 }

/* the fixed headers -- .number uses bug_header so hack it here */
.number .bug_header, .number .bug_header2 { background: #d0e0f0 }
.owner_header { background: #d0e0f0 }


/* the details headers */
.number .owner_header, .owner .bug_header { background: #ffffff }
.number .owner_header2, .owner .bug_header2 { background: #EFEFEF }

table.owner, table.number, table.zeroitems {
  width: 90%;
  border-collapse: collapse;
}

.owner th, .owner td, .number th, .number td,
.zeroitems th, .zeroitems td {
    padding: 0.2em;
}

.warning_swapped_data {
    border: 1px solid red;
    margin: 1em;
    padding: 0.5em;
}
