[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% RETURN UNLESS phabricator_revisions %]

[%
  phab_subtitle = [];
  IF phabricator_active_revision_count;
    phab_subtitle.push(phabricator_active_revision_count _ " active revision" _ (phabricator_active_revision_count == 1 ? "" : "s"));
  END;
%]

[% WRAPPER bug_modal/module.html.tmpl
    title = "Phabricator Revisions"
    subtitle = phab_subtitle
    collapsed = 0
%]
  [% INCLUDE phabricator/table.html.tmpl %]
[% END %]
