[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# this file allows us to pull in data defined in the BMO ext %]

[% IF products %]
  [% FOREACH product = products %]
    if (!products['[% product.key FILTER js %]'])
      products['[% product.key FILTER js %]'] = {};
    products['[% product.key FILTER js %]'].secgroup = '[% product.value FILTER js %]';
  [% END %]
[% END %]

