[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF san_tag == "bmo_check_cf_visible_in_products" %]
  Checking $cf_visibile_in_products for missing product names.

[% ELSIF san_tag == "bmo_check_cf_visible_in_products_missing" %]
  ... there are custom fields for [% cf_product FILTER html %] but it does not exist!

[% END %]