[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # classifications: array of hashes, with an 'object' key representing a
  #                  classification object and 'products' the list of
  #                  product objects the user can enter bugs into.
  # target:   the script that displays this template.
  # cloned_bug_id: ID of the bug being cloned.
  # format:   the desired format to display the target.
  #%]

[% IF target == "enter_bug.cgi" %]
  [% title = "Enter $terms.Bug" %]
  [% h2 = BLOCK %]First, you must pick a product on which to enter [% terms.abug %]: [% END %]
[% ELSIF target == "describecomponents.cgi" %]
  [% title = "Browse" %]
  [% h2 = "Select a product category to browse:" %]
[% END %]

[% DEFAULT title = "Choose a Product" %]
[% PROCESS global/header.html.tmpl %]

<h2>[% h2 FILTER html %]</h2>

<table>

[% FOREACH c = classifications %]
  [% IF c.object %]
    <tr>
      <th colspan="2" align="left">[% c.object.name FILTER html %]:
      [%+ c.object.description FILTER html_light %]</th>
    </tr>
  [% END %]

  [% FOREACH p = c.products %]
    <tr>
      <th valign="top">
        <a href="[% target %]?product=[% p.name FILTER uri -%]
              [%- IF cloned_bug_id %]&amp;cloned_bug_id=[% cloned_bug_id FILTER uri %][% END -%] 
              [%- IF format %]&amp;format=[% format FILTER uri %][% END %]">
        [% p.name FILTER html FILTER no_break %]</a>:&nbsp;
      </th>

      <td valign="top">[% p.description FILTER html_light %]</td>
    </tr>
  [% END %]

  <tr>
    <th colspan="2">&nbsp;</th>
  </tr>
[% END %]

</table>

[% PROCESS global/footer.html.tmpl %]
