[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

[% DEFAULT qs_suffix = "" %]
[% USE Bugzilla %]

<ul class="links">
  <li><a href="./">Home</a></li>
  <li><span class="separator">| </span><a href="enter_bug.cgi">New</a></li>
  <li><span class="separator">| </span><a href="describecomponents.cgi">Browse</a></li>
  <li><span class="separator">| </span><a href="query.cgi">Search</a></li>

  <li class="form quicksearch_form">
    <span class="separator">| </span>
    <form action="buglist.cgi" method="get"
      class='quicksearch_check_empty'>
    <input class="txt" type="text" id="quicksearch[% qs_suffix FILTER html %]" name="quicksearch"
           title="Quick Search" value="[% quicksearch FILTER html %]">
    <input class="btn" type="submit" value="Search"
           id="find[% qs_suffix FILTER html %]">
    [%-# Work around FF bug: keep this on one line %]</form>
    [<a href="page.cgi?id=quicksearch.html" title="Quicksearch Help">help</a>]
  </li>

  <li><span class="separator">| </span><a href="report.cgi">Reports</a></li>

  [% Hook.process('action-links') %]

</ul>

[% Hook.process("link-row") %]
[% BLOCK link_to_documentation %]
    [% IF doc_section && Param('docs_urlbase') %]
      <li>
        <span class="separator">| </span>
        <a href="[% docs_urlbase _ doc_section FILTER html %]" target="_blank">Help</a>
      </li>
    [% END %]
[% END %]
