[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

<div id="header-search-dropdown" class="dropdown-content right" role="listbox" style="display: none;">
  <div id="header-search-dropdown-wrapper">
    [% IF user.showmybugslink OR user.queries.size OR user.queries_subscribed.size %]
      <section id="header-search-dropdown-saved">
        <header>
          <h3>Saved Searches</h3>
          <a href="[% basepath FILTER none %]userprefs.cgi?tab=saved-searches">Edit</a>
        </header>
        <ul role="none">
          [% IF user.showmybugslink %][% filtered_username = user.login FILTER uri %]
            <li role="none"><a role="option" href="[% basepath FILTER none %][% Param('mybugstemplate').replace('%userid%', filtered_username) %]">
                My [% terms.Bugs %]</a></li>
          [% END %]
          [% FOREACH q = user.queries %][% IF q.link_in_footer %]
            <li role="none"><a role="option" href="[% basepath FILTER none %]buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% q.name FILTER uri %]">
                [% q.name FILTER html %]</a></li>
          [% END %][% END %]
          [% FOREACH q = user.queries_subscribed %]
            <li role="none"><a role="option" href="[% basepath FILTER none %]buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=
                [% q.name FILTER uri %]&amp;sharer_id=[% q.user.id FILTER uri %]"
                title="Shared by [% q.user.identity FILTER html %]">[% q.name FILTER html FILTER no_break %]</a></li>
          [% END %]
        </ul>
      </section>
    [% END %]
  </div>
</div>
