[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% IF cgi.param("help") %]
  <script type="text/javascript"> <!--
    [% FOREACH help_name = help_html.keys %]
      g_helpTexts["[% help_name FILTER js %]"] = 
        "[%- help_html.$help_name FILTER js -%]";
    [% END %]
    // -->
  </script>
[% END %]
