[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<div id="password-features"
     style="display: none"
     class="[% class FILTER html %]"
     data-password-page="[% password_page FILTER html %]"
     data-password-complexity="no_constraints">
  Password must be 8 characters or longer,
  and match at least 3 of the following requirements:

  <ul>
    <li id="password-feature-upper">uppercase letters</li>
    <li id="password-feature-lower">lowercase letters</li>
    <li id="password-feature-numbers">numbers</li>
    <li id="password-feature-symbols">symbols</li>
    <li id="password-feature-length12">longer than 12 characters</li>
  </ul>
  <div id="password-msg"></div>

  <div id="password-meter-label" style="display: none">Strength: <span id="password-meter" class="meter"></span></div>
</div>
