[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

<tr>
  <th class="field_label">Mentors:</th>
  <td colspan="3" class="field_value">
     [% INCLUDE global/userselect.html.tmpl
        id       = "bug_mentors"
        name     = "bug_mentors"
        size     = 30
        multiple = 5
        value    = bug_mentors
      %]
  </td>
</tr>
