/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#mydashboard .yui3-skin-sam .yui3-datatable-table {
    width: 100%;
}

.query_heading {
    font-size: 18px;
    font-weight: strong;
    padding-bottom: 5px;
    padding-top: 5px;
    color: rgb(72, 72, 72);
}

.query_description {
    font-size: 90%;
    font-style: italic;
    padding-bottom: 5px;
    color: rgb(109, 117, 129);
}

#mydashboard_container {
    margin: 0 auto;
}

#left {
    float: left;
    width: 58%;
}

#right {
    float: right;
    width: 40%;
}

.items_found, .refresh {
    font-size: 80%;
}

#query_list_container {
    text-align:center;
}

#query_list_container, 
#prod_comp_search_main {
    padding: 20px !important;
    height: 40px;
}
