[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  RETURN UNLESS comment.body || comment.count == 0;
  RETURN UNLESS user.is_insider
    || Param('edit_comments_group') && user.in_group(Param('edit_comments_group')) && comment.author.id == user.id;
  RETURN UNLESS
    comment.type == constants.CMT_NORMAL
    || comment.type == constants.CMT_DUPE_OF
    || comment.type == constants.CMT_ATTACHMENT_CREATED
    || comment.type == constants.CMT_ATTACHMENT_UPDATED;
%]

<button type="button" class="edit-btn minor iconic" aria-label="Edit">
  <span class="icon" aria-hidden="true"></span>
</button>
