/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

#header-requests {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px !important;
  width: 32px;
  height: 32px;
}

#header-requests-menu-button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: var(--application-header-background-color);
  background: var(--application-header-foreground-color);
}

#header-requests-menu-button .icon::before {
  font-size: 16px;
  content: '\E7F4';
}

#header-requests-menu-button .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 4px;
  min-width: 16px;
  height: 16px;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(var(--accent-color-red-1));
  font-size: 14px;
  font-weight: bold;
}
