[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From - Sat Jan  1 18:38:17 2011
X-Account-Key: account2
X-UIDL: GmailId12d42784d83cb4a4
X-Mozilla-Status: 0011
X-Mozilla-Status2: 00000000
X-Mozilla-Keys:
Return-Path: <foo@bar.com>
Received: from [192.168.0.2] (provider.com [51.162.153.14])
        by mx.google.com with ESMTPS id m10sm12712256wbc.4.2011.01.01.09.38.01
        (version=TLSv1/SSLv3 cipher=RC4-MD5);
        Sat, 01 Jan 2011 09:38:01 -0800 (PST)
Message-ID: <4D1F6580.9060076@gmail.com>
Date: Sat, 01 Jan 2011 18:38:08 +0100
User-Agent: Mozilla/5.0 (X11; U; Linux i686; fr; rv:1.9.2.13) Gecko/20101207 Lightning/1.0b2 Thunderbird/3.1.7
MIME-Version: 1.0
From: [% sender.email %]
Subject: [% terms.Bug %] created using email_in.pl (with email headers)
Content-Type: text/plain; charset="UTF-8"
Content-Transfer-Encoding: 8bit

@product = TestProduct
@component = TestComponent
@version = unspecified

This [% terms.bug %] has been created using email_in.pl (PID: [% pid %]) with email headers.
