/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

table.admin .disabled {
  color: var(--disabled-control-foreground-color);
  text-decoration: line-through;
}

#new_flag {
  margin: 1em 0em;
}

/**
 * edit
 */

.edit {
  margin-bottom: 2em;
}

.edit .header {
  font-size: var(--font-size-h3);
  font-weight: 500;
}

.edit .help {
  font-style: italic;
}

.edit td,
.edit th {
  padding: 1px 5px;
}

.edit th {
  text-align: left;
}

#edit_mode {
  margin: 1em 0em;
}

#flag_name {
  width: 20em;
}

#flag_desc {
  width: 20em;
}

#flag_sort {
  width: 10em;
}

.option_value {
  width: 10em;
}

.value_comment {
  width: 100%;
}

.hidden {
  display: none;
}

.txt_icon {
  font-family: var(--font-family-monospace);
}

.admin_error {
  border: 1px solid var(--error-message-foreground-color);
}

.admin_error_text {
  color: var(--error-message-foreground-color);
}
