[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]
  Confirm Group Control Change for product '[%- product.name FILTER html %]'
[% END %]

[% PROCESS global/header.html.tmpl title = title %]
[% FOREACH group = mandatory_groups %]
<P>
group '[% group.name FILTER html %]' impacts [% group.count %] 
[%+ terms.bugs %] for
which the group is newly mandatory and will be added.
[% END %]

[% FOREACH group = na_groups %]
<P>
group '[% group.name FILTER html %]' impacts [% group.count %]&nbsp;
[% terms.bugs %] for which the group is no longer applicable and will
be removed.[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <br>
     Click "Continue" to proceed with the change including the changes
     indicated above.  If you do not want these changes, use "back" to
     return to the previous page.
  <p>
    <input type="hidden" name="confirmed" value="confirmed">
    <input type="submit" id="update" value="Continue">
  </p>

</form>


[% PROCESS global/footer.html.tmpl %]
