[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  RETURN UNLESS user.in_group('editbugs');
  RETURN UNLESS bug.attachments.size && bug.is_unassigned && bug.has_current_patch;
%]
<div id="unassigned_with_patches">
  <img src="extensions/BMO/web/images/sign_warning.png" width="16" height="16">
  Unassigned [% terms.bug %] with patches attached
</div>
