[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
  RETURN UNLESS user.in_group('editbugs') || bug.assigned_to.id == user.id;
  RETURN UNLESS bug.attachments.size && bug.has_current_patch;
%]

[% IF bug.is_unassigned %]
  <div class="attachment-warning">
    <img src="extensions/BMO/web/images/sign_warning.png" width="16" height="16">
    Unassigned [% terms.bug %] with patches attached
  </div>
[% END %]

[% IF bug.missing_sec_approval %]
  <div id="sec-approval-warning" class="attachment-warning">
    <img src="extensions/BMO/web/images/sign_warning.png" width="16" height="16">
    <a href="https://wiki.mozilla.org/Security/Bug_Approval_Process" target="_blank">
      sec-approval required on patches before landing
    </a>
  </div>
[% END %]
