<!ENTITY bz-ver "4.4rc2">
<!ENTITY bz-date "2013-02-19">
<!ENTITY current-year "2013">

<!ENTITY min-perl-ver "5.8.1">
<!ENTITY landfillbase "http://landfill.bugzilla.org/bugzilla-tip/">
<!ENTITY bzg-bugs "http://bugzilla.mozilla.org/enter_bug.cgi?product=Bugzilla;component=Documentation">
