<!ENTITY bz-ver "4.3.2">
<!ENTITY bz-date "2012-07-26">
<!ENTITY current-year "2012">

<!ENTITY min-perl-ver "5.8.1">
<!ENTITY landfillbase "http://landfill.bugzilla.org/bugzilla-tip/">
<!ENTITY bzg-bugs "http://bugzilla.mozilla.org/enter_bug.cgi?product=Bugzilla;component=Documentation">
