<!ENTITY bz-ver "4.4.5+">
<!ENTITY bz-date "2014-07-24">
<!ENTITY current-year "2014">

<!ENTITY min-perl-ver "5.8.1">
<!ENTITY landfillbase "http://landfill.bugzilla.org/bugzilla-4.4-branch/">
<!ENTITY bzg-bugs "http://bugzilla.mozilla.org/enter_bug.cgi?product=Bugzilla;component=Documentation">
