.. |min-perl-ver| replace:: 5.10.1
.. |landfillbase| replace:: http://landfill.bugzilla.org/bugzilla-tip/
.. |bzg-bugs|     replace:: http://bugzilla.mozilla.org/enter_bug.cgi?product=Bugzilla&component=Documentation
