[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF Param('user_info_class').split(',').contains('Persona') %]
Or, use your Persona account:
<img src="extensions/Persona/web/images/sign_in.png" onclick="persona_create_account()"
     width="95" height="25" align="absmiddle">

<form id="persona_form" method="POST" action="index.cgi">
  <input type="hidden" name="token" value="[% issue_hash_token(['login']) FILTER html %]">
  <input type="hidden" name="persona_assertion" id="persona_assertion" value="">
</form>
[% END %]
