[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the RequestWhiner Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Gervase Markham
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): Gervase Markham <written.to.the.glory.of.god@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% PROCESS 'global/field-descs.none.tmpl' %]

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>
      [[% terms.Bugzilla %]] [% subject FILTER html %]
    </title>
  </head>
  <body bgcolor="#FFFFFF">

<p>Here are your outstanding requests older than [% threshold FILTER html%] 
days:</p>

[% FOREACH request = requests.keys %]
<h3>[% request FILTER html %]</h3>

<ul>
  [% FOREACH bug = requests.$request %]
  <li>
    <a href="[% urlbase FILTER none %]show_bug.cgi?id=[% bug.id FILTER none %]">[% terms.Bug %]
    [%+ bug.id FILTER none %]: [% bug.summary FILTER html %]</a> ([% bug.age FILTER none %] days old)
  </li>
  [% END %]
</ul>

[% END %]

<p><a href="[% urlbase FILTER none %]request.cgi?action=queue&requestee=[% recipient.email FILTER uri %]&group=type">See all your outstanding requests</a>.</p>

<p>A href="https://wiki.mozilla.org/BMO/Handling_Requests">Get guidance on handling requests</a>.</p>

  </body>
</html>
