[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% CALL columns.splice(5, 0, { name => 'watch_user', heading => 'Watch User' }) %]

[% FOREACH my_component = product.components %]
  [% overrides.watch_user.name.${my_component.name} = {
        override_content => 1
        content          => my_component.watch_user.login
     }
  %]
[% END %]
