[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% IF panel.name == "groupsecurity" %]
  [% panel.param_descs.edit_comments_group =
    'The name of the group of users who can edit their own comments. ' _
    'Leave it blank to disable comment editing.'
  %]
  [% panel.param_descs.edit_comments_admins_group =
    'The name of the group of users who can edit any comments, and hide revisions where needed. ' _
    'Leave it blank to disable comment editing administrators.'
  %]
  [% panel.param_descs.allow_global_initial_comment_editing =
    'Allow anyone with the ability to edit comments to edit the description (comment 0) of any bug.'
  %]
[% END -%]
