[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/variables.none.tmpl %]
[% IF !header_done %]
  [% PROCESS bug_modal/header.html.tmpl %]
  [% PROCESS global/header.html.tmpl %]
  [% header_done = 1 %]
[% END %]

[%# Display a short summary of the change when a bug or attachment is created or updated.
  # The user will see a toast notification, and verbose messages are hidden by default. #%]
[% change_short_summary = '' %]

[% sentmail = c.flash("last_sent_changes") %]
[% FOREACH item = sentmail %]
  [% INCLUDE bug/process/results.html.tmpl
     id = item.id
     type = item.type
     recipient_count = item.recipient_count
   %]
  [% IF loop.first %]
    [% change_short_summary = BLOCK %]
      [% IF item.type == 'created' %]
        [% terms.Bug %] created.
      [% ELSE %]
        Changes submitted.
      [% END %]
      [%+ PROCESS "bug/process/bugmail.html.tmpl" recipient_count = item.recipient_count %]
    [% END %]
  [% END %]
[% END %]

[% sentattachmentmail = c.flash("last_sent_attachment_changes") %]
[% FOREACH item = sentattachmentmail %]
  [% INCLUDE "bug/process/attachment-results.html.tmpl"
     attachment = item.attachment
     type = item.type
     recipient_count = item.recipient_count
     content_type_method = item.content_type_method
   %]
  [% IF loop.first %]
    [% change_short_summary = BLOCK %]
      [% IF item.type == 'created' %]
        Attachment created.
      [% ELSE %]
        Attachment updated.
      [% END %]
      [%+ PROCESS "bug/process/bugmail.html.tmpl" recipient_count = item.recipient_count %]
    [% END %]
  [% END %]
[% END %]

[% INCLUDE bug_modal/edit.html.tmpl %]
[% PROCESS global/footer.html.tmpl %]
