[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% IF orange_factor %]
  <tr>
    <td valign="top">
      <label><b>Orange Factor:</b></label>
      (<a href="https://brasstacks.mozilla.com/orangefactor/?display=Bug&bugid=[% bug.bug_id FILTER url_quote %]">link</a>)
    </td>
    <td>
      [% IF cgi.user_agent.match('(?i)gecko') %]
        <canvas id="orange-graph" class="bz_default_hidden"></canvas>
        <span id="orange-count"></span>
      [% END %]
    </td>
  </tr>
[% END %]
